body{
	font-family:$font_helveticaneuemedium;
}
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
	@extend %extend_common;
}
body {
	@extend %extend_body;
}
article, aside, details, figure, figcaption, footer, header, hgroup, menu, nav, section {
	display: block;
}
h1 {
	@extend %extend_common;
	font-size: 24px;
	line-height: 28px;
	font-size: 22px;
	font-weight: bold;
	color: #4E2683;
	padding: 10px 0;
}
h2 {
	font-size: 22px;
	line-height: 26px;
}
h3 {
	font-size: 18px;
	font-weight: bold;
	color: #4E2683;
	padding: 5px 0;
	&.bluetxt {
		font-size: 20px;
		color: $color_minsk !important;
	}
	&.success {
		font-size: 18px !important;
	}
}
h4 {
	font-size: 16px;
}
h5 {
	font-size: 12px;
}
h6 {
	font-size: 10px;
}
p {
	@extend %extend_body;
}
blockquote {
	quotes: none;
	&:before {
		content: '';
		content: none;
	}
	&:after {
		content: '';
		content: none;
	}
}
.clearfix {
	&:before {
		display: table;
		content: " ";
	}
	&:after {
		display: table;
		content: " ";
		clear: both;
	}
}
.f-bold {
	font-weight: bold;
}
input[type="text"] {
	@extend %extend_brad0_bsnone;
}
input[type="password"] {
	@extend %extend_brad0_bsnone;
}
input[type="email"] {
	@extend %extend_brad0_bsnone;
}
button {
	@extend %extend_brad0_bsnone;
	span {
		color: $white!important;
		
		text-shadow: none !important;
	}
}
width100 {
	width: 100%;
}
.border-bottom-0 {
	border-bottom: solid 0!important;
}
.bgwhite {
	background: $white;
}
.bgdarkblue {
	background: #4D2473!important;
}
.bgEEEEEE {
	background: #EEEEEE;
}
.bgE7E7E7 {
	background-color: #E7E7E7!important;
}
.bdr-15-top {
	border-top: solid 20px $white;
}
.bdr {
	border: solid 0;
}
.bdrwhite {
	border: solid 1px $white!important;
}
.bglightgrey {
	background: #C9C7C8;
}
.bgtransparent {
	background: transparent;
}
.bggrey {
	background-color: #5A5B77;
	padding: 5px 10px 10px;
}
.bgdarkgrey {
	background-color: #C3C3C3;
}
.bgpurpule {
	background-color: #4F2E7F;
}
.bgF9F9F9 {
	background-color: #F9F9F9;
}
.font-purple {
	color: $color_minsk;
}
.font-vlightgrey {
	color: $color_suva_gray;
	color: $color_storm_dust !important;
}
.f-italic {
	font-style: italic;
}
.f-darkgrey {
	color: $color_storm_dust;
}
.f-0E9F80 {
	color: #0E9F80;
}
.bg4e2683 {
	background-color: $color_minsk;
}
.color-green {
	color: $color_japanese_laurel;
}
.gray_box {
	background-color: $color_mercury;
}
.padding-top-15 {
	pad-top: 15px;
}
.noborder {
	border: 0 !important;
}
.bordertop10 {
	border-top: 10px;
}
.text-capital {
	text-transform: uppercase;
}
.bgd7 {
	background: #D7D7D7;
}
.bgac {
	background: #ACACAC;
}
.font-helveticalight {
	font-family: $font_helveticalight;
}
.f-green {
	color: #99BB71;
}
.bgpurple1 {
	background-color: $color_minsk !important;
}
.fontcolor_vl {
	color: $color_comet;
}

.f-e98300 {
	color: $color_gold_drop;
}

.f-2c2f3b {
	color: $color_charade;
}
.pad-10 {
	padding: 10px;
}
.pad-5 {
	padding: 5px;
}
.pad-5-5-8-0 {
	padding: 5px 5px 8px 0;
}
.pad-5-5 {
	padding: 2px 5px;
}
.pad-top-10 {
	padding-top: 10px;
}
.pad-top-9 {
	padding-top: 9px;
}
.pad-top-0 {
	padding-top: 0;
}
.pad-left-20 {
	padding-left: 20px;
}
.pad-left-36 {
	padding-left: 36px;
}
.pad-left-26 {
	padding-left: 26px;
}
.pad-left-15 {
	padding-left: 19px;
}
.pad-l-15 {
	padding-left: 15px;
}
.pad-l-20 {
	padding-left: 15px;
}
.pad-r-20 {
	padding-right: 15px;
}
.pad-10-0 {
	padding: 10px 0;
}
.pad-0-10 {
	padding: 0 10px;
}
.pad-0 {
	padding: 0!important;
}
.pad-5-10 {
	padding: 5px 10px;
}
.pad-top-15 {
	padding-top: 15px;
}
.pad-top-42 {
	padding-top: 42px;
}
.pad-6-10-7 {
	padding: 7px 10px 6px;
}
.pad-7-10-8 {
	padding: 7px 10px 8px;
}
.pad-top-5 {
	padding-top: 5px;
}
.pad-30 {
	padding: 30px;
}
.pad-33 {
	padding: 33px;
}
.pad-19 {
	padding: 19px;
}
.pad-20 {
	padding: 20px;
}
@media screen and (-webkit-min-device-pixel-ratio:0) {
	.claimTypeInnerFormSideTwo {
		margin-top: 29px;
	}
}
.pad-bottom-5 {
	padding-bottom: 5px;
}
.pad-bottom-7 {
	padding-bottom: 7px;
}
.pad-bottom-20 {
	padding-bottom: 20px;
}
.pad-bottom-10 {
	padding-bottom: 10px;
}
.pad-bottom-15 {
	padding-bottom: 15px;
}
.pad-left-5 {
	padding-left: 5px;
}
.pad-left-10 {
	padding-left: 10px;
}
.pad-right-10 {
	padding-right: 10px;
}
.pad-right-20 {
	padding-right: 20px;
}
.pad-2-0 {
	padding: 2px 0;
}
.pad-8 {
	padding-top: 8px;
}
.pad-0-10-p {
	padding: 10px 10%;
}
.pad-0-5-0-0 {
	padding: 10px 5% 10px 0;
}
.pad-0-0-0-5 {
	padding: 10px 0 10px 5%;
}
.padright2pcage {
	padding-right: 17px;
}
.pad-top-20 {
	padding-top: 20px;
}
.pad-15-20 {
	padding: 15px 20px;
}
.pad-15-10-0 {
	padding: 15px 10px 0;
}
.pad-15 {
	padding: 15px;
}
.pad-0-15-15 {
	padding: 0 15px 15px;
}
.pad-0-10-10-10 {
	padding: 0 10px 10px;
}
.pad-10-10-10-0 {
	padding: 10px 10px 10px 0;
}
.pad-10-10-0-0 {
	padding: 10px 10px 0 10px;
}
.pad-10-20-10-10 {
	padding: 10px 20px 10px 10px;
}
.pad-right-5 {
	padding-right: 5px;
}
.pad-top-36 {
	padding-top: 46px;
}
.pad-bottom-1 {
	padding-bottom: 1px;
}
.pad-25-0-10 {
	padding: 25px 0 10px;
}
.pad-8-0 {
	padding: 8px 0;
}
.pad-12-0-5-0 {
	padding: 12px 0 5px;
}
.pad-0-15 {
	padding: 0 15px;
}
.pad-10-5 {
	padding: 10px 5px;
}
@supports (-webkit-appearance:none) {
	.claimTypeInnerFormSideTwo {
		margin-top: 34px;
	}
}
.m-t-10 {
	margin-top: 10px;
}
.margin-5-10 {
	margin: 5px 10px;
}
.margin-10-0 {
	margin: 10px 0;
}
.margin-15-10-0-10 {
	margin: 15px 10px 0;
}
.margin-10-5 {
	margin: 10px 5px;
}
.margin-10 {
	margin: 10px;
}
.margin-bottom-15 {
	margin-bottom: 15px;
}
.margin-bottom-10 {
	margin-bottom: 10px;
}
.margin-bottom-5 {
	margin-bottom: 5px;
}
.margin-bottom-5-for-vehicle {
	margin-bottom: 5px;
}
.margin-0-10 {
	margin: 0 10px;
}
.margin-top-10 {
	margin-top: 10px;
}
.margin-top-20 {
	margin-top: 20px;
}
.margin-top-30 {
	margin-top: 30px;
}
.margin-top-16 {
	margin-top: 16px;
}
.margin-top-7 {
	margin-top: 7px;
}
.margin-top-3 {
	margin-top: 3px;
}
.margin-top-40 {
	margin-top: 40px;
}
.margin-10-10-0-10 {
	margin: 10px 10px 0 10px;
}
.margin-10-0-0-10 {
	margin-top: 15px;
	margin-left: 10px;
}
.margin-10-10-10-0 {
	margin: 10px 10px 10px 0;
}
.margin-10-0-10-10 {
	margin: 10px 0 10px 10px;
}
.m-20-10 {
	margin: 20px 10px;
}
.mar-5-0 {
	margin: 5px 0;
}
.mar-top-15 {
	margin-top: 15px;
}
.mar-btm-0 {
	margin-bottom: 0;
}
.mar-0-10 {
	margin: 0 10px;
}
.m-5-0 {
	margin: 5px 0;
}
.m-11-0 {
	margin: 11px 0;
}
.marginleft30 {
	margin-left: 30px;
}
.marginright {
	margin-right: 30px;
}
.margin-left-15 {
	margin-left: 15px;
}
.margin-left-10 {
	margin-left: 10px;
}
.margin-right-10 {
	margin-right: 10px;
}
.margin-top-ten {
	margin-top: -10px;
}
.margin-right-5 {
	margin-right: 5px;
}
.margin-left-5 {
	margin-left: 5px;
}
.margin-top-5 {
	margin-top: 5px;
}
.margin-left-20 {
	margin-left: 20px;
}
.font-bold {
	font-weight: bold;
}
.font-normal {
	font-weight: normal;
}
.font-12 {
	font-size: 12px;
}
.font-13 {
	font-size: 13px;
}
.font-14 {
	font-size: 14px;
}
.font-15 {
	font-size: 15px;
}
.font-16 {
	font-size: 16px;
}
.font-18 {
	font-size: 18px;
}
.font-20 {
	font-size: 20px;
}
.font-22 {
	font-size: 22px;
}
.font-24 {
	font-size: 24px;
}
.font-26 {
	font-size: 26px;
}
.font-white {
	color: $white;
}
