.x-desktop {
	#dashboardscreen {
		padding: 30px;
		padding-bottom: 0;
	}
}
.x-tablet {
.dashboard_t_wrapper .productitem {
		background-size: 160px 160px;
		padding-top: 184px;
	}
}
.x-layout-card-item {
	background: $white;
	#dashboardscreen {
		background: url(#{$get-path-to-assets}/images/desktop_bg.png) repeat;
	}
}
#dashboardscreen {
	.x-form-label {
		background-color: $color_celeste !important;
		
		text-shadow: none !important;
		@include border-radius(0 !important);
		border: 0 !important;
		span {
			font-size: 14px;
		}
	}
	.x-button-pressing {
		@extend %extend_x-button-pressing;
	}
	.button_grey_vl_2 {
			@include pad_top_btm(4px) ;
			
		}
	h2 {
		color: $color_dove_gray;
		font-size: 16px;
		font-weight: bold;
		position: relative;
		display: inline-block;
		padding: 0 10px;
		background: url(#{$get-path-to-assets}/images/desktop_bg.png) repeat;
	}
	.expenditureType_1 {
		div {
			line-height: 22px;
			height: 38px !important;
		}
		input {
			height: 40px !important;
		}
	}
	.redColor {
		background: $color_red !important;
	}
	.button_grey_vl_2 span {
		text-align: center;
	}
	.fa-vl .border {
		background-color: $color_silver;
		border: 0;
		height: 1px;
		position: absolute;
		top: 12px;
		left: 0;
		width: 100%;
	}
	#novatedCarLeaseGraph .meter-vehicle span.inner-bar {
		background: $color_gossamer;
	}
	#animateId_TH span.inner-bar {
		background: $color_powder_blue;
	}
}
.dashboardscreen {
	text-align: left;
}
