.fa{
	@extend %extend_fa;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}
%extend_cal_aro{
	@extend %extend_fa;
	position:absolute;
	top:10px;
	text-shadow:none;
}
%extend_fa {
	display: inline-block;
	font: normal normal normal 14px/1 font_FontAwesome;
	text-rendering: auto;
}
%extend_fa-vl {
	position: absolute;
	top: 4px;
	left: 9px;
	font-size: 25px;
}
.fa_1 {
	display: flex;
	font: normal normal normal 14px/1 FontAwesome;
	text-rendering: auto;
}
.fa-vl {
	position: relative;
	.fa-check:before {
		@extend %extend_fa-vl;
	}
	.fa-close:before {
		@extend %extend_fa-vl;
		color: $color_gold_drop;
	}
	.fa-chevron-right:after {
		@extend %extend_fa-vl;
		@extend %extend_14;
	}
	.fa-chevron-down:after {
		@extend %extend_fa-vl;
		@extend %extend_14;
	}
}
.fa-sign-out {
	position: absolute;
	right: 10px;
	top: 10px;
	font-size: 25px;
	padding: 10px;
	&:before {
		color: $color_pale_slate;
	background-color: $color_gun_powder;
	padding: 6px;
	line-height: 50px;
	}
	&:hover:before {
		background-color: $color_puerto_rico;
		color: $white;
	}
}
.fa-chevron-left:before {
	@extend %extend_fa-vl;
	font-size: 16px;
	top: 35%;
}
.fa-chevron-left_1:before {
	left: 3px !important;
}
.fa-circle-o:before {
	@extend %extend_fa-vl;
	font-size: 20px;
	top: 12px;
}
.fa-circle-o-purple:before {
	color: $color_minsk;
}
.fa-circle-o-red:before {
	color: $color_alizarin_crimson;
}
.fa-circle-o-darkblue:before {
	color: $color_lochmara;
}
.fa-circle-o-orange:before {
	color: $color_gold_drop;
}
.fa-circle-o-ltblue:before {
	color: $color_powder_blue;
}
.fa-circle-o-grey:before {
	color: $color_nobel;
}
.fa-circle-o-green:before {
	color: $color_rio_grande;
}
.fa-check:before {
  content: "\f00c";
}
.fa-chevron-right:after {
  content: $fa_chevron_right;
}
.fa-chevron-down:after {
  content: $fa_chevron_down;
}
.fa-chevron-left:before {
  content: $fa_chevron_left;
}
.fa-remove:before,
.fa-close:before,
.fa-times:before {
  content: "\f00d";
}
.fa-circle-o:before {
  content: "\f10c";
}
.fa-remove:before,
.fa-close:before,
.fa-times:before {
  content: "\f00d";
}
.fa-check-circle:before {
  content: "\f058";
}
.fa-car:before {
  content: "\f1b9";
}
.fa-sign-out:before {
  content: "\f08b";
}