@font-face {
	font-family: $font_helveticaneuemedium;
	src: url('#{$get-path-to-assets}/fonts/helveticaneue_med-webfont.eot');
	src: url('#{$get-path-to-assets}/fonts/helveticaneue_med-webfont.eot?#iefix') format('embedded-opentype'), url('#{$get-path-to-assets}/fonts/helveticaneue_med-webfont.woff') format('woff'), url('#{$get-path-to-assets}/fonts/helveticaneue_med-webfont.ttf') format('truetype'), url('#{$get-path-to-assets}/fonts/helveticaneue_med-webfont.svg#helveticaneuemedium') format('svg');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: $font_helveticalight;
	src: url('#{$get-path-to-assets}/fonts/helveticalt.eot');
	src: url('#{$get-path-to-assets}/fonts/helveticalt.eot?#iefix') format('embedded-opentype'),  url('#{$get-path-to-assets}/fonts/helveticalt.woff') format('woff'),  url('#{$get-path-to-assets}/fonts/helveticalt.ttf') format('truetype'),  url('#{$get-path-to-assets}/fonts/helveticalt.svg#helveticalight') format('svg');
	font-weight: normal;
	font-style: normal;
}
@font-face {
  font-family: font_FontAwesome;
  src: url('#{$get-path-to-assets}/fonts/fontawesome.eot?v=4.2.0');
  src: url('#{$get-path-to-assets}/fonts/fontawesome.eot?#iefix&v=4.2.0') format('embedded-opentype'), url('#{$get-path-to-assets}/fonts/fontawesome.woff?v=4.2.0') format('woff'), url('#{$get-path-to-assets}/fonts/fontawesome.ttf?v=4.2.0') format('truetype'), url('#{$get-path-to-assets}/fonts/fontawesome.svg?v=4.2.0#fontawesomeregular') format('svg');
  font-weight: normal;
  font-style: normal;
}


%extend_brad0_bsnone{
	@include border-radius(0 !important);
	@include box_shadow(none !important);
}

%extend_common {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	vertical-align: baseline;
}
%extend_body {
	text-shadow: none !important;
	text-decoration: none;
	text-align: justify;
}

%extend_input{
	width: 89%;
	margin-left: 5px;
	margin-top: 0;
	min-height: 0;
	font-size: 14px;
	height: 30px;
}

%extend_list {
	background: url(#{$get-path-to-assets}/images/SS_listbg.png) 100% 100%;
	position: absolute;
	width: 100%;
	top: 0;
	left: 0;
	height: 103%;
	z-index: 0;
	border: solid 0!important;
}

%extend_smartmenu {
	/*background: url(#{$get-path-to-assets}/images/home_cat_icon1.png) no-repeat 20px center;*/
	background:url(#{$get-path-to-assets}/images/home_cat_icon1.png) no-repeat 20px center;
	background-size: 33px 32px;
	padding-left: 62px;
}

%extend_touchcalendar {
	background: url(#{$get-path-to-assets}/images/circle_blue.png) no-repeat center center $color_iron;
	border: 0;
	color: $color_blackcurrant;
	
	text-shadow: none;
	@include box_shadow(none);
}

%extend_button {
	background-color: #ACACAC!important;
	color: $white;
	background-repeat: no-repeat;
	border: 0 none;
	@include border-radius(0);
	padding: 13px 15px;
}

%extend_claimstepbtn{
	background-image: url(#{$get-path-to-assets}/images/w_arrow@2x.png)!important;
	background-position: 97.7778% center;
	background-size: 13px auto;
}

%extend_9 {
	position: relative;
	color: $color_mine_shaft!important;
	padding: 0;
	min-height: 2.1em;
	display: box;
	border-top: 1px solid #65C0D2!important;
	color: $white!important;
	font-size: 14px;
	line-height: 24px;
}
%extend_valign{
	top:50%;
	position:absolute;
	-webkit-transform: translate(-50%,-50%);
	  -ms-transform: translate(-50%,-50%);
		  transform: translate(-50%,-50%);
}
%extend_x-field-mask:after{
	content: $fa_chevron_down;
	@extend %extend_fa;
	color:$color_comet;
	font-size:14px;
	font-weight:bold;
	@extend %extend_valign;
	right:2px;
	line-height:39px;
}
.x-webkit .x-field-select .x-component-outer:after{
	-webkit-mask-size:0 !important;
}
%extend_calarrow {
	border: 0 !important;
	height: 21px !important;
}
%extend_14 {
	left: auto;
	right: 10px;
	top: 39%;
	font-size: 14px;
	background: transparent !important;
}

%extend_input_1 {
	height: 49px !important;
	width: 95%;
	padding: 19px 0 15px 5px !important;
	margin: 0 !important;
	border-sizing: border-box;
}

%extend_clear {
	@extend %extend_fa;
	content: "\f00d";
	font-size: inherit;
	
}

%extend_expenditure_input {
	height: 35px !important;
	font-size: 14px;
	padding-top: 10px;
}

%extend_expenselist {
	width: 67%;
	float: left;
	color: $color_comet !important;
}

%extend_x-field_input {
	height: 40px;
	font-size: 14px;
	padding-top: 8px;
}

%extend_x-button-pressing {
	background-color: $color_minsk !important;
	background-image: none !important;
	color: $white;
}
%extend_x-innerhtml {
	font-size: 18px;
	font-weight: normal;
	line-height: 30px;
	text-shadow: none!important;
	width: 100%;
	text-align: left;
}

%extend_x-button-label {
	border: solid 1px $white;
	padding: 4px;
	@include border-radius(0.4em);
}

%extend_expenseAmount {
	display: inline-block;
	width: 27%;
	text-align: right;
}

%extend_text_span {
	font-weight: normal;
	text-align: left;
	font-size: 14px;
	font-family: $font_helveticaneuemedium;
	//Instead of the line below you could use @includebox-sizing($bs)
	box-sizing: border-box;
	padding-top: 3px;
}

%extend_claimstepbtn_2 {
	background-image: url(#{$get-path-to-assets}/images/w_arrow_opp@2x.png)!important;
	background-position: 3.77777% center;
	background-size: 13px auto;
}
a {
	@extend %extend_body;
	color: #00F;
	&.button_close_vl {
		position: absolute;
		top: 49px;
		right: 13px;
		background-color: $color_celeste;
		width: 25px;
		height: 25px;
		color: $color_ironside_gray;
		@include border-radius(100%);
		text-align: center;
		padding-top: 5px;
		//Instead of the line below you could use @includebox-sizing($bs)
		box-sizing: border-box;
	}
}
q {
	quotes: none;
	&:before {
		content: '';
		content: none;
	}
	&:after {
		content: '';
		content: none;
	}
}
strong {
	font-weight: bold;
}
b {
	font-weight: bold;
}
ol {
	list-style: none;
}
ul {
	list-style: none;
	&.list_vl {
		padding: 0;
		margin: 0;
		li {
			padding: 0 0 0 5px;
			margin: 0 0 0 14px;
			list-style-type: disc;
		}
	}
}
form {
	&#vehicleRunningExpenseClaimPageId .x-scroll-scroller {
		width: inherit !important;
	}
}
label {
	&.budgetName {
		display: inline-block;
		text-align: left;
		width: 70%;
		font-size: 18px;
		overflow: hidden;
		text-overflow: ellipsis;
	}
	&.budgetAmount {
		display: inline-block;
		text-align: right;
		width: 25%;
		font-size: 18px;
		overflow: hidden;
		text-overflow: ellipsis;
	}
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}



#loginScreen {
	input {
		font-size: 15px;
		line-height: normal;
		height: auto;
		padding: 13px 0.4em 9px;
		font-weight: bold;
	}
	.x-button-label {
		font-weight: normal;
	}
	.x-field .x-input-el {
		margin-left: 0;
	}
}
.bgfooter {
	background-color: #2C2F3B;
	padding-bottom: 10px;
	.x-button {
		background: #2C2F3B;
		border: solid 0;
	}
	.x-button-label {
		font-weight: normal;
	}
}

#vehicleRegistrationList {
	background-color: #E7E7E7;
	padding: 10px;
	.x-list-item-tpl {
		background: $white;
		border: solid 1px #D7D7D7!important;
		margin-bottom: 10px;
	}
	.vehicleRegistrationList {
		color: #2D2F3C;
		line-height: 30px;
		font-weight: 600;
	}
	.x-list-disclosure:before {
		background: url("#{$get-path-to-assets}/images/w_arrow.png") no-repeat center center;
		content: ' ';
		line-height: normal;
		margin-top: 0;
		background: url("#{$get-path-to-assets}/images/w_arrow@2x.png") no-repeat center center;
		background-size: 13px auto;
	}
	.x-item-selected .x-list-disclosure {
		background: #4F2684;
	}
}
.width-90 {
	width: 90% !important;
}
.reasonBtn {
	width: 200px;
	margin-right: 15px;
	font-size: 13px;
}
.listContainer_1 {
	width: 92%;
	float: left;
}
.listContainer_aro {
	background: url(#{$get-path-to-assets}/images/silde-arrow_black.png) no-repeat 98% center $white;
	background: url(#{$get-path-to-assets}/images/silde-arrow_black@2x.png) no-repeat 98% center $white;
	background-size: 12px auto;
	&:active {
		background-color: $color_pale_slate;
		.listContainer {
			background-color: $color_pale_slate;
		}
	}
}
.listContainer_aro_right {
	float: right;
}
%extend_headingalign{
	margin:0 !important; 
	padding:7px 0 0 0 !important;
}
.x-phone {
	.green-cyan-bg{
		.x-title{
			@extend %extend_headingalign;
		}
	}
	#userdetail {
		padding-top: 7px;
	}
	#reasonBtn {
		height: 40px;
	}
	.loginemptymsg {
		padding-left: 20px;
	}
	.claimListAdminMessage {
		padding: 5px 25px;
	}
	.phone_doc_pad-top-20 {
		margin-top: 20px;
	}
	.doc_1_pad-top-20 {
		margin-top: 20px;
	}
	.claimTypeButton_n {
		padding-top: 12px;
	}
	.phone-pad-bottom-1 {
		padding-bottom: 1px;
	}
	.changedates_dd_dn {
	}
	.selectLabelCls span {
		line-height: 24px;
	}
}
.x-desktop {
	.logoimg {
		background: url(#{$get-path-to-assets}/images/logo.png) no-repeat;
	}
	.selectbox_vl {
		.x-field-mask {
			background-position: 99% center;
		}
		.x-form-fieldset-inner {
			border: 1px solid $color_gunsmoke;
		}
	}
	.claimTypeButton_n {
		padding-top: 12px;
	}
	.txtSearchBar {
		border: 0;
		@include border-radius(0);
		.x-component-outer {
			border: 1px solid $color_pumice;
			@include border-radius(0);
			@include box_shadow(1px 1px 1px #E7E7E7);
		}
		.x-input-el {
			height: 33px !important;
		}
		.x-clear-icon {
			display: none;
		}
		.x-field-input .x-clear-icon {
			margin-right: 11px;
		}
	}
	.btnSearch {
		width: 35px;
		height: 35px;
		left: 207px;
		top: 3px;
		position: absolute;
		z-index: 4;
		@include border-radius(0);
		border: 0;
		right: 48px;
		background:none;
		background-color:#cccccc;
		padding:0 0 0 8px;
		cursor:pointer;
	}
	.btnSearch:after{
		content:'\f002';
		@extend %extend_fa;
		color:#fff;
		font-size:20px;
	}
	.x-button.btnSearch.x-button-pressing, .x-button.btnSearch.x-button-pressing:after{
			background-image:none !important;
			background-color:#3cbe9f !important;		
		}
	
	.green-cyan-bg {
		margin-bottom: 20px;
	}
	.green-cyan-bg {
		display:table;
		width:100%;
		div.x-inner{
			display:table-row;
			width:100%;
			div.x-toolbar-dark{
				display:table-cell;
				width:100%;
			}
		}
	}
	.button_grey_vl {
		@include pad_top_btm(12px) ;
	}
	.slide {
		background-color: $white;
	}
	.x-toolbar-dark {
		.x-label {
			text-align: none;
		}
		.x-form-label {
			text-align: none;
		}
	}
	
	.x-layout-card-item {
		background: url(#{$get-path-to-assets}/images/desktop_bg.png) repeat;
	}
	.btn_bottom_wrap {
		padding-bottom: 66px;
	}
	.x-field .x-input-el {
		width: 95%;
	}
	#selectClaimType .x-field-mask {
		background-position: 99% center;
	}
	#selectDate .x-field-mask {
		background-position: 99% center;
	}
	#selectStatus .x-field-mask {
		background-position: 99% center;
	}
	.button_grey_vl_2 span {
		margin-top: 0;
	}
	.input_wrap_budgetm_vl input {
		@extend %extend_input_1;
		padding: 8px 0 8px 5px !important;
	}
	.search_wrap {
		position: relative;
		margin-top: 10px;
	}
	.search_wrap.txtSearchBar {
		width: 220px;
	}
	
	&.x-windows.x-ie {
		.x-center {
			display: flex;
		}
		.x-centered {
			display: flex;
		}
		.green-cyan-bg {
			.x-center {
				display: block;
			}
			.x-centered {
				display: block;
			}
		}
	}
	.button_ltgrey_vl span {
		padding-top: 0;
	}
}
.border-10-bottom-0 {
	border: solid 10px $white;
	border-bottom: 0;
}
.border-10-white {
	border: solid 10px $white;
}
.buttonCenter {
	width: 20%;
	margin: 0 auto;
}
.txt-right {
	text-align: right;
}
.logoimg {
	background-size: 183px auto !important;
	width: 183px;
	height: 58px;
	margin: auto;
	float: left;
	margin-top: 0;
	margin-bottom: 0;
	background: url(#{$get-path-to-assets}/images/logo@2x.png) no-repeat;
}
.topicon {
	width: 44px;
	height: 44px;
	margin-right: 5px;
	display: inline-block;
	margin-top: 20px;
	background-size: 100% auto !important;
}
.menuToggle_n {
	background: #ffffff; /* Old browsers */
	background: -moz-linear-gradient(top, #ffffff 0%, #ffffff 17%, #481d7e 17%, #481d7e 17%, #481d7e 27%, #ffffff 27%, #ffffff 44%, #481d7e 44%, #481d7e 54%, #ffffff 54%, #ffffff 71%, #481d7e 71%, #481d7e 81%, #ffffff 81%, #ffffff 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffffff), color-stop(17%,#ffffff), color-stop(17%,#481d7e), color-stop(17%,#481d7e), color-stop(27%,#481d7e), color-stop(27%,#ffffff), color-stop(44%,#ffffff), color-stop(44%,#481d7e), color-stop(54%,#481d7e), color-stop(54%,#ffffff), color-stop(71%,#ffffff), color-stop(71%,#481d7e), color-stop(81%,#481d7e), color-stop(81%,#ffffff), color-stop(100%,#ffffff)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, #ffffff 0%,#ffffff 17%,#481d7e 17%,#481d7e 17%,#481d7e 27%,#ffffff 27%,#ffffff 44%,#481d7e 44%,#481d7e 54%,#ffffff 54%,#ffffff 71%,#481d7e 71%,#481d7e 81%,#ffffff 81%,#ffffff 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, #ffffff 0%,#ffffff 17%,#481d7e 17%,#481d7e 17%,#481d7e 27%,#ffffff 27%,#ffffff 44%,#481d7e 44%,#481d7e 54%,#ffffff 54%,#ffffff 71%,#481d7e 71%,#481d7e 81%,#ffffff 81%,#ffffff 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top, #ffffff 0%,#ffffff 17%,#481d7e 17%,#481d7e 17%,#481d7e 27%,#ffffff 27%,#ffffff 44%,#481d7e 44%,#481d7e 54%,#ffffff 54%,#ffffff 71%,#481d7e 71%,#481d7e 81%,#ffffff 81%,#ffffff 100%); /* IE10+ */
	background: linear-gradient(to bottom, #ffffff 0%,#ffffff 17%,#481d7e 17%,#481d7e 17%,#481d7e 27%,#ffffff 27%,#ffffff 44%,#481d7e 44%,#481d7e 54%,#ffffff 54%,#ffffff 71%,#481d7e 71%,#481d7e 81%,#ffffff 81%,#ffffff 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#ffffff',GradientType=0 ); /* IE6-9 */


}
.mailButton_n {
	background: url(#{$get-path-to-assets}/images/mail.png) no-repeat;
	background: url(#{$get-path-to-assets}/images/mail@2x.png) no-repeat;
}
.logintxt {
	background-color: #4D2473;
	color: $white;
	padding: 15px 10px 15px 20px;
}
.loginemptymsg {
	color: $color_red;
	padding: 10px;
}


.slide {
	background: $seashell;
	z-index: 1;
	&.out {
	}
	&.in {
	}
}
.nav-list {
    	-webkit-animation-duration: 200ms;
    	-moz-animation-duration: 200ms;
		-webkit-transition-timing-function: cubic-bezier(0.275, 0.080, 0.425, 0.855); 
		-moz-transition-timing-function: cubic-bezier(0.275, 0.080, 0.425, 0.855);
		-moz-transition:200ms;
}
.nav-list {
	height: 100%;
	color: $white;
	position: absolute !important;
	left: 0;
	.x-innerhtml {
		color: $white;
	}
	.x-list .x-list-item {
		.x-list-item-body {
			padding: 15px;
		}
		&.x-item-selected.x-list-item-tpl {
			background: $white;
			border: none;
		}
	}
	.x-list-normal .x-list-item.x-list-item-tpl {
		border: none;
	}
}
.x-toolbar {
	z-index: 1000 !important;
}
@-webkit-keyframes slideout {
    from { 
				-webkit-transform: translateX(0px); 
				-moz-transform: translateX(0px); 
} to {
				-webkit-transform: translateX(250px); 
				-moz-transform: translateX(250px);
}}
@-webkit-keyframes slidein {
    from { -webkit-transform: translateX(250px); -moz-transform: translateX(250px);}
to { -webkit-transform: translateX(0px); -moz-transform: translateX(0px);}
}
.slide.out {
    -webkit-animation-name: slideout;
    -moz-animation-name:slideout;
    -webkit-transform: translateX(250px);
    -moz-transform: translateX(250px);
}
.slide.in {
    -webkit-animation-name: slidein;
    -moz-animation-name:slidein;
    -webkit-transform: translateX(0px);
    -moz-transform: translateX(0px)
}
#basic {
	.x-list-item-tpl {
		@extend %extend_list;
	}
	.x-item-selected {
		@extend %extend_list;
	}
	.x-scroll-scroller {
		padding-top: 50px;
	}
	.nav-list .x-list-item {
		background: $color_smoky;
		border-bottom: 2px solid $color_mulled_wine !important;
		border-top: 2px solid $color_mulled_wine !important;
		font-size: 15px;
	}
}
.txtSearchBar {
	border: 1px solid $color_tolopea;
	@include border-radius(5px);
	.x-field-input .x-clear-icon {
		margin: 0;
		margin-top: -20px;
		margin-right: 5px;
	}
}
.tpl-main {
	position: relative;
	z-index: 1;
	left: 16%;
	width: 50%;
}
.tpl-item-bg {
	background: url(#{$get-path-to-assets}/images/SS_listItembg.png);
	position: absolute;
	width: 100%;
	top: 0;
	left: 0;
	height: 58px;
	z-index: 0;
	background-size: 110%;
	background-repeat: no-repeat;
}
.tpl-item-text {
	float: left;
	margin-left: 18px;
	margin-top: 12px;
}
.tpl-subitem-bg {
	background: url(#{$get-path-to-assets}/images/SS_listSubItembg.png);
	position: absolute;
	width: 100%;
	top: 0;
	left: 0;
	height: 58px;
	z-index: 0;
	background-size: 110%;
	background-repeat: no-repeat;
}
.slideListCell {
	margin-left: 6%;
	margin-top: 5%;
	float: left;
	width: 35px;
}
.x-list {
	.x-list-item .x-list-item-tpl .x-innerhtml {
		padding: 15px;
	}
	.x-list-disclosure:before {
		line-height: 11px;
		font-size: 20px;
		margin-top: 10px;
	}
}
.carCompoWrapper {
	position: relative;
}
.meter-vehicle {
	height: 40px;
	margin: 0;
	.strips {
		background-color: $color_iron;
		background-size: 60px;
		float: left;
		height: 4px;
		margin: 0;
		width: 100%;
		position: absolute;
		top: 18px;
		left: 0;
	}
	.redColor {
		background: $color_red !important;
		background: linear-gradient(to bottom, $color_red 0, $color_red 45%, $color_geraldine 50%, $color_red 55%, $color_red 100%);
		filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='$color_red', endColorstr='$color_red', GradientType=0 ) !important;
		top: 0;
	}
	.TravelledLabel {
		text-align: right;
		color: $color_mountain_mist;
		margin-top: 3px;
		min-width: 20%;
	}
	.textDiv {
		color: $color_mountain_mist;
		margin-bottom: 5px;
		.meterStartText {
			text-align: left;
			float: left;
		}
		.meterEndText {
			text-align: right;
			float: right;
			min-width: 20%;
		}
		.clearBoth {
			clear: both;
		}
	}
	> span {
		display: block;
		height: 40px;
		position: relative;
		overflow: hidden;
		&.outer {
			background: $color_iron;
		}
		&.inner {
			background: $color_mantis;
			background: linear-gradient(to bottom, $color_mantis 0, $color_mantis 45%, $color_reef 50%, $color_mantis 55%, $color_mantis 100%);
			filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='$color_mantis', endColorstr='$color_mantis', GradientType=0 );
			position: absolute;
			top: 22px;
			border-right: 0;
			&:before {
				content: url(#{$get-path-to-assets}/images/car@2x.png);
				transform: scale(0.5);
				top: -3px;
				right: -21px;
				position: absolute;
				z-index: 3;
			}
		}
		&.inner-bar {
			background: $color_mantis;
			background: linear-gradient(to bottom, $color_mantis 0, $color_mantis 45%, $color_reef 50%, $color_mantis 55%, $color_mantis 100%);
			filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='$color_mantis', endColorstr='$color_mantis', GradientType=0 );
			position: absolute;
			top: 0;
			border-right: 0;
		}
		&.greenColor {
			background: $color_mantis;
			background: linear-gradient(to bottom, $color_mantis 0, $color_mantis 45%, $color_reef 50%, $color_mantis 55%, $color_mantis 100%);
			filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='$color_mantis', endColorstr='$color_mantis', GradientType=0 );
			position: absolute;
			top: 22px;
			z-index: 3;
			background-color: $color_mantis !important;
		}
	}
}

#aToolTip {
	position: absolute;
	display: none;
	z-index: 50000;
	.aToolTipContent {
		position: relative;
		margin: 0;
		padding: 0;
	}
}
.defaultTheme {
	border: 2px solid $color_tundora;
	background: $color_comet;
	color: $white;
	margin: 0;
	padding: 6px 12px;
	font-size: 14px;
	border-radius: 12px 12px 12px 0;
	@include box_shadow(2px 2px 5px $color_woodsmoke);
	#aToolTipCloseBtn {
		display: block;
		height: 18px;
		width: 18px;
		background: url(#{$get-path-to-assets}/images/closeBtn.png) no-repeat;
		text-indent: -9999px;
		outline: none;
		position: absolute;
		top: -20px;
		right: -30px;
		margin: 2px;
		padding: 4px;
	}
}
.touch-calendar-view {
	table {
		width: 100%;
		border-collapse: separate;
		table-layout: fixed;
		font-size: 120%;
		color: $color_river_bed;
		background-color: #FFF;
		border: solid 1px $black;
		border: 0;
		background-color: $color_mercury!important;
		tbody {
			padding-bottom: 20px;
		}
		&.week td {
			vertical-align: top;
		}
		&.day td.time-block {
			text-align: left;
			background-image: none;
			font-size: .7em;
			height: 30px;
		}
	}
	td {
		position: relative;
		text-align: center;
		vertical-align: middle;
		font-size: .9em;
		background-color: $white;
		background-image: linear-gradient(white, $white 10%, $white 65%, $white);
		&.today {
			@extend %extend_touchcalendar;
			&.selected {
				@extend %extend_touchcalendar;
			}
		}
		&.unselectable {
			color: $color_regent_gray;
			background-color: $color_tundora;
		}
		&.selected {
			background: url(#{$get-path-to-assets}/images/circle_grey.png) no-repeat center center $color_iron;
			@extend %extend_touchcalendar;
		}
		&.prev-month {
			color: $color_gray;
		}
		&.next-month {
			color: $color_gray;
		}
	}
	thead {
		background-color: $white;
		background-image: linear-gradient(white, $white 2%, $white);
		th {
			font-size: 9px;
			vertical-align: bottom;
			padding-bottom: 3px;
			color: $color_river_bed;
			text-align: center;
			height: 42px;
			text-shadow: $white 1px 1px 1px;
			font-weight: bold;
			border-bottom: 1px solid $color_gray_chateau;
			background: 0;
			background-color: $color_powder_blue;
			padding-bottom: 0;
			border-bottom: 0;
			height: 57px;
			&:first-child {
				background-color: $color_powder_blue;
			}
			&:first-child:before{
				content: $fa_chevron_left;
				left:27px;
				@extend %extend_cal_aro;
			}
			&:last-child {
				background-color: $color_powder_blue;
			}
			&:last-child:before {
				content: $fa_chevron_right;
				right:27px;
				@extend %extend_cal_aro;
			}
			span {
				font-size: 15px;
				font-weight: bold;
				height: 24px;
				left: 14.5%;
				position: absolute;
				text-align: center;
				top: 6px;
				width: 71%;
				z-index: 999;
				
				text-shadow: $white 1px 1px 1px;
				
				text-shadow: none;
				font-weight: normal;
				top: 8px;
			}
			p {
				padding: 5px 0;
				margin: 0;
				background-color: $color_mercury;
				color: $black!important;
				font-weight: normal;
				font-size: 11px;
			}
		}
	}
	tbody td {
		background: 0;
		background-color: $color_iron;
		font-size: 12px;
		padding: 8px;
		color: $color_blackcurrant;
		font-weight: 600;
	}
}
.calendar-icon-cust {
	height: 48px;
	padding: 5px 5px 10px;
}
.calendar-icon-cust:before{
	content:'\f073';
	@extend %extend_fa;
	color:$color_comet;
	font-size:24px;
}
.x-tablet {
	.calendar-icon-cust {
		padding-right: 0;
	}
	#vehicleClaim {
		.height-35 {
			margin-bottom: 10px;
		}
		.x-layout-box.x-vertical {
			flex-direction: none !important;
		}
	}
	.loginbtn {
		background-position: 97.77777% center;
	}
	.forgobtn {
		background-position: 97% center;
	}
	.registerbtn {
		background-position: 97% center;
	}
	.bgLightGreyvehicle {
		padding: 15px 0;
	}
	.vExpenseClaimarrow {
		top: -24px;
	}
	.border_left {
		height: 1px;
		border-bottom: 1px solid $color_mercury;
		top: -16px;
		right: 0;
		width: 100%;
		position: absolute;
		z-index: 1;
	}
	.borderbtm {
		height: 60px;
		.arrow {
			background: url(#{$get-path-to-assets}/images/aro_img_up.png) no-repeat 98% 3px!important;
		}
	}
	.doc_req_wrap {
		padding: 8px 10px 20px;
	}
	.doc_margin-top-20 {
		margin-top: 0 !important;
	}
	.doc_1_pad-top-20 {
		padding-top: 0;
	}
	.heading_top_10 {
		margin-top: 5px;
	}
	.heading_left_15 {
		padding-left: 20px;
	}
	.greywrap {
		padding: 0 10px 10px;
	}
	
	.productitem .x-button-label {
		padding: 14px 0 33px;
	}
	.clearfix.bgd7.pad-top-20 {
		padding-top: 0;
	}
	&.bgd7.pad-top-20 {
		padding-top: 0;
	}
	#vehicleRunningExpenseClaimFormfieldWrapper.greywrap {
		padding-bottom: 20px;
		padding-left: 0;
		padding-right: 0;
	}
	.placeholder_car img {
		margin-top: 30px;
	}
	.green-cyan-bg {
		.x-title{
			@extend %extend_headingalign;
		}
	}
}
.cal-arrow-down {
	@extend %extend_calarrow;
}
.cal-arrow-right {
	height: 25px !important;
	@extend %extend_calarrow;
}
.rightimg {
	background-color: $white;
	background-image: url(#{$get-path-to-assets}/images/right_icon.png)!important;
	background-repeat: no-repeat;
	background-position: center left;
	padding-left: 30px;
}
.claimdatepicke {
	.x-form-label {
		background-color: #C3C3C3;
		border-bottom-left-radius: 0!important;
	}
	.x-component-outer .x-field-input {
		margin: 10px 0;
	}
}
#claimdatepicke {
	input {
		background-color: #ACDEE7;
		height: 46px;
	}
	.x-component-outer {
		background-color: #ACDEE7;
		height: 46px;
	}
}
#dataWrapper {
	line-height: 24px;
}
.loginbtn {
	background-color: #4D2473!important;
	color: $white;
	background-image: url(#{$get-path-to-assets}/images/w_arrow_right.png)!important;
	background-repeat: no-repeat;
	background-position: 97.77777% center;
	border: 0 none;
	@include border-radius(0);
	padding: 12px 10px;
	background-size: 12px auto;
	background-image: url(#{$get-path-to-assets}/images/w_arrow_right@2x.png)!important;
	span {
		text-align: left;
	}
}
.claimStepButton {
	@extend %extend_button;
	span {
		font-weight: normal;
		text-align: left;
		font-size: 14px;
		font-family: $font_helveticaneuemedium;
	}
	&.prev_btn_vl span {
		text-align: right !important;
		display: block;
	}
}
.button_grey_vl {
	@extend %extend_button;
	background: none!important;
	background-color: $color_celeste!important;
	color: $color_gun_powder;
	padding-top: 13px;
	padding-bottom: 9px;
	background-color: $color_celeste !important;
	span {
		text-align: center;
	}
	.x-button-label {
		font-weight: normal !important;
	}
	.x-badge {
		font-weight: normal !important;
	}
	.x-hasbadge .x-badge {
		font-weight: normal !important;
	}
}
.x-button-pressing {
	background-color: $color_minsk!important;
}
.claimStepOneBackButton {
	background-image: url(#{$get-path-to-assets}/images/w_arrow_opp.png)!important;
	background-position: 3.77777% center;
	@extend %extend_claimstepbtn_2;
	span {
		padding-left: 8%;
	}
}
.claimStepOneNextButton {
	background-image: url(#{$get-path-to-assets}/images/w_arrow.png)!important;
	background-image: url(#{$get-path-to-assets}/images/w_arrow@2x.png)!important;
	background-position: 97.77777% center;
	background-size: 13px auto;
}
.claimStepOneCancelButton {
	@extend %extend_claimstepbtn;
}
.claimStepOneSaveAsDraftButton {
	@extend %extend_claimstepbtn;
	.x-button-label {
		flex: auto;
	}
}
.claimStepRightArrow {
	@extend %extend_claimstepbtn;
}
.deleteClaimStepTwoButton {
	background-image: url(#{$get-path-to-assets}/images/w_arrow.png)!important;
	background-color: #5A5B77!important;
	padding-left: 15px;
	background-image: url(#{$get-path-to-assets}/images/w_arrow@2x.png)!important;
	background-position: 93% center;
	background-size: 13px auto;
}
.editClaimStepTwoButton {
	background-image: url(#{$get-path-to-assets}/images/w_arrow.png)!important;
	background-color: #5A5B77!important;
	border-right: solid #E7E7E7 1px;
	padding-left: 15px;
	background-image: url(#{$get-path-to-assets}/images/w_arrow@2x.png)!important;
	background-position: 93% center;
	background-size: 13px auto;
}
.claimSaveButton {
	background-color: #4F2E7F!important;
	color: $white;
	background-repeat: no-repeat;
	border: 0 none;
	@include border-radius(0);
	span {
		font-weight: normal;
		text-align: left;
	}
}
.txt-left {
	text-align: left;
}
.txt-center {
	text-align: center;
}
.forgobtn {
	background: #C3C3C3;
	background-image: url(#{$get-path-to-assets}/images/w_arrow_right.png)!important;
	background-repeat: no-repeat;
	background-position: 97.77777% center;
	color: $white;
	border: 0;
	border: 0 none;
	@include border-radius(0);
	padding: 12px 10px;
	background-size: 12px auto;
	background-image: url(#{$get-path-to-assets}/images/w_arrow_right@2x.png)!important;
	span {
		text-align: left;
	}
}
.registerbtn {
	background-color: #4D2473!important;
	color: $white;
	background-image: url(#{$get-path-to-assets}/images/w_arrow_right.png)!important;
	background-repeat: no-repeat;
	background-position: 97.77777% center;
	background-size: 12px auto;
	border: 0 none;
	@include border-radius(0);
	background-image: url(#{$get-path-to-assets}/images/w_arrow_right@2x.png)!important;
	span {
		text-align: left;
	}
}
.logincontainer {
	background: $color_red;
	color: $color_japanese_laurel;
}
.userdetail {
	background-color: #5A5B77;
}
.productitem {
	background-repeat: no-repeat;
	background-position: center 20px;
	@include border-radius(0);
	border: solid 0;
	color: $white;
	padding: 130px 0 0;
	display: inherit;
	background-size: 100px 100px;
	border-bottom: 1px solid #D3D3D3;
	.x-button-label {
		font-weight: normal !important;
		background: $color_celeste;
		background: linear-gradient(to bottom, $color_celeste 0, $color_silver 100%);
		filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='$color_celeste', endColorstr='$color_silver', GradientType=0 );
		padding-bottom: 10px;
	}
}
.log-off {
	background: #5A5B77!important;
}
.font-828395 {
	color: $color_pink_swan;
}
.salayfeeheading {
	padding: 10px 0;
	color: #4E2683;
	font-weight: normal;
	margin: 0;
}
.salaryfeedetail {
	color: #2C2F3B;
	padding-bottom: 0.5em;
}
.employerList {
	float: left;
	width: 100%;
	height: auto;
	display: inline-block;
}
.x-list-item-tpl {
	@extend %extend_9;
	background-color: #5A5B77;
}
.x-item-selected {
	@extend %extend_9;
	background: #0E9F80;
}
.x-list-disclosure {
}
.x-button-label {
	line-height: 20px;
}
.x-list-item {
	.brands-row-spon {
		width: 100%;
		background-color: #D8D8D8;
		padding: 0.5em 0.8em;
		min-height: 2.6em;
	}
	.brands-row {
		width: 100%;
		min-height: 2.6em;
		padding: 0.5em 0.8em;
	}
}
.employerrow {
	height: 100%;
	width: 100%;
}
.salarypackakingwapper {
	max-width: 100%;
	width: 100%;
	table {
		max-width: 100%!important;
	}
}
.color-purple {
	color: #4D2473;
}
.d-inline {
	display: inline!important;
	div {
		display: inline-block!important;
	}
}
.d-inline-block {
	display: inline-block!important;
}
.margin-toolbar {
	margin-top: 0;
	margin-left: -20%;
}
#homeContainer {
	background-color: $white;
	.x-field-input .x-clear-icon {
		background: url(#{$get-path-to-assets}/images/clear.png) no-repeat left center;
		background: url(#{$get-path-to-assets}/images/clear@2x.png) no-repeat left center;
		background-size: 18px auto;
	}
	#searchField.x-field-clearable .x-field-input {
		padding-right: 0 !important;
		right: 0 !important;
	}
}
.floatLeft {
	float: left;
}
.floatRight {
	float: right;
}
#ext-container-2 {
	position: relative!important;
	width: 100%;
	float: left;
}
.vehicleListing {
	background-color: $white!important;
	color: #383C48;
	background-image: url(#{$get-path-to-assets}/images/silde-arrow_black.png)!important;
	background-repeat: no-repeat;
	background-position: 96.99999% center;
	border: 0 none;
	@include border-radius(0);
	padding-top: 6px;
	background-size: 12px auto;
	background-image: url(#{$get-path-to-assets}/images/silde-arrow_black@2x.png)!important;
	span {
		text-align: left;
		font-weight: normal;
	}
}
.green-bg-gredient {
	background: $color_rio_grande;
	background: linear-gradient(to bottom, $color_rio_grande 0, $color_lima 100%);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='$color_rio_grande', endColorstr='$color_lima', GradientType=0 );
	.x-toolbar-dark {
		background: transparent;
	}
	.x-body {
		position: unset;
	}
	.x-innerhtml {
		@extend %extend_x-innerhtml;
	}
	.x-title {
		@extend %extend_x-innerhtml;
	}
	.x-button-pressing {
		background: none;
		background-color: transparent !important;
	}
	.x-button-label:active {
		background-color: $color_limeade;
	}
}
#vRegSelectTxt {
	h3 {
		font-weight: normal;
		color: $black;
	}
	p {
		color: $color_suva_gray;
	}
	.bluetxtwrap h3 {
		font-size: 20px;
		color: $color_minsk !important;
	}
}
.bgLightGreyVehicle {
	position: relative;
	background-color: #E7E7E7;
	padding-top: 10px;
	padding-bottom: 15px;
}
.vExpenseClaimarrow {
	position: absolute;
	background-image: url(#{$get-path-to-assets}/images/up_arrow.png);
	background-repeat: no-repeat;
	background-position: 97% top;
	top: -13px;
	right: 0;
	width: 100%;
	height: 15px;
	z-index: 1;
	background-size: 15px auto;
}
.arrowRight {
	width: 49%;
	left: 0;
}
.color-2B2F3B {
	color: #2B2F3B;
}
.Claims-Vehicle-steps-img {
	height: 31px;
	width: 100%;
	background-size: 182px auto;
}
.step1_img {
	background: url(#{$get-path-to-assets}/images/SS04-Mobile-Claims-Vehicle-1.png) no-repeat;
	margin: 0 auto;
	background: url(#{$get-path-to-assets}/images/SS04-Mobile-Claims-Vehicle-1@2x.png) no-repeat;
}
.step2_img {
	background: url(#{$get-path-to-assets}/images/SS04-Mobile-Claims-Vehicle-2.png) no-repeat;
	margin: 0 auto;
	background: url(#{$get-path-to-assets}/images/SS04-Mobile-Claims-Vehicle-2@2x.png) no-repeat;
}
.step3_img {
	background: url(#{$get-path-to-assets}/images/SS04-Mobile-Claims-Vehicle-3.png) no-repeat;
	margin: 0 auto;
	background: url(#{$get-path-to-assets}/images/SS04-Mobile-Claims-Vehicle-3@2x.png) no-repeat;
}
.step4_img {
	background: url(#{$get-path-to-assets}/images/SS04-Mobile-Claims-Vehicle-4.png) no-repeat;
	margin: 0 auto;
	background: url(#{$get-path-to-assets}/images/SS04-Mobile-Claims-Vehicle-4@2x.png) no-repeat;
}
.step5_img {
	background: url(#{$get-path-to-assets}/images/SS04-Mobile-Claims-Vehicle-5.png) no-repeat;
	margin: 0 auto;
	background: url(#{$get-path-to-assets}/images/SS04-Mobile-Claims-Vehicle-5@2x.png) no-repeat;
}
.border-bottom {
	border-bottom: solid 1px #E7E7E7;
}
.txtboxbg {
	input {
		background-color: #C3C3C3;
		color: #2C2E3B;
		height: 53px!important;
	}
	.x-input-el {
		font-size: 22px !important;
		color: $color_storm_dust;
		font-family: $font_helveticaneuemedium;
		padding-left: 6px;
		padding-top: 14px;
	}
}
.icon-sign {
	background-image: url(#{$get-path-to-assets}/images/doller_icon.png);
	background-repeat: no-repeat;
	background-position: 2% center;
	padding-left: 45px;
	background-image: url(#{$get-path-to-assets}/images/doller_icon@2X.png);
	background-size: 22px auto;
}
.claimdetail {
	color: #96979B;
}
.dec-check {
	text-align: left;
}
.declarationWp {
	.x-input-el:checked + .x-field-mask:after {
		background-color: #4F2E7F;
		color: $white;
		width: 23px;
		height: 23px;
		text-align: center;
		border: solid 1px $color_stack;
		font-size: 1.2em;
	}
	.x-field-mask:after {
		background-color: $white;
		color: $white;
		width: 23px;
		height: 23px;
		text-align: center;
		border: solid 1px $color_stack;
		font-size: 0;
	}
	.x-field .x-field-input {
		min-width: 2.7em;
	}
	.x-field-checkbox .x-field-mask:after {
		line-height: 1.2em;
	}
	.x-field-radio .x-field-mask:after {
		line-height: 1.2em;
	}
}
.upload_imgs {
	opacity: 0.0;
	width: 100%;
	height: 100%;
}
.image_browse_wrapper {
	width: 100%;
	height: 43px;
	overflow: hidden;
	background-color: #4F2E7F!important;
	color: $white;
	background-repeat: no-repeat;
	border: 0 none;
	@include border-radius(0);
	background-image: url(#{$get-path-to-assets}/images/invoice_btn.png);
	background-size: 279px auto;
	background-image: url(#{$get-path-to-assets}/images/invoice_btn@2x.png);
}
.addAnotherBtn {
	width: 100%;
}
.capturePictureContainer {
	width: 100% !important;
}
.snap_images {
	overflow: hidden;
}
.remove_img {
	float: right;
	position: relative;
	left: -33px;
}
.snap_shot {
	float: left;
	padding: 9px;
	width: 128px;
	position: relative;
	.remove_img {
		img {
			width: 28px;
			height: 28px;
		}
		&:after{
			content: "\f068";
			@extend %extend_fa;
			font-size: 16px;
			color: $white;
			@include border_radius(100%);
			display: block;
			vertical-align: middle;
			width: 25px;
			height: 25px;
			line-height: 27px;
			position:absolute;
			left:0;
			top:10px;
	}
	}
}
.document_container {
	background-color: $white;
}
.typeofclambox {
	width: 100%;
	margin: 0;
	.x-innerhtml {
		margin-top: 15px;
		font-size: 14px;
		font-family: $font_helveticaneuemedium;
		padding-left: 10px;
	}
	> .x-form-fieldset-inner {
		border: none !important;
		background-color: transparent !important;
	}
}
.typeofclambox_radio {
	border: none !important;
	background-color: transparent !important;
	.x-component-outer .x-unsized {
		.x-field-mask {
			&:before {
				@include border-radius(0 !important);
				background-color: $white;
				border: 1px solid $color_stack;
				height: 23px;
				width: 23px;
			}
			&:after {
				background: url(#{$get-path-to-assets}/images/icon_tick_grey.png) no-repeat -20px 0 transparent !important;
				width: 18px !important;
				height: 18px !important;
				@include border-radius(0 !important);
			}
		}
		input[type="radio"]:checked + .x-field-mask {
			&:before {
				background-color: $color_minsk;
			}
			&:after {
				background: url(#{$get-path-to-assets}/images/icon_tick.png) no-repeat 3px 1px transparent !important;
			}
		}
	}
}
.typeofclaimbox {
	height: 100%;
	border: none;
	background-image: none;
	background-color: $white;
	.x-button-label {
		text-align: left;
		font-weight: normal;
		padding-left: 10px;
	}
	.x-innerhtml {
		margin-top: 12px;
	}
	> .x-form-fieldset-inner {
		border: none !important;
		background-color: transparent !important;
	}
}
.borderbtm {
	border-bottom: 1px solid $color_cararra;
	padding-top: 0;
	height: 47px;
	.arrow {
		background: url(#{$get-path-to-assets}/images/aro_img_up.png) no-repeat 98% 4px!important;
		width: 12px;
		height: 29px;
	}
	.down_arrow .arrow {
		background: url(#{$get-path-to-assets}/images/aro_img_down.png) no-repeat 98% 0!important;
		width: 12px;
		height: 12px;
	}
}
.refnumText {
	padding: 8px 15px;
	color: $color_honey_flower;
}
.cappedClaimRightSideWrapper {
	padding-top: 41px;
}
.claimStepBtn {
	color: $white;
	background-repeat: no-repeat;
	border: 0 none;
	@include border-radius(0);
	padding: 13px 15px;
	span {
		font-weight: normal;
		text-align: left;
		font-size: 14px;
		font-family: $font_helveticaneuemedium;
	}
}
.arrow {
	background: url(#{$get-path-to-assets}/images/aro_img_up.png) no-repeat 98% 0!important;
	width: 12px;
	height: 12px;
}
.vclaimtotalwap {
	text-align: center;
	font-weight: normal;
}
#vehicleRunningExpenseClaimPageId {
	.bgpurple {
		background: #512F7C;
	}
	.font-color-white {
		color: #FFF;
	}
	.font-28 {
		font-size: 28px;
	}
	#vehicleRunningExpenseClaimConainerId2 {
		.claimStepButton {
			background-color: #512F7C!important;
			color: $white;
			background-repeat: no-repeat;
			border: 0 none;
			@include border-radius(0);
		}
		.claimStepOneNextButton {
			background-image: url(#{$get-path-to-assets}/images/w_arrow.png)!important;
			background-image: url(#{$get-path-to-assets}/images/w_arrow@2x.png)!important;
			background-position: 98% center;
			background-size: 13px auto;
		}
	}
	#vehicleRunningExpenseClaimConainerId {
		.claimStepButton {
			background-color: #5A5B77!important;
			color: $white;
			background-repeat: no-repeat;
			border: 0 none;
			@include border-radius(0);
		}
		.claimStepOneNextButton {
			background-image: url(#{$get-path-to-assets}/images/w_arrow.png)!important;
			background-image: url(#{$get-path-to-assets}/images/w_arrow@2x.png)!important;
			background-position: 98% center;
			background-size: 13px auto;
		}
	}
	.font-888888 {
		color: $color_suva_gray;
	}
	.font-14 {
		font-size: 14px;
	}
}
#vehicleRunningExpenseClaimPageId-T {
	#vehicleRunningExpenseClaimConainerId {
		.claimStepButton {
			background-color: $color_comet!important;
			color: $white;
			background-repeat: no-repeat;
			border: 0 none;
			@include border-radius(0);
		}
		.claimStepOneNextButton {
			background-image: url(#{$get-path-to-assets}/images/w_arrow.png)!important;
			background-image: url(#{$get-path-to-assets}/images/w_arrow@2x.png)!important;
			background-position: 98% center;
			background-size: 13px auto;
		}
	}
	#vehicleRunningExpenseClaimConainerId2 .claimStepOneNextButton {
		background-image: url(#{$get-path-to-assets}/images/w_arrow.png)!important;
		background-image: url(#{$get-path-to-assets}/images/w_arrow@2x.png)!important;
		background-position: 98% center;
		background-size: 13px auto;
	}
}
.change-account {
	background-color: $color_comet!important;
	color: $white;
	background-repeat: no-repeat;
	border: 0 none;
	@include border-radius(0);
}
.claimListContainer {
	padding: 0.2% 2%;
	.x-list-item-tpl {
		border: 0 !important;
		padding: 1em 0;
		background-color: $color_mercury !important;
		background-image: none !important;
		.x-innerhtml {
			padding: 0 !important;
		}
	}
	.x-item-selected .x-list-item-tpl {
		background-color: $color_mercury !important;
		background-image: none;
	}
}
.claimListContainerFilters {
	padding: 2% 1.3em;
	border-top: 10px $white solid;
	border-bottom: 10px $white solid;
}
.claimListContainerFiltersT {
	padding: 10px 2%;
	border-top: 10px $white solid;
}
.searchFieldset {
	margin: 0;
	.x-form-fieldset-inner {
		border: none !important;
		background-color: transparent;
		@include border-radius(0 !important);
	}
	.fieldHeight {
		border: 0!important;
		@include border-radius(0);
	}
	.x-form-fieldset-title {
		margin: 0 0.7em 0.3em 0;
		font-weight: normal;
		
		text-shadow: none;
		font-size: 14px;
		padding-left: 0;
	}
}
#searchField {
	@include border-radius(0 !important);
	input {
		width: 100%;
		margin-left: 0;
	}
}
#selectClaimType {
	background-color: $color_mercury;
	padding-top: 0;
	input {
		font-size: 14px;
	}
	.x-field-mask {
		@extend %extend_x-field-mask;
	}
	.x-form-label {
		background-color: $color_mercury;
	}
	.x-component-outer {
		padding: 0.4em 0 0.4em 0.3em;
	}
}
#selectDate {
	background-color: $color_mercury;
	padding-top: 0;
	input {
		font-size: 14px;
	}
	.x-field-mask {
		@extend %extend_x-field-mask;
	}
	.x-form-label {
		background-color: $color_mercury;
	}
	.x-component-outer {
		padding: 0.4em 0 0.4em 0.3em;
	}
}
#selectStatus {
	background-color: $color_mercury;
	padding-top: 0;
	input {
		font-size: 14px;
	}
	.x-field-mask {
		@extend %extend_x-field-mask;
	}
	.x-form-label {
		background-color: $color_mercury;
	}
	.x-component-outer {
		padding: 0.4em 0 0.4em 0.3em;
	}
}
.selectbox_vl {
	background-color: $color_mercury;
	padding-top: 0;
	@include border-radius(0 !important);
	margin: 0;
	height: 40px !important;
	input {
		font-size: 14px;
	}
	.x-field-mask {
		@extend %extend_x-field-mask;
	}
	.x-form-label {
		background-color: $color_mercury;
	}
	.x-form-fieldset-inner {
		@include border-radius(0 !important);
	}
	.x-component-outer {
		padding: 0;
	}
}
.claimListheader {
	padding: 0 10px;
	background: $color_rio_grande;
	background: linear-gradient(to bottom, $color_rio_grande 0, $color_lima 100%);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='$color_rio_grande', endColorstr='$color_lima', GradientType=0 );
	color: $white;
	.x-toolbar-dark {
		background: transparent;
		background: transparent;
	}
	.x-body {
		position: unset;
		position: unset;
	}
	.x-innerhtml {
		@extend %extend_x-innerhtml;
	}
	.x-title {
		@extend %extend_x-innerhtml;
	}
	.x-button-label {
		@extend %extend_x-button-label;
		&:active {
			background-color: $color_limeade;
		}
	}
	.x-button-pressing {
		background: none;
		background-color: transparent !important;
	}
}
.claimListAdminMessage {
	padding: 5px 0;
}
.claimListSearchContainerT {
	padding: 0;
	background-color: $color_mercury;
	margin-top: 9px;
}
.claimListSearchContainer {
	padding: 1% 2%;
	background-color: $color_mercury;
	.x-innerhtml {
		padding: 0;
	}
}

.listContainer {
	background-color: $white;
	color: $black;
	.row1 {
		padding: 0.5em 1em;
		.claimId {
			float: left;
			color: $color_honey_flower;
			font-weight: bold;
		}
		.claimStatus {
			float: right;
			color: $color_rio_grande;
			font-weight: bold;
		}
	}
	.ClaimType {
		color: $black;
		font-weight: normal;
		clear: both;
		padding: 0.5em 1em;
		font-size: 14px;
	}
	.date {
		color: $black;
		font-weight: normal;
		padding: 0.5em 1em 0.5em 1em;
	}
	.link {
		background-color: $color_comet;
		padding: 7px 1em 3px;
		font-weight: bold;
		.w_arrow {
			background: url(#{$get-path-to-assets}/images/w_arrow.png) no-repeat right;
			display: block;
			float: right;
			height: 30px;
			width: 50px;
			background: url(#{$get-path-to-assets}/images/w_arrow@2x.png) no-repeat right;
			background-size: 13px auto;
		}
	}
	.claimTypeAndRefNum {
		color: $color_honey_flower;
		font-weight: bold;
		clear: both;
		padding: 1em 1em 0 1em;
	}
	.rowDate {
		padding: 1em 1em 0 1em;
		.text {
			float: left;
			font-weight: normal;
		}
		.date {
			float: right;
			color: $color_rio_grande;
			padding: 0;
			font-weight: bold;
		}
	}
	.rowClaimed {
		padding: 0 1em;
		.text {
			float: left;
			font-weight: bold;
		}
		.value {
			float: right;
			font-weight: bold;
		}
	}
	.blueText {
		color: $color_honey_flower;
	}
}
#VehicleNumber {
	color: $color_honey_flower;
	font-weight: bold;
}
#VehicleNumberData {
	color: $color_honey_flower;
	font-weight: bold;
}
.linkText {
	float: left;
	color: $white;
}
#claimlisting_page {
	background-color: $color_mercury;
}
#claimdetailList_page {
	background-color: $color_mercury;
}
.clearboth {
	clear: both;
}
.vehicleNumberHeader {
	padding: 10px;
}
.claimDataListContainer {
	.rowData {
		color: $black !important;
		max-height: 25px !important;
		font: inherit;
		font-size: 16px;
		padding: 0 15px;
		.text {
			float: left;
		}
		.value {
			float: right;
		}
	}
	.x-list-item-tpl {
		border: 0 !important;
		min-height: 25px !important;
		background-color: $white !important;
		background-image: none !important;
		.x-innerhtml {
			padding: 0 !important;
			max-height: 25px!important;
		}
	}
	.x-item-selected .x-list-item-tpl {
		background-color: $white !important;
		background-image: none;
	}
}
#claimdataList_page {
	padding: 0;
}
.reasonContainer {
	padding: 1em;
	color: $black;
	.title {
		padding-top: 10px;
		font-weight: bold;
		border-bottom: 1px $color_mercury solid;
	}
	.description {
		padding-top: 10px;
	}
}
#claimReasonsListId {
	background-color: $color_mercury;
	.x-list-item-tpl .x-innerhtml {
		background-color: $white;
		@include border-radius(5px);
	}
}
.fliterClaimLabel {
	font-weight: normal;
	padding-left: 10px;
	font-size: 15px;
}
.arrow-up {
	width: 0;
	height: 0;
	border-left: 10px solid transparent;
	border-right: 10px solid transparent;
	cursor: pointer;
	border-bottom: 10px solid $black;
	border: 0;
	background: url(#{$get-path-to-assets}/images/aro_rt_bk.png) no-repeat 0 0;
	background: url(#{$get-path-to-assets}/images/aro_rt_bk@2x.png) no-repeat 0 0;
	background-size: 9px auto;
}
.arrow-down {
	width: 0;
	height: 0;
	border-left: 10px solid transparent;
	border-right: 10px solid transparent;
	cursor: pointer;
	border-top: 10px solid $black;
	border: 0;
	background: url(#{$get-path-to-assets}/images/aro_dn_bk.png) no-repeat 0 0;
	background: url(#{$get-path-to-assets}/images/aro_dn_bk@2x.png) no-repeat 0 0;
	background-size: 12px auto;
}
.claimStepOneDocumentsRequiredButton {
	background-image: url(#{$get-path-to-assets}/images/w_arrow_down.png)!important;
	margin: 0;
	background-size: 18px auto;
	background-image: url(#{$get-path-to-assets}/images/w_arrow_down@2x.png)!important;
	background-position: 98% center;
	background-repeat: no-repeat;
}
.documentRequiredContainer {
	background: #D7D7D7;
	margin: 0 10px;
}
.bgpurpule_submit {
	background-color: #4F2E7F !important;
}
.selectLabelClsT {
	padding: 0.6em 0 0 0;
	line-height: 23px;
	span {
		font-size: 1em !important;
		padding-top: 0;
		font-weight: normal !important;
	}
}
.typeofclaimbox_radio {
	border: none !important;
	background-color: transparent !important;
	.x-component-outer .x-unsized {
		.x-field-mask {
			&:before {
				@include border-radius(0 !important);
				background-color: $white;
				border: 1px solid$color_gallery;
			}
			&:after {
				background: url(#{$get-path-to-assets}/images/icon_tick_grey.png) no-repeat -20px 0 transparent !important;
				width: 18px !important;
				height: 18px !important;
				@include border-radius(0 !important);
			}
		}
		input[type="radio"]:checked + .x-field-mask:after {
			background: url(#{$get-path-to-assets}/images/icon_tick.png) no-repeat 0 0 transparent !important;
		}
	}
}
.claimEditHeading {
	margin: 0;
	h3 {
		background-color: #4F2E7F;
		padding: 11px 20px 12px;
		color: $white;
	}
}
.claimTypeInnerFormSideTwo {
	margin-top: 36px;
}
.editDelBtnPress {
	background-color: $color_tuna !important;
}
.expenseDesc {
	width: 40%;
}
.trackProgressBtn {
	margin: 0 10px;
	margin-bottom: 15px;
}
.fontDeclaration {
	font-family: $font_helveticaneuemedium;
	line-height: 20px !important;
	font-size: 14px !important;
}
.color-5A5B77 {
	background-color: $color_comet !important;
}
.fontFFamilyHelvetica {
	font-family: $font_helveticaneuemedium;
}


.calbg {
	background-color: $color_powder_blue;
	padding: 5px 5px 5px 10px;
	margin-bottom: 8px;
	height: 59px;
}
.color-878787 {
	color: $color_suva_gray;
}
.header-cls {
	height: 44px;
	width: 40px;
	float: right;
}
.list_wrap {
	padding-right: 40px;
	padding-left: 40px;
}
.doc_margin-top-20 {
	margin-top: 20px !important;
}
.claim_margin_bottom0 {
	margin-bottom: 0 !important;
}
.x-webkit {
	.x-selectmark-base {
	}
	.x-field-select .x-component-outer:after {
	}
}
.heading_top_10 {
	margin-top: 10px;
}
.heading_left_15 {
	padding-left: 15px;
}
.greywrap {
	padding: 10px;
}
#cappedClaimExpTypeWrapper {
	.x-button-pressing {
		background-color: #C3C3C3 !important;
		@include border-radius(0 !important);
		background-image: none !important;
	}
	.x-button.x-button-pressing {
		background-image: none;
	}
}
#smartSalaryLogo {
	margin-top: 1px;
	margin-bottom: 1px;
	cursor: pointer;
}

.claimTypeButton {
	background: $white!important;
	color: $black;
	background-repeat: no-repeat;
	border: 0 none;
	@include border-radius(0);
	padding: 13px 0;
	span {
		text-align: left;
	}
}
.claimTypeButton_n {
	padding-left: 20px !important;
	padding-right: 20px !important;
	padding-top: 19px;
}
.bdr-top {
	border-top: solid 1px;
}
.claimStepLeftArrow {
	background-image: url(#{$get-path-to-assets}/images/w_arrow_opp.png)!important;
	background-position: 3.77777% center;
	@extend %extend_claimstepbtn_2;
	span {
		padding-left: 8%;
	}
}
.text_green {
	color: $color_forest_green;
}
.x-mask {
	.x-mask-inner {
		background-color: $black !important;
		@include border-radius(9px);
		opacity: 0.7;
		color: #B8B8B8;
		text-align: center;
		font-size: .9em;
		font-weight: bold;
	}
	.x-mask-message {
		color: #FFF !important;
		position: absolute;
		bottom: 30%;
		left: 10%;
	}
	&.x-has-message .x-loading-spinner-outer {
		max-height: 50em;
		height: 5.5em;
		max-width: 50em;
		width: 5.5em;
	}
}
.x-loading-spinner {
	font-size: 150%;
	height: 1em;
	width: 1em;
}

.x-list-emptytext {
	position: absolute;
	top: 3%;
	height: 30%;
	width: 100%;
}
.header_wrap_grey {
	height: 50px;
	padding-top: 9px;
}
.searchBtn {
	@include border-radius(0);
	background: url(#{$get-path-to-assets}/images/search-icon.png) no-repeat $color_mercury !important;
	padding: 10px;
	background: url(#{$get-path-to-assets}/images/search-icon@2x.png) no-repeat $color_mercury !important;
	background-size: 35px auto !important;
}
.searchInfoBtn {
	background: url(#{$get-path-to-assets}/images/icon_info.png) no-repeat;
	background-size: 24px auto !important;
	background-position: center 3px !important;
	background: url(#{$get-path-to-assets}/images/icon_info@2x.png) no-repeat;
	background-size: 24px auto;
}
.green-cyan-bg {
	background-color: $color_gossamer;
	height:60px;
	.x-toolbar-dark {
		background: transparent;
	}
	div.x-inner{
		div.x-toolbar-dark{
		}
	}
	.x-body {
		position: unset;
	}
	.x-innerhtml {
		@extend %extend_x-innerhtml;
	}
	.x-title {
		@extend %extend_x-innerhtml;
	}
	.x-button-pressing {
		background: none;
		background-color: transparent !important;
	}
	.x-button-label:active {
		background-color: $color_puerto_rico;
	}
}

.input_wrap_vl {
	border: 1px solid $color_star_dust!important;
	input {
		@extend %extend_input_1;
	}
}
.label {
	&.budgetAmount {
		font-size: 14px;
	}
	&.budgetName {
		font-size: 14px;
	}
}
.selectbox_vl_2 {
	margin-top: 7px !important;
}
.border3sides {
	border: 1px solid $color_pink_swan;
	border-top: 0;
	margin-top: -8px;
}
.tablestrc_wrap_vl {
	border: 1px solid $color_celeste;
	border-bottom: 0;
}
.tablestrc_wrap_1_vl {
	background-color: $color_gallery;
	span {
		border-bottom: 0;
		font-weight: bold;
	}
}
.tablestrc_vl {
	display: table;
	width: 100%;
	span {
		display: table-cell;
		float: none;
		text-align: center;
		vertical-align: middle;
		line-height: 14px;
		border-right: 1px solid $color_celeste;
		border-bottom: 1px solid $color_celeste;
		padding: 1%;
		width: 30%;
		word-wrap: break-word;
	}
}
.changedates_dd_rt {
	background: url(#{$get-path-to-assets}/images/aro_rt_bk.png) no-repeat 90% 13px;
	background-color: $color_celeste !important;
	color: $color_gun_powder;
	@include pad_top_btm(8px);
}
.changedates_dd_dn {
	background-color: $color_celeste !important;
	color: $color_gun_powder;
	padding-bottom: 5px;
	padding-right: 25px;
	position: relative;
	background-image: none;
	padding-top: 8px;
	padding-bottom: 8px;
	&:after {
		@extend %extend_fa;
		content: $fa_chevron_down;
		color: $color_charade;
	}
	&.x-button-pressing:after {
		color: $white;
	}
}
.lineheight40 {
	padding-top: 20px;
}

.desktop_sidebar {
	background: url(#{$get-path-to-assets}/images/sidebarbg.png) repeat;
	padding: 20px 15px;
	.x-button-pressing {
		@extend %extend_x-button-pressing;
	}
}
.desktop_sidebar_img {
	background: url(#{$get-path-to-assets}/images/sidebar_img.png) no-repeat;
	height: 100%;
	background-size: 100% auto;
}
.desktop_container {
	width: 1160px;
	margin: 0 auto;
	height: 100%;
}
.bordergrey {
	border: 1px solid $color_mountain_mist;
}
.bordergrey_lt {
	border: 1px solid $color_celeste;
}
.bordergrey-left-right-top {
	border-left: 1px solid $color_mountain_mist;
	border-right: 1px solid $color_mountain_mist;
	border-top: 1px solid $color_mountain_mist;
}
.bordergrey-bottom {
	border-bottom: 1px solid $color_mountain_mist;
}
.height50 {
	height: 50px;
}
.btn_bottom {
	bottom: 10px;
	left: 2.3%;
	padding-left: 0;
	padding-right: 0;
	position: absolute;
	text-align: center;
	width: 95.7% !important;
}
.btn_bottom_wrap {
	position: relative;
	padding-bottom: 56px;
}
.x-ie {
	.x-button {
		height: auto !important;
	}
	input::-ms-clear {
		display: none;
	}
}
x-phone {
	.claimListheader .x-title {
		padding: 7px 5px 5px;
	}
	.green-bg-gredient .x-title {
		padding: 7px 5px 5px;
	}
	.green-cyan-bg .x-title {
		padding: 7px 5px 5px;
	}
}
.customCalendarContainer {
	background-color: $color_powder_blue;
	padding: 5px 5px 5px 10px;
	margin-bottom: 10px;
	height: 59px;
}
.customCalendarDayColor {
	color: $color_suva_gray;
}
.accordionlistContainer {
	background: $color_mulled_wine;
}
.min-height157 {
	min-height: 157px;
}
.min-height162 {
	min-height: 162px;
}
.veiwHomeTransparentContainer {
	background: $black_50;
}
.text-align-justify {
	text-align: justify;
}
.fliterClaimLabelToggleBtn {
	margin-right: 2%;
	margin-top: 3px;
}
.height100 {
	height: 100%;
}
.greyborder_vl {
	border-bottom: solid 1px $color_pumice;
}
.expenditureType {
	input {
		height: 46px!important;
	}
	div {
		height: 46px!important;
	}
}
.expenditureType_1 {
	input {
		height: 46px!important;
	}
	div {
		height: 46px!important;
	}
}
.expenseList {
	.x-innerhtml {
		padding: 5px;
	}
	.x-list-item-tpl {
		background: $white;
	}
	.expenseDate {
		color: #B0B0B0;
	}
	.expdetail {
		color: $black;
	}
}
.expenseName {
	display: inline-block;
	width: 70%;
}
.expenseAmount {
	@extend %extend_expenseAmount;
}
.salectedDate {
	border: 0 none;
	@include border-radius(0);
	background: none;
	background-color: $color_puerto_rico;
	width: 100%;
	vertical-align: top;
	color: $white;
	span {
		@extend %extend_text_span;
	}
}
.margin-bottom-20 {
	margin-bottom: 20px;
}
.x-chart-watermark {
	display: none!important;
}
.pad-t10-b10 {
	@include pad_top_btm(10px !important);
}
.not_av_msg {
	background-color: $color_mercury;
	margin-top: 20px;
	border: solid $color_gunsmoke 1px;
}
.not_pro_av_msg {
	background-color: $color_mercury;
	border: solid $white 1px;
	padding: 10px;
	text-align: center;
	font-weight: normal;
}
.animationspac {
	margin-top: 10px;
	span.greenColor {
		top: 0!important;
	}
}
.valignMiddle {
	align-items: center;
}
#salarypacakingfeedata img {
	max-width: 100%;
}
.bg#ACDEE7 {
	background-color: #ACDEE7;
}
txtSearchBar .x-field .x-field-input {
	@extend %extend_input;
}
.x-field .x-input-el {
	@extend %extend_input;
}
.x-list-normal .x-list-item .x-dock-horizontal {
	border: none;
}
.smart_menu ul {
	text-align: left;
	margin: 0;
	padding: 0;
	list-style: none;
	width: 100%;
	background-color: $color_comet;
	border-top: 4px solid $white;
	display: inline-block;
	li {
		display: inline-block;
		position: relative;
		padding: 15px 14px;
		cursor: pointer;
		transition: all 0.2s;
		color: $white;
		font-size: 14px;
		border-right: 4px solid $color_gun_powder;
		vertical-align: middle;
		&#home {
			@extend %extend_smartmenu;
			background-image: url(#{$get-path-to-assets}/images/icon_home.png);
			background-position: center center;
		}
		&#manageMyBenefits {
			@extend %extend_smartmenu;
		}
		&#expressOnlineClaims {
			@extend %extend_smartmenu;
			background-image: url(#{$get-path-to-assets}/images/home_cat_icon2.png);
		}
		&#personalDetails {
			@extend %extend_smartmenu;
			background-image: url(#{$get-path-to-assets}/images/home_cat_icon3.png);
		}
		&#whatCanIpack {
			@extend %extend_smartmenu;
			background-image: url(#{$get-path-to-assets}/images/home_cat_icon6.png);
		}
		&.vleasing {
			@extend %extend_smartmenu;
			background-image: url(#{$get-path-to-assets}/images/home_cat_icon7.png);
		}
		&:last-child {
			border: 0;
		}
		&:hover {
			background-color: $color_gossamer !important;
			color: $white;
			ul {
				display: block;
				opacity: 1;
				visibility: visible;
			}
		}
		ul {
			padding: 0;
			position: absolute;
			z-index: 5;
			top: 46px;
			left: 0;
			@include box_shadow(none);
			display: none;
			opacity: 0;
			visibility: hidden;
			border: 0;
			width: 210px;
			li {
				background-color: $color_gossamer;
				display: block;
				color: $white;
				border: 0;
				border-bottom: 1px solid $white;
				&:hover {
					background-color: $color_elf_green !important;
				}
			}
		}
	}
}
#animateId_TH .lightblue {
	background: $color_powder_blue;
	top: 0!important;
	position: absolute;
	z-index: 3;
}
#animateId_NVL .darkgreen {
	background: $color_gossamer;
	top: 0!important;
	position: absolute;
	z-index: 3;
}
#vehicleClaim .height-35 {
	min-height: 47px !important;
}
#vehicleLeasing .height-35 {
	min-height: 47px !important;
}
.noactive .x-button:active {
	background-color: $silver_chalice!important;
}
.class_active:active {
	background-color: $color_pale_slate;
	.claimTypeButton_n {
		background-color: $color_pale_slate !important;
	}
}
.claimStepOneNextButtonWrap .claimStepOneNextButton {
	background-position: 97.7778% center;
}
#claimStepsButtonWrapper .x-button-pressing {
	background-color: #4F2E7F!important;
}
.txt-normal .x-button-label {
	font-weight: normal!important;
}
.searchlistbackbtn .x-button-label {
	line-height: 25px;
	@extend %extend_x-button-label;
}
.salaryfeepackagingtop .x-button-label {
	line-height: 20px;
}
.dataWrapper_p table {
	width: 80%;
}
.txtSearchField_p .x-clear-icon {
	margin-top: -14px;
}
#cappedClaimSubTxt h3 {
	font-weight: normal;
	color: $black;
}
.claim-type-txt h3 {
	font-size: 16px;
	color: $black;
}
.down_arrow .arrow {
	background: url(#{$get-path-to-assets}/images/aro_img_down.png) no-repeat 98% 0!important;
	width: 12px;
	height: 12px;
}
.fieldHeight input {
	@include border-radius(none !important);
	font-style: italic;
	font-family: $font_helveticalight;
	line-height: 30px;
}
#filterSection .fieldHeight input {
	font-style: normal;
}
.tabletSpList .x-list-item-tpl {
	padding: 0.7em 1.8em !important;
}
.selectLabelCls span {
	font: 12px helveticalight!important;
	padding-top: 0;
	font-weight: normal !important;
}
.selectLabelClsD span {
	font-size: 0.9em !important;
	padding-top: 0;
	font-weight: normal !important;
	color: $color_storm_dust;
	font: 12px helveticalight!important;
}
.x-list-paging .x-list-paging-msg {
	color: $color_comet;
}
#CappedClaimStepOnePageId .x-scroll-scroller {
	width: inherit !important;
}
#ExpenseProvider .x-input-el {
	padding-top: 10px;
}
.bgE7E7E7wrap .x-input-el {
	padding-top: 10px;
}
.bluetxtwrap h3 {
	font-size: 20px;
	color: $color_minsk !important;
}
#cappedClaimFormFieldWrapper .x-form-fieldset {
	margin-top: 0;
	margin-bottom: 0;
}
.x-field-select .x-webkit .x-component-outer:after {
}
.holder span {
	display: none;
}
#viewHome .x-toolbar.x-docked-top {
	border: 0;
	min-height: 80px;
}
#claimStepsTwoButtonWrapper .x-button-pressing {
	background-color: #4F2E7F!important;
}
.vehicle_claim_list .x-button-label {
	font-weight: normal;
}

.x-toolbar-dark .newlogoutbtn {
	.x-button-pressing {
		background-color: transparent!important;
	}
	.x-button{
		background-color: transparent!important;
		background:none !important;
		border:0 !important;
	}
	.x-button:hover {
		background-color: transparent!important;
	}
}
.placeholder_car img {
	width: 90%;
	height: auto;
}
.x-select-overlay .x-list-label {
	white-space: normal !important;
}
.x-field-input input {
	text-overflow: ellipsis;
}
.trackMyClaimAdminMsg .x-toolbar-dark {
	text-align: center;
	background: $color_rio_grande;
	background: linear-gradient(to bottom, $color_rio_grande 0, $color_lima 100%);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='$color_rio_grande', endColorstr='$color_lima', GradientType=0 );
}
.transcleDetail .vborder .bgwhiteparentButton {
	background: transparent;
	border: solid 2px #CDCDCD;
	@include border-radius(0);
}
.hidearrow .fa-chevron-right:after {
	content: '';
}
.bgLightGreyVehicale .button_ltgrey_vl {
	padding: 13px 15px;
}
.vlabel x-form-label {
	padding: 3px 15px;
	font-size: 16px;
}