//mixins
@mixin pad_top_btm($pad_top_btm) {
  padding-top:$pad_top_btm;
  padding-bottom:$pad_top_btm;
}
@mixin margtop_padtop($margtop_padtop) {
	margin-top:$margtop_padtop;
	padding-top:$margtop_padtop;
}

@mixin border_radius($radius) {
	-webkit-border-radius:$radius;
	   -moz-border-radius:$radius;
	        border-radius:$radius;
}
@mixin box_shadow($box_shadow) {
	-webkit-box-shadow:$box_shadow;
	   -moz-box-shadow:$box_shadow;
	        box-shadow:$box_shadow;
}