//colors
$white: #fff;
$color_honey_flower: #4d2473;
$color_gallery: #eeeeee;
$color_mercury: #e7e7e7;
$color_pumice: #c9c7c8;
$color_charade: #2c2f3b;
$color_comet: #5a5b77;
$color_pale_slate: #c3c3c3;
$color_minsk: #4f2e7f;
$color_red: #f00;
$color_suva_gray: #888888;
$color_storm_dust: #606060;
$color_gossamer: #0e9f80;
$color_powder_blue: #acdee7;
$seashell: #f1f1f1;
$color_smoky: rgb(94,80,120);
$color_mulled_wine: rgb(71,70,96);
$color_tolopea: rgb(35,0,78);
$color_gun_powder: #3c3e57;
$color_elf_green: #0a8f72;
$color_iron: #d8d8d8;
$color_geraldine: #ff8585;
$color_mantis: #8bcf69;
$color_reef: #b8f09b;
$color_mountain_mist: #929292;
$color_japanese_laurel: green;
$color_tundora: #444;
$color_woodsmoke: #111;
$color_river_bed: #3f4e5e;
$black:  black;
$color_mine_shaft: #333;
$color_bermuda_gray: #7188a8;
$color_fiord: #44566f;
$color_bright_gray: #313d4f;
$color_regent_gray: #89909a;
$color_dodger_blue: #1980e5;
$color_picton_blue: #4699eb;
$color_jordy_blue: #8bbff2;
$color_cornflower_blue: #5da6ed;
$color_curious_blue: #2f8de8;
$color_congress_blue: #0f4d89;
$color_prussian_blue: #0a335b;
$color_regal_blue: #0c4072;
$color_venice_blue: #0f4e8b;
$color_gray_chateau: #a3a7af;
$color_blackcurrant: #2f2f3b;
$color_gray: #818181;
$silver_chalice: #acacac;
$color_quill_gray: #d3d3d3;
$color_pink_swan: #b6babd;
$color_viking: #65c0d2;
$color_ship_gray: #383c48;
$color_rio_grande: #bdd600;
$color_lima: #78bc00;
$color_stack: #8b8b8b;
$color_cararra: #ececec;
$color_tuna: #373748;
$color_celeste: #cccccc;
$color_silver: #bebebe;
$color_olivine: #99bb71;
$color_forest_green: #2c8b23;
$color_puerto_rico: #3cbe9f;
$color_gold_drop: #e98300;
$color_alizarin_crimson: #eb2939;
$color_lochmara: #0070bb;
$color_nobel: #b0b3b1;
$color_star_dust: #9c9c9c;
$color_ironside_gray: #676767;
$color_tapa: #777777;
$color_paradiso: #2e797f;
$color_gunsmoke: #848484;
$color_dove_gray: #707070;
$color_limeade: #6ea603;
$black_50: rgba(0,0,0,0.5);
$color_silver_chalice: #b0b0b0;

//fonts
$font_helveticaneuemedium: helveticaneuemedium;
$font_helveticalight: helveticalight;
$font_FontAwesome: FontAwesome;

//font awesome
$fa_chevron_right:"\f054";
$fa_chevron_down:"\f078";
$fa_chevron_left:"\f053";

//path for images and fonts
$get-path-to-assets : "..";