%extend_container_vl_wrap {
	width: 70%;
	margin-left: auto;
	margin-right: auto;
}
.searchlistbackbtn {
	width: 10%;
	font-size: 14px;
	background: transparent;
	border: none;
	font-weight: normal;
}
.x-desktop {
	.container_vl {
			padding: 30px;
			padding-bottom: 0;
			.x-scroll-scroller-vertical {
				padding-right: 12px !important;
				.x-scroll-scroller-vertical {
					padding-right: 0 !important;
				}
			}
			.x-button-label {
				margin-top: 0;
			}
			.selectbox_vl .expenditureType_1 {
				input {
					padding-top: 6px;
				}
				div span {
					padding-top:6px;
				}
			}
			.searchlistbackbtn .x-button-label {
				padding-top: 4px;
			}
	}
	.container_vl_wrap_grey {
			padding-left: 5%;
			padding-right: 5%;
	}
	#homeContainer .container_vl .x-field-input .x-clear-icon {
		top: 28px;
	}
}
#homeContainer {
	.container_vl .x-field-input .x-clear-icon {
			background: none;
			background-color: $color_celeste;
			width: 25px;
			height: 25px;
			color: $color_ironside_gray;
			@include border-radius(100%);
			text-align: center;
			padding-top: 2px;
			box-sizing: border-box;
			right: 3px;
			top: 26px;
			font-size: 17px;
			&:before {
				@extend %extend_clear;
			}
		}
}
.container_vl_wrap {
	@extend %extend_container_vl_wrap;
}
.container_vl_wrap_1 {
	@extend %extend_container_vl_wrap;
	width: 72%;
}
.container_vl_wrap_grey {
	background-color: $color_mercury;
	width: 100%;
	padding: 0 15%;
}
.container_vl {
	color: $color_comet;
	.x-button-pressing {
		background: none;
		background-color: $color_puerto_rico!important;
		color: $white;
	}
	.icon-sign {
		background: none;
		padding: 0 0 0 20px;
		color: $color_tapa;
		font-size: 21px;
		//Instead of the line below you could use @includebox-sizing($bs)
		box-sizing: border-box;
		font-weight: normal;
		&:before {
			@extend %extend_clear;
			content: "\f155";
			padding-top: 14px;
		}
	}
	.cal-arrow-right, .cal-arrow-down {
		position:relative;
	}
	.cal-arrow-right:after{
		content: $fa_chevron_right;
		right:-4px;
		@extend %extend_valign;
		color:$color_comet;
		@extend %extend_fa;
		font-size:14px;
	}
	.cal-arrow-down:after{
		content: $fa_chevron_down;
		right:-4px;
		@extend %extend_valign;
		color:$color_comet;
		@extend %extend_fa;
		font-size:14px;
	}
	.selectbox_vl {
		.expenditureType {
			div {
				height: 40px !important;
			}
			input {
				@extend %extend_expenditure_input;
			}
		}
		.expenditureType_1 {
			div {
				height: 40px !important;
				@include pad_top_btm(0) ;
				&.x-form-label {
					background-color: $color_puerto_rico;
					@include border-radius(0);
					border-top: 0;
					color: $white;
				}
				span {
					font-size: 14px;
					font-weight: normal;
					padding: 8px;
					line-height: 27px;
					display: block;
					
					text-shadow: none;
				}
			}
			input {
				@extend %extend_expenditure_input;
			}
		}
		.x-field {
			min-height: auto;
		}
	}
	.expenselist_vl {
		.x-list-item-tpl {
			border-top: 0!important;
			background-color: $color_mercury!important;
			margin-bottom: 10px;
		}
		.x-item-selected {
			background: none !important;
			background-color: $color_puerto_rico !important;
		}
		.x-item-pressed {
			background: none !important;
			background-color: $color_puerto_rico !important;
			.expenseName {
				color: #FFF !important;
			}
			.expenseAmount {
				color: #FFF !important;
			}
			.expenseDate {
				color: #FFF !important;
			}
		}
	}
	.expenselist_vl_wrap {
		.x-list {
			background-color: $white;
			.x-list-disclosure {
				background: none !important;
				height: 100% !important;
				padding: 0 !important;
				margin: 0 !important;
				text-align: center;
				&:before {
					content: $fa_chevron_right;
					@extend %extend_fa;
					font-size: inherit;
					color: $color_gun_powder;
					position: absolute;
					top: 20%;
				}
			}
			.x-item-selected .x-list-disclosure:before {
				color: #FFF !important;
			}
			.x-item-pressed .x-list-disclosure:before {
				color: #FFF !important;
			}
			.x-list-item.x-list-item-tpl .x-innerhtml {
				padding: 10px;
				line-height: 15px;
				font-size: 13px;
				color: $color_comet !important;
			}
		}
		.expenseName {
			@extend %extend_expenselist;
		}
		.expenseAmount {
			@extend %extend_expenselist;
			width: 24%;
			margin-top: -4px;
		}
		.expenseDate {
			@extend %extend_expenselist;
		}
		.expenseAmountTransaction {
			@extend %extend_expenselist;
			float: right;
			@extend %extend_expenseAmount;
		}
		.x-item-selected {
			.expenseName {
				color: #FFF !important;
			}
			.expenseAmount {
				color: #FFF !important;
			}
			.expenseDate {
				color: #FFF !important;
			}
		}
	}
	label {
		&.budgetName {
			font-size: 14px;
		}
		&.budgetAmount {
			font-size: 14px;
		}
	}
	.x-button-label {
		line-height: normal;
		display: table;
		vertical-align: middle;
		width: 100%;
	}
	.image_browse_wrapper {
		background-color: $color_paradiso !important;
		background-image: url(#{$get-path-to-assets}/images/invoice_btn_vl@2x.png);
	}
	.customCalendarContainer {
		height: 42px;
	}
	.calendar-icon-cust {
		height: 32px;
	}
	.customCalendarDayColor {
		padding-top: 0 !important;
	}
	.changedates_dd_rt {
		background: url(#{$get-path-to-assets}/images/aro_rt_bk@2x.png) no-repeat 95% 7px!important;
		background-size: 12px auto!important;
	}
	.x-button.x-button-pressing:after {
		background: none;
	}
	.searchlistbackbtn .x-button-label {
		margin-top: 0;
		padding-top: 8px;
	}
	.txtSearchBar .x-field .x-field-input {
		@extend %extend_x-field_input;
	}
	.x-field .x-input-el {
		@extend %extend_x-field_input;
		font-size: 16px;
		text-overflow: ellipsis;
	}
	.x-layout-box.x-horizontal > .x-layout-box-item.x-flexed {
		word-wrap: break-word;
		text-align: left;
	}
	.x-horizontal.x-align-stretch .txt-right {
		text-align: right !important;
	}
	#transactionsFromCalendar .margin-5-10 {
		@include margtop_padtop(0!important);
	}
	#transactionsToCalendar .margin-5-10 {
		@include margtop_padtop(0!important);
	}
	#vehiclesExpenditureToCalendar .margin-5-10 {
		@include margtop_padtop(0!important);
	}
	#daysUnavailableDropOffCalendar .margin-5-10 {
		@include margtop_padtop(0!important);
		margin-left: 0 !important;
		padding-left: 0 !important;
	}
	#vehiclesExpenditureFromCalendar .margin-5-10 {
		margin-top: 0 !important;
	}
	#daysUnavailablePickUpCalendar .margin-5-10 {
		margin-left: 0 !important;
		padding-left: 0 !important;
	}
	.x-field-select .x-component-outer:after {
		background-color: transparent !important;
	}
}
.button_grey_vl_2 {
	background: none;
	background-color: $color_celeste !important;
	border: 1px solid $color_pink_swan;
	color: $color_gun_powder;
	@include border-radius(0);
	text-align: left;
	width: 100%;
	span {
		margin-top: 5px;
		span {
			margin-top: 0;
		}
	}
}

.button_greyblue_vl {
	background: none;
	background-color: $color_comet !important;
	width: 100%;
	vertical-align: top;
	text-transform: capitalize;
	span {
		margin-top: 2px;
	}
}
.button_white_vl {
	background: none;
	background-color: $white !important;
	@include box_shadow(1px 1px 2px #B7B7B7);
	color: $color_comet;
	width: 100%;
}
.button_ltgrey_vl {
	background: none;
	border: 0 none;
	@include border-radius(0);
	background-color: $color_mercury;
	width: 100%;
	vertical-align: top;
	color: $color_comet;
	text-transform: capitalize;
	span {
		@extend %extend_text_span;
	}
}
.shadow_vl {
	@include box_shadow(1px 1px 2px #B7B7B7);
}
.container_vl .snap_shot .remove_img:after {
	background-color: #0e9f80;
}