@charset "UTF-8";
.fa {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

.touch-calendar-view thead th:first-child:before, .touch-calendar-view thead th:last-child:before {
  position: absolute;
  top: 10px;
  text-shadow: none; }

.fa, .touch-calendar-view thead th:first-child:before, .touch-calendar-view thead th:last-child:before, #selectClaimType .x-field-mask:after, #selectDate .x-field-mask:after, #selectStatus .x-field-mask:after, .selectbox_vl .x-field-mask:after, #homeContainer .container_vl .x-field-input .x-clear-icon:before, .container_vl .icon-sign:before, .x-desktop .btnSearch:after, .calendar-icon-cust:before, .snap_shot .remove_img:after, .changedates_dd_dn:after, .container_vl .cal-arrow-right:after, .container_vl .cal-arrow-down:after, .container_vl .expenselist_vl_wrap .x-list .x-list-disclosure:before {
  display: inline-block;
  font: normal normal normal 14px/1 font_FontAwesome;
  text-rendering: auto; }

.fa-vl .fa-check:before, .fa-vl .fa-close:before, .fa-vl .fa-chevron-right:after, .fa-vl .fa-chevron-down:after, .fa-chevron-left:before, .fa-circle-o:before {
  position: absolute;
  top: 4px;
  left: 9px;
  font-size: 25px; }

.fa_1 {
  display: flex;
  font: normal normal normal 14px/1 FontAwesome;
  text-rendering: auto; }

.fa-vl {
  position: relative; }
  .fa-vl .fa-close:before {
    color: #e98300; }

.fa-sign-out {
  position: absolute;
  right: 10px;
  top: 10px;
  font-size: 25px;
  padding: 10px; }
  .fa-sign-out:before {
    color: #c3c3c3;
    background-color: #3c3e57;
    padding: 6px;
    line-height: 50px; }
  .fa-sign-out:hover:before {
    background-color: #3cbe9f;
    color: #fff; }

.fa-chevron-left:before {
  font-size: 16px;
  top: 35%; }

.fa-chevron-left_1:before {
  left: 3px !important; }

.fa-circle-o:before {
  font-size: 20px;
  top: 12px; }

.fa-circle-o-purple:before {
  color: #4f2e7f; }

.fa-circle-o-red:before {
  color: #eb2939; }

.fa-circle-o-darkblue:before {
  color: #0070bb; }

.fa-circle-o-orange:before {
  color: #e98300; }

.fa-circle-o-ltblue:before {
  color: #acdee7; }

.fa-circle-o-grey:before {
  color: #b0b3b1; }

.fa-circle-o-green:before {
  color: #bdd600; }

.fa-check:before {
  content: "\f00c"; }

.fa-chevron-right:after {
  content: ""; }

.fa-chevron-down:after {
  content: ""; }

.fa-chevron-left:before {
  content: ""; }

.fa-remove:before,
.fa-close:before,
.fa-times:before {
  content: "\f00d"; }

.fa-circle-o:before {
  content: "\f10c"; }

.fa-remove:before,
.fa-close:before,
.fa-times:before {
  content: "\f00d"; }

.fa-check-circle:before {
  content: "\f058"; }

.fa-car:before {
  content: "\f1b9"; }

.fa-sign-out:before {
  content: "\f08b"; }

body {
  font-family: helveticaneuemedium; }

article, aside, details, figure, figcaption, footer, header, hgroup, menu, nav, section {
  display: block; }

h1 {
  font-size: 24px;
  line-height: 28px;
  font-size: 22px;
  font-weight: bold;
  color: #4E2683;
  padding: 10px 0; }

h2 {
  font-size: 22px;
  line-height: 26px; }

h3 {
  font-size: 18px;
  font-weight: bold;
  color: #4E2683;
  padding: 5px 0; }
  h3.bluetxt {
    font-size: 20px;
    color: #4f2e7f !important; }
  h3.success {
    font-size: 18px !important; }

h4 {
  font-size: 16px; }

h5 {
  font-size: 12px; }

h6 {
  font-size: 10px; }

blockquote {
  quotes: none; }
  blockquote:before {
    content: '';
    content: none; }
  blockquote:after {
    content: '';
    content: none; }

.clearfix:before {
  display: table;
  content: " "; }
.clearfix:after {
  display: table;
  content: " ";
  clear: both; }

.f-bold {
  font-weight: bold; }

button span {
  color: #fff !important;
  text-shadow: none !important; }

width100 {
  width: 100%; }

.border-bottom-0 {
  border-bottom: solid 0 !important; }

.bgwhite {
  background: #fff; }

.bgdarkblue {
  background: #4D2473 !important; }

.bgEEEEEE {
  background: #EEEEEE; }

.bgE7E7E7 {
  background-color: #E7E7E7 !important; }

.bdr-15-top {
  border-top: solid 20px #fff; }

.bdr {
  border: solid 0; }

.bdrwhite {
  border: solid 1px #fff !important; }

.bglightgrey {
  background: #C9C7C8; }

.bgtransparent {
  background: transparent; }

.bggrey {
  background-color: #5A5B77;
  padding: 5px 10px 10px; }

.bgdarkgrey {
  background-color: #C3C3C3; }

.bgpurpule {
  background-color: #4F2E7F; }

.bgF9F9F9 {
  background-color: #F9F9F9; }

.font-purple {
  color: #4f2e7f; }

.font-vlightgrey {
  color: #888888;
  color: #606060 !important; }

.f-italic {
  font-style: italic; }

.f-darkgrey {
  color: #606060; }

.f-0E9F80 {
  color: #0E9F80; }

.bg4e2683 {
  background-color: #4f2e7f; }

.color-green {
  color: green; }

.gray_box {
  background-color: #e7e7e7; }

.padding-top-15 {
  pad-top: 15px; }

.noborder {
  border: 0 !important; }

.bordertop10 {
  border-top: 10px; }

.text-capital {
  text-transform: uppercase; }

.bgd7 {
  background: #D7D7D7; }

.bgac {
  background: #ACACAC; }

.font-helveticalight {
  font-family: helveticalight; }

.f-green {
  color: #99BB71; }

.bgpurple1 {
  background-color: #4f2e7f !important; }

.fontcolor_vl {
  color: #5a5b77; }

.f-e98300 {
  color: #e98300; }

.f-2c2f3b {
  color: #2c2f3b; }

.pad-10 {
  padding: 10px; }

.pad-5 {
  padding: 5px; }

.pad-5-5-8-0 {
  padding: 5px 5px 8px 0; }

.pad-5-5 {
  padding: 2px 5px; }

.pad-top-10 {
  padding-top: 10px; }

.pad-top-9 {
  padding-top: 9px; }

.pad-top-0 {
  padding-top: 0; }

.pad-left-20 {
  padding-left: 20px; }

.pad-left-36 {
  padding-left: 36px; }

.pad-left-26 {
  padding-left: 26px; }

.pad-left-15 {
  padding-left: 19px; }

.pad-l-15 {
  padding-left: 15px; }

.pad-l-20 {
  padding-left: 15px; }

.pad-r-20 {
  padding-right: 15px; }

.pad-10-0 {
  padding: 10px 0; }

.pad-0-10 {
  padding: 0 10px; }

.pad-0 {
  padding: 0 !important; }

.pad-5-10 {
  padding: 5px 10px; }

.pad-top-15 {
  padding-top: 15px; }

.pad-top-42 {
  padding-top: 42px; }

.pad-6-10-7 {
  padding: 7px 10px 6px; }

.pad-7-10-8 {
  padding: 7px 10px 8px; }

.pad-top-5 {
  padding-top: 5px; }

.pad-30 {
  padding: 30px; }

.pad-33 {
  padding: 33px; }

.pad-19 {
  padding: 19px; }

.pad-20 {
  padding: 20px; }

@media screen and (-webkit-min-device-pixel-ratio: 0) {
  .claimTypeInnerFormSideTwo {
    margin-top: 29px; } }
.pad-bottom-5 {
  padding-bottom: 5px; }

.pad-bottom-7 {
  padding-bottom: 7px; }

.pad-bottom-20 {
  padding-bottom: 20px; }

.pad-bottom-10 {
  padding-bottom: 10px; }

.pad-bottom-15 {
  padding-bottom: 15px; }

.pad-left-5 {
  padding-left: 5px; }

.pad-left-10 {
  padding-left: 10px; }

.pad-right-10 {
  padding-right: 10px; }

.pad-right-20 {
  padding-right: 20px; }

.pad-2-0 {
  padding: 2px 0; }

.pad-8 {
  padding-top: 8px; }

.pad-0-10-p {
  padding: 10px 10%; }

.pad-0-5-0-0 {
  padding: 10px 5% 10px 0; }

.pad-0-0-0-5 {
  padding: 10px 0 10px 5%; }

.padright2pcage {
  padding-right: 17px; }

.pad-top-20 {
  padding-top: 20px; }

.pad-15-20 {
  padding: 15px 20px; }

.pad-15-10-0 {
  padding: 15px 10px 0; }

.pad-15 {
  padding: 15px; }

.pad-0-15-15 {
  padding: 0 15px 15px; }

.pad-0-10-10-10 {
  padding: 0 10px 10px; }

.pad-10-10-10-0 {
  padding: 10px 10px 10px 0; }

.pad-10-10-0-0 {
  padding: 10px 10px 0 10px; }

.pad-10-20-10-10 {
  padding: 10px 20px 10px 10px; }

.pad-right-5 {
  padding-right: 5px; }

.pad-top-36 {
  padding-top: 46px; }

.pad-bottom-1 {
  padding-bottom: 1px; }

.pad-25-0-10 {
  padding: 25px 0 10px; }

.pad-8-0 {
  padding: 8px 0; }

.pad-12-0-5-0 {
  padding: 12px 0 5px; }

.pad-0-15 {
  padding: 0 15px; }

.pad-10-5 {
  padding: 10px 5px; }

@supports (-webkit-appearance: none) {
  .claimTypeInnerFormSideTwo {
    margin-top: 34px; } }
.m-t-10 {
  margin-top: 10px; }

.margin-5-10 {
  margin: 5px 10px; }

.margin-10-0 {
  margin: 10px 0; }

.margin-15-10-0-10 {
  margin: 15px 10px 0; }

.margin-10-5 {
  margin: 10px 5px; }

.margin-10 {
  margin: 10px; }

.margin-bottom-15 {
  margin-bottom: 15px; }

.margin-bottom-10 {
  margin-bottom: 10px; }

.margin-bottom-5 {
  margin-bottom: 5px; }

.margin-bottom-5-for-vehicle {
  margin-bottom: 5px; }

.margin-0-10 {
  margin: 0 10px; }

.margin-top-10 {
  margin-top: 10px; }

.margin-top-20 {
  margin-top: 20px; }

.margin-top-30 {
  margin-top: 30px; }

.margin-top-16 {
  margin-top: 16px; }

.margin-top-7 {
  margin-top: 7px; }

.margin-top-3 {
  margin-top: 3px; }

.margin-top-40 {
  margin-top: 40px; }

.margin-10-10-0-10 {
  margin: 10px 10px 0 10px; }

.margin-10-0-0-10 {
  margin-top: 15px;
  margin-left: 10px; }

.margin-10-10-10-0 {
  margin: 10px 10px 10px 0; }

.margin-10-0-10-10 {
  margin: 10px 0 10px 10px; }

.m-20-10 {
  margin: 20px 10px; }

.mar-5-0 {
  margin: 5px 0; }

.mar-top-15 {
  margin-top: 15px; }

.mar-btm-0 {
  margin-bottom: 0; }

.mar-0-10 {
  margin: 0 10px; }

.m-5-0 {
  margin: 5px 0; }

.m-11-0 {
  margin: 11px 0; }

.marginleft30 {
  margin-left: 30px; }

.marginright {
  margin-right: 30px; }

.margin-left-15 {
  margin-left: 15px; }

.margin-left-10 {
  margin-left: 10px; }

.margin-right-10 {
  margin-right: 10px; }

.margin-top-ten {
  margin-top: -10px; }

.margin-right-5 {
  margin-right: 5px; }

.margin-left-5 {
  margin-left: 5px; }

.margin-top-5 {
  margin-top: 5px; }

.margin-left-20 {
  margin-left: 20px; }

.font-bold {
  font-weight: bold; }

.font-normal {
  font-weight: normal; }

.font-12 {
  font-size: 12px; }

.font-13 {
  font-size: 13px; }

.font-14 {
  font-size: 14px; }

.font-15 {
  font-size: 15px; }

.font-16 {
  font-size: 16px; }

.font-18 {
  font-size: 18px; }

.font-20 {
  font-size: 20px; }

.font-22 {
  font-size: 22px; }

.font-24 {
  font-size: 24px; }

.font-26 {
  font-size: 26px; }

.font-white {
  color: #fff; }

.x-desktop #dashboardscreen {
  padding: 30px;
  padding-bottom: 0; }

.x-tablet .dashboard_t_wrapper .productitem {
  background-size: 160px 160px;
  padding-top: 184px; }

.x-layout-card-item {
  background: #fff; }
  .x-layout-card-item #dashboardscreen {
    background: url(../images/desktop_bg.png) repeat; }

#dashboardscreen .x-form-label {
  background-color: #cccccc !important;
  text-shadow: none !important;
  -webkit-border-radius: 0 !important;
  -moz-border-radius: 0 !important;
  border-radius: 0 !important;
  border: 0 !important; }
  #dashboardscreen .x-form-label span {
    font-size: 14px; }
#dashboardscreen .button_grey_vl_2 {
  padding-top: 4px;
  padding-bottom: 4px; }
#dashboardscreen h2 {
  color: #707070;
  font-size: 16px;
  font-weight: bold;
  position: relative;
  display: inline-block;
  padding: 0 10px;
  background: url(../images/desktop_bg.png) repeat; }
#dashboardscreen .expenditureType_1 div {
  line-height: 22px;
  height: 38px !important; }
#dashboardscreen .expenditureType_1 input {
  height: 40px !important; }
#dashboardscreen .redColor {
  background: #f00 !important; }
#dashboardscreen .button_grey_vl_2 span {
  text-align: center; }
#dashboardscreen .fa-vl .border {
  background-color: #bebebe;
  border: 0;
  height: 1px;
  position: absolute;
  top: 12px;
  left: 0;
  width: 100%; }
#dashboardscreen #novatedCarLeaseGraph .meter-vehicle span.inner-bar {
  background: #0e9f80; }
#dashboardscreen #animateId_TH span.inner-bar {
  background: #acdee7; }

.dashboardscreen {
  text-align: left; }

@font-face {
  font-family: helveticaneuemedium;
  src: url("../fonts/helveticaneue_med-webfont.eot");
  src: url("../fonts/helveticaneue_med-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/helveticaneue_med-webfont.woff") format("woff"), url("../fonts/helveticaneue_med-webfont.ttf") format("truetype"), url("../fonts/helveticaneue_med-webfont.svg#helveticaneuemedium") format("svg");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: helveticalight;
  src: url("../fonts/helveticalt.eot");
  src: url("../fonts/helveticalt.eot?#iefix") format("embedded-opentype"), url("../fonts/helveticalt.woff") format("woff"), url("../fonts/helveticalt.ttf") format("truetype"), url("../fonts/helveticalt.svg#helveticalight") format("svg");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: font_FontAwesome;
  src: url("../fonts/fontawesome.eot?v=4.2.0");
  src: url("../fonts/fontawesome.eot?#iefix&v=4.2.0") format("embedded-opentype"), url("../fonts/fontawesome.woff?v=4.2.0") format("woff"), url("../fonts/fontawesome.ttf?v=4.2.0") format("truetype"), url("../fonts/fontawesome.svg?v=4.2.0#fontawesomeregular") format("svg");
  font-weight: normal;
  font-style: normal; }
input[type="text"], input[type="password"], input[type="email"], button {
  -webkit-border-radius: 0 !important;
  -moz-border-radius: 0 !important;
  border-radius: 0 !important;
  -webkit-box-shadow: none !important;
  -moz-box-shadow: none !important;
  box-shadow: none !important; }

html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  vertical-align: baseline; }

body, p, a {
  text-shadow: none !important;
  text-decoration: none;
  text-align: justify; }

txtSearchBar .x-field .x-field-input, .x-field .x-input-el {
  width: 89%;
  margin-left: 5px;
  margin-top: 0;
  min-height: 0;
  font-size: 14px;
  height: 30px; }

#basic .x-list-item-tpl, #basic .x-item-selected {
  background: url(../images/SS_listbg.png) 100% 100%;
  position: absolute;
  width: 100%;
  top: 0;
  left: 0;
  height: 103%;
  z-index: 0;
  border: solid 0 !important; }

.smart_menu ul li#home, .smart_menu ul li#manageMyBenefits, .smart_menu ul li#expressOnlineClaims, .smart_menu ul li#personalDetails, .smart_menu ul li#whatCanIpack, .smart_menu ul li.vleasing {
  /*background: url(../images/home_cat_icon1.png) no-repeat 20px center;*/
  background: url(../images/home_cat_icon1.png) no-repeat 20px center;
  background-size: 33px 32px;
  padding-left: 62px; }

.touch-calendar-view td.today, .touch-calendar-view td.today.selected, .touch-calendar-view td.selected {
  background: url(../images/circle_blue.png) no-repeat center center #d8d8d8;
  border: 0;
  color: #2f2f3b;
  text-shadow: none;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none; }

.claimStepButton, .button_grey_vl {
  background-color: #ACACAC !important;
  color: #fff;
  background-repeat: no-repeat;
  border: 0 none;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
  padding: 13px 15px; }

.claimStepOneCancelButton, .claimStepOneSaveAsDraftButton, .claimStepRightArrow {
  background-image: url(../images/w_arrow@2x.png) !important;
  background-position: 97.7778% center;
  background-size: 13px auto; }

.x-list-item-tpl, .x-item-selected {
  position: relative;
  color: #333 !important;
  padding: 0;
  min-height: 2.1em;
  display: box;
  border-top: 1px solid #65C0D2 !important;
  color: #fff !important;
  font-size: 14px;
  line-height: 24px; }

#selectClaimType .x-field-mask:after, #selectDate .x-field-mask:after, #selectStatus .x-field-mask:after, .selectbox_vl .x-field-mask:after, .container_vl .cal-arrow-right:after, .container_vl .cal-arrow-down:after {
  top: 50%;
  position: absolute;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%); }

#selectClaimType .x-field-mask:after, #selectDate .x-field-mask:after, #selectStatus .x-field-mask:after, .selectbox_vl .x-field-mask:after {
  content: "";
  color: #5a5b77;
  font-size: 14px;
  font-weight: bold;
  right: 2px;
  line-height: 39px; }

.x-webkit .x-field-select .x-component-outer:after {
  -webkit-mask-size: 0 !important; }

.cal-arrow-down, .cal-arrow-right {
  border: 0 !important;
  height: 21px !important; }

.fa-vl .fa-chevron-right:after, .fa-vl .fa-chevron-down:after {
  left: auto;
  right: 10px;
  top: 39%;
  font-size: 14px;
  background: transparent !important; }

.x-desktop .input_wrap_budgetm_vl input, .input_wrap_vl input {
  height: 49px !important;
  width: 95%;
  padding: 19px 0 15px 5px !important;
  margin: 0 !important;
  border-sizing: border-box; }

#homeContainer .container_vl .x-field-input .x-clear-icon:before, .container_vl .icon-sign:before {
  content: "\f00d";
  font-size: inherit; }

.container_vl .selectbox_vl .expenditureType input, .container_vl .selectbox_vl .expenditureType_1 input {
  height: 35px !important;
  font-size: 14px;
  padding-top: 10px; }

.container_vl .expenselist_vl_wrap .expenseName, .container_vl .expenselist_vl_wrap .expenseAmount, .container_vl .expenselist_vl_wrap .expenseDate, .container_vl .expenselist_vl_wrap .expenseAmountTransaction {
  width: 67%;
  float: left;
  color: #5a5b77 !important; }

.container_vl .txtSearchBar .x-field .x-field-input, .container_vl .x-field .x-input-el {
  height: 40px;
  font-size: 14px;
  padding-top: 8px; }

#dashboardscreen .x-button-pressing, .desktop_sidebar .x-button-pressing {
  background-color: #4f2e7f !important;
  background-image: none !important;
  color: #fff; }

.green-bg-gredient .x-innerhtml, .green-bg-gredient .x-title, .claimListheader .x-innerhtml, .claimListheader .x-title, .green-cyan-bg .x-innerhtml, .green-cyan-bg .x-title {
  font-size: 18px;
  font-weight: normal;
  line-height: 30px;
  text-shadow: none !important;
  width: 100%;
  text-align: left; }

.claimListheader .x-button-label, .searchlistbackbtn .x-button-label {
  border: solid 1px #fff;
  padding: 4px;
  -webkit-border-radius: 0.4em;
  -moz-border-radius: 0.4em;
  border-radius: 0.4em; }

.expenseAmount, .container_vl .expenselist_vl_wrap .expenseAmountTransaction {
  display: inline-block;
  width: 27%;
  text-align: right; }

.salectedDate span, .button_ltgrey_vl span {
  font-weight: normal;
  text-align: left;
  font-size: 14px;
  font-family: helveticaneuemedium;
  box-sizing: border-box;
  padding-top: 3px; }

.claimStepOneBackButton, .claimStepLeftArrow {
  background-image: url(../images/w_arrow_opp@2x.png) !important;
  background-position: 3.77777% center;
  background-size: 13px auto; }

a {
  color: #00F; }
  a.button_close_vl {
    position: absolute;
    top: 49px;
    right: 13px;
    background-color: #cccccc;
    width: 25px;
    height: 25px;
    color: #676767;
    -webkit-border-radius: 100%;
    -moz-border-radius: 100%;
    border-radius: 100%;
    text-align: center;
    padding-top: 5px;
    box-sizing: border-box; }

q {
  quotes: none; }
  q:before {
    content: '';
    content: none; }
  q:after {
    content: '';
    content: none; }

strong {
  font-weight: bold; }

b {
  font-weight: bold; }

ol {
  list-style: none; }

ul {
  list-style: none; }
  ul.list_vl {
    padding: 0;
    margin: 0; }
    ul.list_vl li {
      padding: 0 0 0 5px;
      margin: 0 0 0 14px;
      list-style-type: disc; }

form#vehicleRunningExpenseClaimPageId .x-scroll-scroller {
  width: inherit !important; }

label.budgetName {
  display: inline-block;
  text-align: left;
  width: 70%;
  font-size: 18px;
  overflow: hidden;
  text-overflow: ellipsis; }
label.budgetAmount {
  display: inline-block;
  text-align: right;
  width: 25%;
  font-size: 18px;
  overflow: hidden;
  text-overflow: ellipsis; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

#loginScreen input {
  font-size: 15px;
  line-height: normal;
  height: auto;
  padding: 13px 0.4em 9px;
  font-weight: bold; }
#loginScreen .x-button-label {
  font-weight: normal; }
#loginScreen .x-field .x-input-el {
  margin-left: 0; }

.bgfooter {
  background-color: #2C2F3B;
  padding-bottom: 10px; }
  .bgfooter .x-button {
    background: #2C2F3B;
    border: solid 0; }
  .bgfooter .x-button-label {
    font-weight: normal; }

#vehicleRegistrationList {
  background-color: #E7E7E7;
  padding: 10px; }
  #vehicleRegistrationList .x-list-item-tpl {
    background: #fff;
    border: solid 1px #D7D7D7 !important;
    margin-bottom: 10px; }
  #vehicleRegistrationList .vehicleRegistrationList {
    color: #2D2F3C;
    line-height: 30px;
    font-weight: 600; }
  #vehicleRegistrationList .x-list-disclosure:before {
    background: url("../images/w_arrow.png") no-repeat center center;
    content: ' ';
    line-height: normal;
    margin-top: 0;
    background: url("../images/w_arrow@2x.png") no-repeat center center;
    background-size: 13px auto; }
  #vehicleRegistrationList .x-item-selected .x-list-disclosure {
    background: #4F2684; }

.width-90 {
  width: 90% !important; }

.reasonBtn {
  width: 200px;
  margin-right: 15px;
  font-size: 13px; }

.listContainer_1 {
  width: 92%;
  float: left; }

.listContainer_aro {
  background: url(../images/silde-arrow_black.png) no-repeat 98% center #fff;
  background: url(../images/silde-arrow_black@2x.png) no-repeat 98% center #fff;
  background-size: 12px auto; }
  .listContainer_aro:active {
    background-color: #c3c3c3; }
    .listContainer_aro:active .listContainer {
      background-color: #c3c3c3; }

.listContainer_aro_right {
  float: right; }

.x-phone .green-cyan-bg .x-title, .x-tablet .green-cyan-bg .x-title {
  margin: 0 !important;
  padding: 7px 0 0 0 !important; }

.x-phone #userdetail {
  padding-top: 7px; }
.x-phone #reasonBtn {
  height: 40px; }
.x-phone .loginemptymsg {
  padding-left: 20px; }
.x-phone .claimListAdminMessage {
  padding: 5px 25px; }
.x-phone .phone_doc_pad-top-20 {
  margin-top: 20px; }
.x-phone .doc_1_pad-top-20 {
  margin-top: 20px; }
.x-phone .claimTypeButton_n {
  padding-top: 12px; }
.x-phone .phone-pad-bottom-1 {
  padding-bottom: 1px; }
.x-phone .selectLabelCls span {
  line-height: 24px; }

.x-desktop .logoimg {
  background: url(../images/logo.png) no-repeat; }
.x-desktop .selectbox_vl .x-field-mask {
  background-position: 99% center; }
.x-desktop .selectbox_vl .x-form-fieldset-inner {
  border: 1px solid #848484; }
.x-desktop .claimTypeButton_n {
  padding-top: 12px; }
.x-desktop .txtSearchBar {
  border: 0;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0; }
  .x-desktop .txtSearchBar .x-component-outer {
    border: 1px solid #c9c7c8;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
    -webkit-box-shadow: 1px 1px 1px #E7E7E7;
    -moz-box-shadow: 1px 1px 1px #E7E7E7;
    box-shadow: 1px 1px 1px #E7E7E7; }
  .x-desktop .txtSearchBar .x-input-el {
    height: 33px !important; }
  .x-desktop .txtSearchBar .x-clear-icon {
    display: none; }
  .x-desktop .txtSearchBar .x-field-input .x-clear-icon {
    margin-right: 11px; }
.x-desktop .btnSearch {
  width: 35px;
  height: 35px;
  left: 207px;
  top: 3px;
  position: absolute;
  z-index: 4;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
  border: 0;
  right: 48px;
  background: none;
  background-color: #cccccc;
  padding: 0 0 0 8px;
  cursor: pointer; }
.x-desktop .btnSearch:after {
  content: '\f002';
  color: #fff;
  font-size: 20px; }
.x-desktop .x-button.btnSearch.x-button-pressing, .x-desktop .x-button.btnSearch.x-button-pressing:after {
  background-image: none !important;
  background-color: #3cbe9f !important; }
.x-desktop .green-cyan-bg {
  margin-bottom: 20px; }
.x-desktop .green-cyan-bg {
  display: table;
  width: 100%; }
  .x-desktop .green-cyan-bg div.x-inner {
    display: table-row;
    width: 100%; }
    .x-desktop .green-cyan-bg div.x-inner div.x-toolbar-dark {
      display: table-cell;
      width: 100%; }
.x-desktop .button_grey_vl {
  padding-top: 12px;
  padding-bottom: 12px; }
.x-desktop .slide {
  background-color: #fff; }
.x-desktop .x-toolbar-dark .x-label {
  text-align: none; }
.x-desktop .x-toolbar-dark .x-form-label {
  text-align: none; }
.x-desktop .x-layout-card-item {
  background: url(../images/desktop_bg.png) repeat; }
.x-desktop .btn_bottom_wrap {
  padding-bottom: 66px; }
.x-desktop .x-field .x-input-el {
  width: 95%; }
.x-desktop #selectClaimType .x-field-mask {
  background-position: 99% center; }
.x-desktop #selectDate .x-field-mask {
  background-position: 99% center; }
.x-desktop #selectStatus .x-field-mask {
  background-position: 99% center; }
.x-desktop .button_grey_vl_2 span {
  margin-top: 0; }
.x-desktop .input_wrap_budgetm_vl input {
  padding: 8px 0 8px 5px !important; }
.x-desktop .search_wrap {
  position: relative;
  margin-top: 10px; }
.x-desktop .search_wrap.txtSearchBar {
  width: 220px; }
.x-desktop.x-windows.x-ie .x-center {
  display: flex; }
.x-desktop.x-windows.x-ie .x-centered {
  display: flex; }
.x-desktop.x-windows.x-ie .green-cyan-bg .x-center {
  display: block; }
.x-desktop.x-windows.x-ie .green-cyan-bg .x-centered {
  display: block; }
.x-desktop .button_ltgrey_vl span {
  padding-top: 0; }

.border-10-bottom-0 {
  border: solid 10px #fff;
  border-bottom: 0; }

.border-10-white {
  border: solid 10px #fff; }

.buttonCenter {
  width: 20%;
  margin: 0 auto; }

.txt-right {
  text-align: right; }

.logoimg {
  background-size: 183px auto !important;
  width: 183px;
  height: 58px;
  margin: auto;
  float: left;
  margin-top: 0;
  margin-bottom: 0;
  background: url(../images/logo@2x.png) no-repeat; }

.topicon {
  width: 44px;
  height: 44px;
  margin-right: 5px;
  display: inline-block;
  margin-top: 20px;
  background-size: 100% auto !important; }

.menuToggle_n {
  background: #ffffff;
  /* Old browsers */
  background: -moz-linear-gradient(top, #ffffff 0%, #ffffff 17%, #481d7e 17%, #481d7e 17%, #481d7e 27%, #ffffff 27%, #ffffff 44%, #481d7e 44%, #481d7e 54%, #ffffff 54%, #ffffff 71%, #481d7e 71%, #481d7e 81%, #ffffff 81%, #ffffff 100%);
  /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #ffffff), color-stop(17%, #ffffff), color-stop(17%, #481d7e), color-stop(17%, #481d7e), color-stop(27%, #481d7e), color-stop(27%, #ffffff), color-stop(44%, #ffffff), color-stop(44%, #481d7e), color-stop(54%, #481d7e), color-stop(54%, #ffffff), color-stop(71%, #ffffff), color-stop(71%, #481d7e), color-stop(81%, #481d7e), color-stop(81%, #ffffff), color-stop(100%, #ffffff));
  /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top, #ffffff 0%, #ffffff 17%, #481d7e 17%, #481d7e 17%, #481d7e 27%, #ffffff 27%, #ffffff 44%, #481d7e 44%, #481d7e 54%, #ffffff 54%, #ffffff 71%, #481d7e 71%, #481d7e 81%, #ffffff 81%, #ffffff 100%);
  /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top, #ffffff 0%, #ffffff 17%, #481d7e 17%, #481d7e 17%, #481d7e 27%, #ffffff 27%, #ffffff 44%, #481d7e 44%, #481d7e 54%, #ffffff 54%, #ffffff 71%, #481d7e 71%, #481d7e 81%, #ffffff 81%, #ffffff 100%);
  /* Opera 11.10+ */
  background: -ms-linear-gradient(top, #ffffff 0%, #ffffff 17%, #481d7e 17%, #481d7e 17%, #481d7e 27%, #ffffff 27%, #ffffff 44%, #481d7e 44%, #481d7e 54%, #ffffff 54%, #ffffff 71%, #481d7e 71%, #481d7e 81%, #ffffff 81%, #ffffff 100%);
  /* IE10+ */
  background: linear-gradient(to bottom, #ffffff 0%, #ffffff 17%, #481d7e 17%, #481d7e 17%, #481d7e 27%, #ffffff 27%, #ffffff 44%, #481d7e 44%, #481d7e 54%, #ffffff 54%, #ffffff 71%, #481d7e 71%, #481d7e 81%, #ffffff 81%, #ffffff 100%);
  /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#ffffff',GradientType=0 );
  /* IE6-9 */ }

.mailButton_n {
  background: url(../images/mail.png) no-repeat;
  background: url(../images/mail@2x.png) no-repeat; }

.logintxt {
  background-color: #4D2473;
  color: #fff;
  padding: 15px 10px 15px 20px; }

.loginemptymsg {
  color: #f00;
  padding: 10px; }

.slide {
  background: #f1f1f1;
  z-index: 1; }

.nav-list {
  -webkit-animation-duration: 200ms;
  -moz-animation-duration: 200ms;
  -webkit-transition-timing-function: cubic-bezier(0.275, 0.08, 0.425, 0.855);
  -moz-transition-timing-function: cubic-bezier(0.275, 0.08, 0.425, 0.855);
  -moz-transition: 200ms; }

.nav-list {
  height: 100%;
  color: #fff;
  position: absolute !important;
  left: 0; }
  .nav-list .x-innerhtml {
    color: #fff; }
  .nav-list .x-list .x-list-item .x-list-item-body {
    padding: 15px; }
  .nav-list .x-list .x-list-item.x-item-selected.x-list-item-tpl {
    background: #fff;
    border: none; }
  .nav-list .x-list-normal .x-list-item.x-list-item-tpl {
    border: none; }

.x-toolbar {
  z-index: 1000 !important; }

@-webkit-keyframes slideout {
  from {
    -webkit-transform: translateX(0px);
    -moz-transform: translateX(0px); }
  to {
    -webkit-transform: translateX(250px);
    -moz-transform: translateX(250px); } }
@-webkit-keyframes slidein {
  from {
    -webkit-transform: translateX(250px);
    -moz-transform: translateX(250px); }
  to {
    -webkit-transform: translateX(0px);
    -moz-transform: translateX(0px); } }
.slide.out {
  -webkit-animation-name: slideout;
  -moz-animation-name: slideout;
  -webkit-transform: translateX(250px);
  -moz-transform: translateX(250px); }

.slide.in {
  -webkit-animation-name: slidein;
  -moz-animation-name: slidein;
  -webkit-transform: translateX(0px);
  -moz-transform: translateX(0px); }

#basic .x-scroll-scroller {
  padding-top: 50px; }
#basic .nav-list .x-list-item {
  background: #5e5078;
  border-bottom: 2px solid #474660 !important;
  border-top: 2px solid #474660 !important;
  font-size: 15px; }

.txtSearchBar {
  border: 1px solid #23004e;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px; }
  .txtSearchBar .x-field-input .x-clear-icon {
    margin: 0;
    margin-top: -20px;
    margin-right: 5px; }

.tpl-main {
  position: relative;
  z-index: 1;
  left: 16%;
  width: 50%; }

.tpl-item-bg {
  background: url(../images/SS_listItembg.png);
  position: absolute;
  width: 100%;
  top: 0;
  left: 0;
  height: 58px;
  z-index: 0;
  background-size: 110%;
  background-repeat: no-repeat; }

.tpl-item-text {
  float: left;
  margin-left: 18px;
  margin-top: 12px; }

.tpl-subitem-bg {
  background: url(../images/SS_listSubItembg.png);
  position: absolute;
  width: 100%;
  top: 0;
  left: 0;
  height: 58px;
  z-index: 0;
  background-size: 110%;
  background-repeat: no-repeat; }

.slideListCell {
  margin-left: 6%;
  margin-top: 5%;
  float: left;
  width: 35px; }

.x-list .x-list-item .x-list-item-tpl .x-innerhtml {
  padding: 15px; }
.x-list .x-list-disclosure:before {
  line-height: 11px;
  font-size: 20px;
  margin-top: 10px; }

.carCompoWrapper {
  position: relative; }

.meter-vehicle {
  height: 40px;
  margin: 0; }
  .meter-vehicle .strips {
    background-color: #d8d8d8;
    background-size: 60px;
    float: left;
    height: 4px;
    margin: 0;
    width: 100%;
    position: absolute;
    top: 18px;
    left: 0; }
  .meter-vehicle .redColor {
    background: #f00 !important;
    background: linear-gradient(to bottom, #f00 0, #f00 45%, #ff8585 50%, #f00 55%, #f00 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='$color_red', endColorstr='$color_red', GradientType=0 ) !important;
    top: 0; }
  .meter-vehicle .TravelledLabel {
    text-align: right;
    color: #929292;
    margin-top: 3px;
    min-width: 20%; }
  .meter-vehicle .textDiv {
    color: #929292;
    margin-bottom: 5px; }
    .meter-vehicle .textDiv .meterStartText {
      text-align: left;
      float: left; }
    .meter-vehicle .textDiv .meterEndText {
      text-align: right;
      float: right;
      min-width: 20%; }
    .meter-vehicle .textDiv .clearBoth {
      clear: both; }
  .meter-vehicle > span {
    display: block;
    height: 40px;
    position: relative;
    overflow: hidden; }
    .meter-vehicle > span.outer {
      background: #d8d8d8; }
    .meter-vehicle > span.inner {
      background: #8bcf69;
      background: linear-gradient(to bottom, #8bcf69 0, #8bcf69 45%, #b8f09b 50%, #8bcf69 55%, #8bcf69 100%);
      filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='$color_mantis', endColorstr='$color_mantis', GradientType=0 );
      position: absolute;
      top: 22px;
      border-right: 0; }
      .meter-vehicle > span.inner:before {
        content: url(../images/car@2x.png);
        transform: scale(0.5);
        top: -3px;
        right: -21px;
        position: absolute;
        z-index: 3; }
    .meter-vehicle > span.inner-bar {
      background: #8bcf69;
      background: linear-gradient(to bottom, #8bcf69 0, #8bcf69 45%, #b8f09b 50%, #8bcf69 55%, #8bcf69 100%);
      filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='$color_mantis', endColorstr='$color_mantis', GradientType=0 );
      position: absolute;
      top: 0;
      border-right: 0; }
    .meter-vehicle > span.greenColor {
      background: #8bcf69;
      background: linear-gradient(to bottom, #8bcf69 0, #8bcf69 45%, #b8f09b 50%, #8bcf69 55%, #8bcf69 100%);
      filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='$color_mantis', endColorstr='$color_mantis', GradientType=0 );
      position: absolute;
      top: 22px;
      z-index: 3;
      background-color: #8bcf69 !important; }

#aToolTip {
  position: absolute;
  display: none;
  z-index: 50000; }
  #aToolTip .aToolTipContent {
    position: relative;
    margin: 0;
    padding: 0; }

.defaultTheme {
  border: 2px solid #444;
  background: #5a5b77;
  color: #fff;
  margin: 0;
  padding: 6px 12px;
  font-size: 14px;
  border-radius: 12px 12px 12px 0;
  -webkit-box-shadow: 2px 2px 5px #111;
  -moz-box-shadow: 2px 2px 5px #111;
  box-shadow: 2px 2px 5px #111; }
  .defaultTheme #aToolTipCloseBtn {
    display: block;
    height: 18px;
    width: 18px;
    background: url(../images/closeBtn.png) no-repeat;
    text-indent: -9999px;
    outline: none;
    position: absolute;
    top: -20px;
    right: -30px;
    margin: 2px;
    padding: 4px; }

.touch-calendar-view table {
  width: 100%;
  border-collapse: separate;
  table-layout: fixed;
  font-size: 120%;
  color: #3f4e5e;
  background-color: #FFF;
  border: solid 1px black;
  border: 0;
  background-color: #e7e7e7 !important; }
  .touch-calendar-view table tbody {
    padding-bottom: 20px; }
  .touch-calendar-view table.week td {
    vertical-align: top; }
  .touch-calendar-view table.day td.time-block {
    text-align: left;
    background-image: none;
    font-size: .7em;
    height: 30px; }
.touch-calendar-view td {
  position: relative;
  text-align: center;
  vertical-align: middle;
  font-size: .9em;
  background-color: #fff;
  background-image: linear-gradient(white, #fff 10%, #fff 65%, #fff); }
  .touch-calendar-view td.unselectable {
    color: #89909a;
    background-color: #444; }
  .touch-calendar-view td.selected {
    background: url(../images/circle_grey.png) no-repeat center center #d8d8d8; }
  .touch-calendar-view td.prev-month {
    color: #818181; }
  .touch-calendar-view td.next-month {
    color: #818181; }
.touch-calendar-view thead {
  background-color: #fff;
  background-image: linear-gradient(white, #fff 2%, #fff); }
  .touch-calendar-view thead th {
    font-size: 9px;
    vertical-align: bottom;
    padding-bottom: 3px;
    color: #3f4e5e;
    text-align: center;
    height: 42px;
    text-shadow: #fff 1px 1px 1px;
    font-weight: bold;
    border-bottom: 1px solid #a3a7af;
    background: 0;
    background-color: #acdee7;
    padding-bottom: 0;
    border-bottom: 0;
    height: 57px; }
    .touch-calendar-view thead th:first-child {
      background-color: #acdee7; }
    .touch-calendar-view thead th:first-child:before {
      content: "";
      left: 27px; }
    .touch-calendar-view thead th:last-child {
      background-color: #acdee7; }
    .touch-calendar-view thead th:last-child:before {
      content: "";
      right: 27px; }
    .touch-calendar-view thead th span {
      font-size: 15px;
      font-weight: bold;
      height: 24px;
      left: 14.5%;
      position: absolute;
      text-align: center;
      top: 6px;
      width: 71%;
      z-index: 999;
      text-shadow: #fff 1px 1px 1px;
      text-shadow: none;
      font-weight: normal;
      top: 8px; }
    .touch-calendar-view thead th p {
      padding: 5px 0;
      margin: 0;
      background-color: #e7e7e7;
      color: black !important;
      font-weight: normal;
      font-size: 11px; }
.touch-calendar-view tbody td {
  background: 0;
  background-color: #d8d8d8;
  font-size: 12px;
  padding: 8px;
  color: #2f2f3b;
  font-weight: 600; }

.calendar-icon-cust {
  height: 48px;
  padding: 5px 5px 10px; }

.calendar-icon-cust:before {
  content: '\f073';
  color: #5a5b77;
  font-size: 24px; }

.x-tablet .calendar-icon-cust {
  padding-right: 0; }
.x-tablet #vehicleClaim .height-35 {
  margin-bottom: 10px; }
.x-tablet #vehicleClaim .x-layout-box.x-vertical {
  flex-direction: none !important; }
.x-tablet .loginbtn {
  background-position: 97.77777% center; }
.x-tablet .forgobtn {
  background-position: 97% center; }
.x-tablet .registerbtn {
  background-position: 97% center; }
.x-tablet .bgLightGreyvehicle {
  padding: 15px 0; }
.x-tablet .vExpenseClaimarrow {
  top: -24px; }
.x-tablet .border_left {
  height: 1px;
  border-bottom: 1px solid #e7e7e7;
  top: -16px;
  right: 0;
  width: 100%;
  position: absolute;
  z-index: 1; }
.x-tablet .borderbtm {
  height: 60px; }
  .x-tablet .borderbtm .arrow {
    background: url(../images/aro_img_up.png) no-repeat 98% 3px !important; }
.x-tablet .doc_req_wrap {
  padding: 8px 10px 20px; }
.x-tablet .doc_margin-top-20 {
  margin-top: 0 !important; }
.x-tablet .doc_1_pad-top-20 {
  padding-top: 0; }
.x-tablet .heading_top_10 {
  margin-top: 5px; }
.x-tablet .heading_left_15 {
  padding-left: 20px; }
.x-tablet .greywrap {
  padding: 0 10px 10px; }
.x-tablet .productitem .x-button-label {
  padding: 14px 0 33px; }
.x-tablet .clearfix.bgd7.pad-top-20 {
  padding-top: 0; }
.x-tablet.bgd7.pad-top-20 {
  padding-top: 0; }
.x-tablet #vehicleRunningExpenseClaimFormfieldWrapper.greywrap {
  padding-bottom: 20px;
  padding-left: 0;
  padding-right: 0; }
.x-tablet .placeholder_car img {
  margin-top: 30px; }

.cal-arrow-right {
  height: 25px !important; }

.rightimg {
  background-color: #fff;
  background-image: url(../images/right_icon.png) !important;
  background-repeat: no-repeat;
  background-position: center left;
  padding-left: 30px; }

.claimdatepicke .x-form-label {
  background-color: #C3C3C3;
  border-bottom-left-radius: 0 !important; }
.claimdatepicke .x-component-outer .x-field-input {
  margin: 10px 0; }

#claimdatepicke input {
  background-color: #ACDEE7;
  height: 46px; }
#claimdatepicke .x-component-outer {
  background-color: #ACDEE7;
  height: 46px; }

#dataWrapper {
  line-height: 24px; }

.loginbtn {
  background-color: #4D2473 !important;
  color: #fff;
  background-image: url(../images/w_arrow_right.png) !important;
  background-repeat: no-repeat;
  background-position: 97.77777% center;
  border: 0 none;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
  padding: 12px 10px;
  background-size: 12px auto;
  background-image: url(../images/w_arrow_right@2x.png) !important; }
  .loginbtn span {
    text-align: left; }

.claimStepButton span {
  font-weight: normal;
  text-align: left;
  font-size: 14px;
  font-family: helveticaneuemedium; }
.claimStepButton.prev_btn_vl span {
  text-align: right !important;
  display: block; }

.button_grey_vl {
  background: none !important;
  background-color: #cccccc !important;
  color: #3c3e57;
  padding-top: 13px;
  padding-bottom: 9px;
  background-color: #cccccc !important; }
  .button_grey_vl span {
    text-align: center; }
  .button_grey_vl .x-button-label {
    font-weight: normal !important; }
  .button_grey_vl .x-badge {
    font-weight: normal !important; }
  .button_grey_vl .x-hasbadge .x-badge {
    font-weight: normal !important; }

.x-button-pressing {
  background-color: #4f2e7f !important; }

.claimStepOneBackButton {
  background-image: url(../images/w_arrow_opp.png) !important;
  background-position: 3.77777% center; }
  .claimStepOneBackButton span {
    padding-left: 8%; }

.claimStepOneNextButton {
  background-image: url(../images/w_arrow.png) !important;
  background-image: url(../images/w_arrow@2x.png) !important;
  background-position: 97.77777% center;
  background-size: 13px auto; }

.claimStepOneSaveAsDraftButton .x-button-label {
  flex: auto; }

.deleteClaimStepTwoButton {
  background-image: url(../images/w_arrow.png) !important;
  background-color: #5A5B77 !important;
  padding-left: 15px;
  background-image: url(../images/w_arrow@2x.png) !important;
  background-position: 93% center;
  background-size: 13px auto; }

.editClaimStepTwoButton {
  background-image: url(../images/w_arrow.png) !important;
  background-color: #5A5B77 !important;
  border-right: solid #E7E7E7 1px;
  padding-left: 15px;
  background-image: url(../images/w_arrow@2x.png) !important;
  background-position: 93% center;
  background-size: 13px auto; }

.claimSaveButton {
  background-color: #4F2E7F !important;
  color: #fff;
  background-repeat: no-repeat;
  border: 0 none;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0; }
  .claimSaveButton span {
    font-weight: normal;
    text-align: left; }

.txt-left {
  text-align: left; }

.txt-center {
  text-align: center; }

.forgobtn {
  background: #C3C3C3;
  background-image: url(../images/w_arrow_right.png) !important;
  background-repeat: no-repeat;
  background-position: 97.77777% center;
  color: #fff;
  border: 0;
  border: 0 none;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
  padding: 12px 10px;
  background-size: 12px auto;
  background-image: url(../images/w_arrow_right@2x.png) !important; }
  .forgobtn span {
    text-align: left; }

.registerbtn {
  background-color: #4D2473 !important;
  color: #fff;
  background-image: url(../images/w_arrow_right.png) !important;
  background-repeat: no-repeat;
  background-position: 97.77777% center;
  background-size: 12px auto;
  border: 0 none;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
  background-image: url(../images/w_arrow_right@2x.png) !important; }
  .registerbtn span {
    text-align: left; }

.logincontainer {
  background: #f00;
  color: green; }

.userdetail {
  background-color: #5A5B77; }

.productitem {
  background-repeat: no-repeat;
  background-position: center 20px;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
  border: solid 0;
  color: #fff;
  padding: 130px 0 0;
  display: inherit;
  background-size: 100px 100px;
  border-bottom: 1px solid #D3D3D3; }
  .productitem .x-button-label {
    font-weight: normal !important;
    background: #cccccc;
    background: linear-gradient(to bottom, #cccccc 0, #bebebe 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='$color_celeste', endColorstr='$color_silver', GradientType=0 );
    padding-bottom: 10px; }

.log-off {
  background: #5A5B77 !important; }

.font-828395 {
  color: #b6babd; }

.salayfeeheading {
  padding: 10px 0;
  color: #4E2683;
  font-weight: normal;
  margin: 0; }

.salaryfeedetail {
  color: #2C2F3B;
  padding-bottom: 0.5em; }

.employerList {
  float: left;
  width: 100%;
  height: auto;
  display: inline-block; }

.x-list-item-tpl {
  background-color: #5A5B77; }

.x-item-selected {
  background: #0E9F80; }

.x-button-label {
  line-height: 20px; }

.x-list-item .brands-row-spon {
  width: 100%;
  background-color: #D8D8D8;
  padding: 0.5em 0.8em;
  min-height: 2.6em; }
.x-list-item .brands-row {
  width: 100%;
  min-height: 2.6em;
  padding: 0.5em 0.8em; }

.employerrow {
  height: 100%;
  width: 100%; }

.salarypackakingwapper {
  max-width: 100%;
  width: 100%; }
  .salarypackakingwapper table {
    max-width: 100% !important; }

.color-purple {
  color: #4D2473; }

.d-inline {
  display: inline !important; }
  .d-inline div {
    display: inline-block !important; }

.d-inline-block {
  display: inline-block !important; }

.margin-toolbar {
  margin-top: 0;
  margin-left: -20%; }

#homeContainer {
  background-color: #fff; }
  #homeContainer .x-field-input .x-clear-icon {
    background: url(../images/clear.png) no-repeat left center;
    background: url(../images/clear@2x.png) no-repeat left center;
    background-size: 18px auto; }
  #homeContainer #searchField.x-field-clearable .x-field-input {
    padding-right: 0 !important;
    right: 0 !important; }

.floatLeft {
  float: left; }

.floatRight {
  float: right; }

#ext-container-2 {
  position: relative !important;
  width: 100%;
  float: left; }

.vehicleListing {
  background-color: #fff !important;
  color: #383C48;
  background-image: url(../images/silde-arrow_black.png) !important;
  background-repeat: no-repeat;
  background-position: 96.99999% center;
  border: 0 none;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
  padding-top: 6px;
  background-size: 12px auto;
  background-image: url(../images/silde-arrow_black@2x.png) !important; }
  .vehicleListing span {
    text-align: left;
    font-weight: normal; }

.green-bg-gredient {
  background: #bdd600;
  background: linear-gradient(to bottom, #bdd600 0, #78bc00 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='$color_rio_grande', endColorstr='$color_lima', GradientType=0 ); }
  .green-bg-gredient .x-toolbar-dark {
    background: transparent; }
  .green-bg-gredient .x-body {
    position: unset; }
  .green-bg-gredient .x-button-pressing {
    background: none;
    background-color: transparent !important; }
  .green-bg-gredient .x-button-label:active {
    background-color: #6ea603; }

#vRegSelectTxt h3 {
  font-weight: normal;
  color: black; }
#vRegSelectTxt p {
  color: #888888; }
#vRegSelectTxt .bluetxtwrap h3 {
  font-size: 20px;
  color: #4f2e7f !important; }

.bgLightGreyVehicle {
  position: relative;
  background-color: #E7E7E7;
  padding-top: 10px;
  padding-bottom: 15px; }

.vExpenseClaimarrow {
  position: absolute;
  background-image: url(../images/up_arrow.png);
  background-repeat: no-repeat;
  background-position: 97% top;
  top: -13px;
  right: 0;
  width: 100%;
  height: 15px;
  z-index: 1;
  background-size: 15px auto; }

.arrowRight {
  width: 49%;
  left: 0; }

.color-2B2F3B {
  color: #2B2F3B; }

.Claims-Vehicle-steps-img {
  height: 31px;
  width: 100%;
  background-size: 182px auto; }

.step1_img {
  background: url(../images/SS04-Mobile-Claims-Vehicle-1.png) no-repeat;
  margin: 0 auto;
  background: url(../images/SS04-Mobile-Claims-Vehicle-1@2x.png) no-repeat; }

.step2_img {
  background: url(../images/SS04-Mobile-Claims-Vehicle-2.png) no-repeat;
  margin: 0 auto;
  background: url(../images/SS04-Mobile-Claims-Vehicle-2@2x.png) no-repeat; }

.step3_img {
  background: url(../images/SS04-Mobile-Claims-Vehicle-3.png) no-repeat;
  margin: 0 auto;
  background: url(../images/SS04-Mobile-Claims-Vehicle-3@2x.png) no-repeat; }

.step4_img {
  background: url(../images/SS04-Mobile-Claims-Vehicle-4.png) no-repeat;
  margin: 0 auto;
  background: url(../images/SS04-Mobile-Claims-Vehicle-4@2x.png) no-repeat; }

.step5_img {
  background: url(../images/SS04-Mobile-Claims-Vehicle-5.png) no-repeat;
  margin: 0 auto;
  background: url(../images/SS04-Mobile-Claims-Vehicle-5@2x.png) no-repeat; }

.border-bottom {
  border-bottom: solid 1px #E7E7E7; }

.txtboxbg input {
  background-color: #C3C3C3;
  color: #2C2E3B;
  height: 53px !important; }
.txtboxbg .x-input-el {
  font-size: 22px !important;
  color: #606060;
  font-family: helveticaneuemedium;
  padding-left: 6px;
  padding-top: 14px; }

.icon-sign {
  background-image: url(../images/doller_icon.png);
  background-repeat: no-repeat;
  background-position: 2% center;
  padding-left: 45px;
  background-image: url(../images/doller_icon@2X.png);
  background-size: 22px auto; }

.claimdetail {
  color: #96979B; }

.dec-check {
  text-align: left; }

.declarationWp .x-input-el:checked + .x-field-mask:after {
  background-color: #4F2E7F;
  color: #fff;
  width: 23px;
  height: 23px;
  text-align: center;
  border: solid 1px #8b8b8b;
  font-size: 1.2em; }
.declarationWp .x-field-mask:after {
  background-color: #fff;
  color: #fff;
  width: 23px;
  height: 23px;
  text-align: center;
  border: solid 1px #8b8b8b;
  font-size: 0; }
.declarationWp .x-field .x-field-input {
  min-width: 2.7em; }
.declarationWp .x-field-checkbox .x-field-mask:after {
  line-height: 1.2em; }
.declarationWp .x-field-radio .x-field-mask:after {
  line-height: 1.2em; }

.upload_imgs {
  opacity: 0.0;
  width: 100%;
  height: 100%; }

.image_browse_wrapper {
  width: 100%;
  height: 43px;
  overflow: hidden;
  background-color: #4F2E7F !important;
  color: #fff;
  background-repeat: no-repeat;
  border: 0 none;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
  background-image: url(../images/invoice_btn.png);
  background-size: 279px auto;
  background-image: url(../images/invoice_btn@2x.png); }

.addAnotherBtn {
  width: 100%; }

.capturePictureContainer {
  width: 100% !important; }

.snap_images {
  overflow: hidden; }

.remove_img {
  float: right;
  position: relative;
  left: -33px; }

.snap_shot {
  float: left;
  padding: 9px;
  width: 128px;
  position: relative; }
  .snap_shot .remove_img img {
    width: 28px;
    height: 28px; }
  .snap_shot .remove_img:after {
    content: "\f068";
    font-size: 16px;
    color: #fff;
    -webkit-border-radius: 100%;
    -moz-border-radius: 100%;
    border-radius: 100%;
    display: block;
    vertical-align: middle;
    width: 25px;
    height: 25px;
    line-height: 27px;
    position: absolute;
    left: 0;
    top: 10px; }

.document_container {
  background-color: #fff; }

.typeofclambox {
  width: 100%;
  margin: 0; }
  .typeofclambox .x-innerhtml {
    margin-top: 15px;
    font-size: 14px;
    font-family: helveticaneuemedium;
    padding-left: 10px; }
  .typeofclambox > .x-form-fieldset-inner {
    border: none !important;
    background-color: transparent !important; }

.typeofclambox_radio {
  border: none !important;
  background-color: transparent !important; }
  .typeofclambox_radio .x-component-outer .x-unsized .x-field-mask:before {
    -webkit-border-radius: 0 !important;
    -moz-border-radius: 0 !important;
    border-radius: 0 !important;
    background-color: #fff;
    border: 1px solid #8b8b8b;
    height: 23px;
    width: 23px; }
  .typeofclambox_radio .x-component-outer .x-unsized .x-field-mask:after {
    background: url(../images/icon_tick_grey.png) no-repeat -20px 0 transparent !important;
    width: 18px !important;
    height: 18px !important;
    -webkit-border-radius: 0 !important;
    -moz-border-radius: 0 !important;
    border-radius: 0 !important; }
  .typeofclambox_radio .x-component-outer .x-unsized input[type="radio"]:checked + .x-field-mask:before {
    background-color: #4f2e7f; }
  .typeofclambox_radio .x-component-outer .x-unsized input[type="radio"]:checked + .x-field-mask:after {
    background: url(../images/icon_tick.png) no-repeat 3px 1px transparent !important; }

.typeofclaimbox {
  height: 100%;
  border: none;
  background-image: none;
  background-color: #fff; }
  .typeofclaimbox .x-button-label {
    text-align: left;
    font-weight: normal;
    padding-left: 10px; }
  .typeofclaimbox .x-innerhtml {
    margin-top: 12px; }
  .typeofclaimbox > .x-form-fieldset-inner {
    border: none !important;
    background-color: transparent !important; }

.borderbtm {
  border-bottom: 1px solid #ececec;
  padding-top: 0;
  height: 47px; }
  .borderbtm .arrow {
    background: url(../images/aro_img_up.png) no-repeat 98% 4px !important;
    width: 12px;
    height: 29px; }
  .borderbtm .down_arrow .arrow {
    background: url(../images/aro_img_down.png) no-repeat 98% 0 !important;
    width: 12px;
    height: 12px; }

.refnumText {
  padding: 8px 15px;
  color: #4d2473; }

.cappedClaimRightSideWrapper {
  padding-top: 41px; }

.claimStepBtn {
  color: #fff;
  background-repeat: no-repeat;
  border: 0 none;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
  padding: 13px 15px; }
  .claimStepBtn span {
    font-weight: normal;
    text-align: left;
    font-size: 14px;
    font-family: helveticaneuemedium; }

.arrow {
  background: url(../images/aro_img_up.png) no-repeat 98% 0 !important;
  width: 12px;
  height: 12px; }

.vclaimtotalwap {
  text-align: center;
  font-weight: normal; }

#vehicleRunningExpenseClaimPageId .bgpurple {
  background: #512F7C; }
#vehicleRunningExpenseClaimPageId .font-color-white {
  color: #FFF; }
#vehicleRunningExpenseClaimPageId .font-28 {
  font-size: 28px; }
#vehicleRunningExpenseClaimPageId #vehicleRunningExpenseClaimConainerId2 .claimStepButton {
  background-color: #512F7C !important;
  color: #fff;
  background-repeat: no-repeat;
  border: 0 none;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0; }
#vehicleRunningExpenseClaimPageId #vehicleRunningExpenseClaimConainerId2 .claimStepOneNextButton {
  background-image: url(../images/w_arrow.png) !important;
  background-image: url(../images/w_arrow@2x.png) !important;
  background-position: 98% center;
  background-size: 13px auto; }
#vehicleRunningExpenseClaimPageId #vehicleRunningExpenseClaimConainerId .claimStepButton {
  background-color: #5A5B77 !important;
  color: #fff;
  background-repeat: no-repeat;
  border: 0 none;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0; }
#vehicleRunningExpenseClaimPageId #vehicleRunningExpenseClaimConainerId .claimStepOneNextButton {
  background-image: url(../images/w_arrow.png) !important;
  background-image: url(../images/w_arrow@2x.png) !important;
  background-position: 98% center;
  background-size: 13px auto; }
#vehicleRunningExpenseClaimPageId .font-888888 {
  color: #888888; }
#vehicleRunningExpenseClaimPageId .font-14 {
  font-size: 14px; }

#vehicleRunningExpenseClaimPageId-T #vehicleRunningExpenseClaimConainerId .claimStepButton {
  background-color: #5a5b77 !important;
  color: #fff;
  background-repeat: no-repeat;
  border: 0 none;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0; }
#vehicleRunningExpenseClaimPageId-T #vehicleRunningExpenseClaimConainerId .claimStepOneNextButton {
  background-image: url(../images/w_arrow.png) !important;
  background-image: url(../images/w_arrow@2x.png) !important;
  background-position: 98% center;
  background-size: 13px auto; }
#vehicleRunningExpenseClaimPageId-T #vehicleRunningExpenseClaimConainerId2 .claimStepOneNextButton {
  background-image: url(../images/w_arrow.png) !important;
  background-image: url(../images/w_arrow@2x.png) !important;
  background-position: 98% center;
  background-size: 13px auto; }

.change-account {
  background-color: #5a5b77 !important;
  color: #fff;
  background-repeat: no-repeat;
  border: 0 none;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0; }

.claimListContainer {
  padding: 0.2% 2%; }
  .claimListContainer .x-list-item-tpl {
    border: 0 !important;
    padding: 1em 0;
    background-color: #e7e7e7 !important;
    background-image: none !important; }
    .claimListContainer .x-list-item-tpl .x-innerhtml {
      padding: 0 !important; }
  .claimListContainer .x-item-selected .x-list-item-tpl {
    background-color: #e7e7e7 !important;
    background-image: none; }

.claimListContainerFilters {
  padding: 2% 1.3em;
  border-top: 10px #fff solid;
  border-bottom: 10px #fff solid; }

.claimListContainerFiltersT {
  padding: 10px 2%;
  border-top: 10px #fff solid; }

.searchFieldset {
  margin: 0; }
  .searchFieldset .x-form-fieldset-inner {
    border: none !important;
    background-color: transparent;
    -webkit-border-radius: 0 !important;
    -moz-border-radius: 0 !important;
    border-radius: 0 !important; }
  .searchFieldset .fieldHeight {
    border: 0 !important;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0; }
  .searchFieldset .x-form-fieldset-title {
    margin: 0 0.7em 0.3em 0;
    font-weight: normal;
    text-shadow: none;
    font-size: 14px;
    padding-left: 0; }

#searchField {
  -webkit-border-radius: 0 !important;
  -moz-border-radius: 0 !important;
  border-radius: 0 !important; }
  #searchField input {
    width: 100%;
    margin-left: 0; }

#selectClaimType {
  background-color: #e7e7e7;
  padding-top: 0; }
  #selectClaimType input {
    font-size: 14px; }
  #selectClaimType .x-form-label {
    background-color: #e7e7e7; }
  #selectClaimType .x-component-outer {
    padding: 0.4em 0 0.4em 0.3em; }

#selectDate {
  background-color: #e7e7e7;
  padding-top: 0; }
  #selectDate input {
    font-size: 14px; }
  #selectDate .x-form-label {
    background-color: #e7e7e7; }
  #selectDate .x-component-outer {
    padding: 0.4em 0 0.4em 0.3em; }

#selectStatus {
  background-color: #e7e7e7;
  padding-top: 0; }
  #selectStatus input {
    font-size: 14px; }
  #selectStatus .x-form-label {
    background-color: #e7e7e7; }
  #selectStatus .x-component-outer {
    padding: 0.4em 0 0.4em 0.3em; }

.selectbox_vl {
  background-color: #e7e7e7;
  padding-top: 0;
  -webkit-border-radius: 0 !important;
  -moz-border-radius: 0 !important;
  border-radius: 0 !important;
  margin: 0;
  height: 40px !important; }
  .selectbox_vl input {
    font-size: 14px; }
  .selectbox_vl .x-form-label {
    background-color: #e7e7e7; }
  .selectbox_vl .x-form-fieldset-inner {
    -webkit-border-radius: 0 !important;
    -moz-border-radius: 0 !important;
    border-radius: 0 !important; }
  .selectbox_vl .x-component-outer {
    padding: 0; }

.claimListheader {
  padding: 0 10px;
  background: #bdd600;
  background: linear-gradient(to bottom, #bdd600 0, #78bc00 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='$color_rio_grande', endColorstr='$color_lima', GradientType=0 );
  color: #fff; }
  .claimListheader .x-toolbar-dark {
    background: transparent;
    background: transparent; }
  .claimListheader .x-body {
    position: unset;
    position: unset; }
  .claimListheader .x-button-label:active {
    background-color: #6ea603; }
  .claimListheader .x-button-pressing {
    background: none;
    background-color: transparent !important; }

.claimListAdminMessage {
  padding: 5px 0; }

.claimListSearchContainerT {
  padding: 0;
  background-color: #e7e7e7;
  margin-top: 9px; }

.claimListSearchContainer {
  padding: 1% 2%;
  background-color: #e7e7e7; }
  .claimListSearchContainer .x-innerhtml {
    padding: 0; }

.listContainer {
  background-color: #fff;
  color: black; }
  .listContainer .row1 {
    padding: 0.5em 1em; }
    .listContainer .row1 .claimId {
      float: left;
      color: #4d2473;
      font-weight: bold; }
    .listContainer .row1 .claimStatus {
      float: right;
      color: #bdd600;
      font-weight: bold; }
  .listContainer .ClaimType {
    color: black;
    font-weight: normal;
    clear: both;
    padding: 0.5em 1em;
    font-size: 14px; }
  .listContainer .date {
    color: black;
    font-weight: normal;
    padding: 0.5em 1em 0.5em 1em; }
  .listContainer .link {
    background-color: #5a5b77;
    padding: 7px 1em 3px;
    font-weight: bold; }
    .listContainer .link .w_arrow {
      background: url(../images/w_arrow.png) no-repeat right;
      display: block;
      float: right;
      height: 30px;
      width: 50px;
      background: url(../images/w_arrow@2x.png) no-repeat right;
      background-size: 13px auto; }
  .listContainer .claimTypeAndRefNum {
    color: #4d2473;
    font-weight: bold;
    clear: both;
    padding: 1em 1em 0 1em; }
  .listContainer .rowDate {
    padding: 1em 1em 0 1em; }
    .listContainer .rowDate .text {
      float: left;
      font-weight: normal; }
    .listContainer .rowDate .date {
      float: right;
      color: #bdd600;
      padding: 0;
      font-weight: bold; }
  .listContainer .rowClaimed {
    padding: 0 1em; }
    .listContainer .rowClaimed .text {
      float: left;
      font-weight: bold; }
    .listContainer .rowClaimed .value {
      float: right;
      font-weight: bold; }
  .listContainer .blueText {
    color: #4d2473; }

#VehicleNumber {
  color: #4d2473;
  font-weight: bold; }

#VehicleNumberData {
  color: #4d2473;
  font-weight: bold; }

.linkText {
  float: left;
  color: #fff; }

#claimlisting_page {
  background-color: #e7e7e7; }

#claimdetailList_page {
  background-color: #e7e7e7; }

.clearboth {
  clear: both; }

.vehicleNumberHeader {
  padding: 10px; }

.claimDataListContainer .rowData {
  color: black !important;
  max-height: 25px !important;
  font: inherit;
  font-size: 16px;
  padding: 0 15px; }
  .claimDataListContainer .rowData .text {
    float: left; }
  .claimDataListContainer .rowData .value {
    float: right; }
.claimDataListContainer .x-list-item-tpl {
  border: 0 !important;
  min-height: 25px !important;
  background-color: #fff !important;
  background-image: none !important; }
  .claimDataListContainer .x-list-item-tpl .x-innerhtml {
    padding: 0 !important;
    max-height: 25px !important; }
.claimDataListContainer .x-item-selected .x-list-item-tpl {
  background-color: #fff !important;
  background-image: none; }

#claimdataList_page {
  padding: 0; }

.reasonContainer {
  padding: 1em;
  color: black; }
  .reasonContainer .title {
    padding-top: 10px;
    font-weight: bold;
    border-bottom: 1px #e7e7e7 solid; }
  .reasonContainer .description {
    padding-top: 10px; }

#claimReasonsListId {
  background-color: #e7e7e7; }
  #claimReasonsListId .x-list-item-tpl .x-innerhtml {
    background-color: #fff;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px; }

.fliterClaimLabel {
  font-weight: normal;
  padding-left: 10px;
  font-size: 15px; }

.arrow-up {
  width: 0;
  height: 0;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  cursor: pointer;
  border-bottom: 10px solid black;
  border: 0;
  background: url(../images/aro_rt_bk.png) no-repeat 0 0;
  background: url(../images/aro_rt_bk@2x.png) no-repeat 0 0;
  background-size: 9px auto; }

.arrow-down {
  width: 0;
  height: 0;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  cursor: pointer;
  border-top: 10px solid black;
  border: 0;
  background: url(../images/aro_dn_bk.png) no-repeat 0 0;
  background: url(../images/aro_dn_bk@2x.png) no-repeat 0 0;
  background-size: 12px auto; }

.claimStepOneDocumentsRequiredButton {
  background-image: url(../images/w_arrow_down.png) !important;
  margin: 0;
  background-size: 18px auto;
  background-image: url(../images/w_arrow_down@2x.png) !important;
  background-position: 98% center;
  background-repeat: no-repeat; }

.documentRequiredContainer {
  background: #D7D7D7;
  margin: 0 10px; }

.bgpurpule_submit {
  background-color: #4F2E7F !important; }

.selectLabelClsT {
  padding: 0.6em 0 0 0;
  line-height: 23px; }
  .selectLabelClsT span {
    font-size: 1em !important;
    padding-top: 0;
    font-weight: normal !important; }

.typeofclaimbox_radio {
  border: none !important;
  background-color: transparent !important; }
  .typeofclaimbox_radio .x-component-outer .x-unsized .x-field-mask:before {
    -webkit-border-radius: 0 !important;
    -moz-border-radius: 0 !important;
    border-radius: 0 !important;
    background-color: #fff;
    border: 1px solid #eeeeee; }
  .typeofclaimbox_radio .x-component-outer .x-unsized .x-field-mask:after {
    background: url(../images/icon_tick_grey.png) no-repeat -20px 0 transparent !important;
    width: 18px !important;
    height: 18px !important;
    -webkit-border-radius: 0 !important;
    -moz-border-radius: 0 !important;
    border-radius: 0 !important; }
  .typeofclaimbox_radio .x-component-outer .x-unsized input[type="radio"]:checked + .x-field-mask:after {
    background: url(../images/icon_tick.png) no-repeat 0 0 transparent !important; }

.claimEditHeading {
  margin: 0; }
  .claimEditHeading h3 {
    background-color: #4F2E7F;
    padding: 11px 20px 12px;
    color: #fff; }

.claimTypeInnerFormSideTwo {
  margin-top: 36px; }

.editDelBtnPress {
  background-color: #373748 !important; }

.expenseDesc {
  width: 40%; }

.trackProgressBtn {
  margin: 0 10px;
  margin-bottom: 15px; }

.fontDeclaration {
  font-family: helveticaneuemedium;
  line-height: 20px !important;
  font-size: 14px !important; }

.color-5A5B77 {
  background-color: #5a5b77 !important; }

.fontFFamilyHelvetica {
  font-family: helveticaneuemedium; }

.calbg {
  background-color: #acdee7;
  padding: 5px 5px 5px 10px;
  margin-bottom: 8px;
  height: 59px; }

.color-878787 {
  color: #888888; }

.header-cls {
  height: 44px;
  width: 40px;
  float: right; }

.list_wrap {
  padding-right: 40px;
  padding-left: 40px; }

.doc_margin-top-20 {
  margin-top: 20px !important; }

.claim_margin_bottom0 {
  margin-bottom: 0 !important; }

.heading_top_10 {
  margin-top: 10px; }

.heading_left_15 {
  padding-left: 15px; }

.greywrap {
  padding: 10px; }

#cappedClaimExpTypeWrapper .x-button-pressing {
  background-color: #C3C3C3 !important;
  -webkit-border-radius: 0 !important;
  -moz-border-radius: 0 !important;
  border-radius: 0 !important;
  background-image: none !important; }
#cappedClaimExpTypeWrapper .x-button.x-button-pressing {
  background-image: none; }

#smartSalaryLogo {
  margin-top: 1px;
  margin-bottom: 1px;
  cursor: pointer; }

.claimTypeButton {
  background: #fff !important;
  color: black;
  background-repeat: no-repeat;
  border: 0 none;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
  padding: 13px 0; }
  .claimTypeButton span {
    text-align: left; }

.claimTypeButton_n {
  padding-left: 20px !important;
  padding-right: 20px !important;
  padding-top: 19px; }

.bdr-top {
  border-top: solid 1px; }

.claimStepLeftArrow {
  background-image: url(../images/w_arrow_opp.png) !important;
  background-position: 3.77777% center; }
  .claimStepLeftArrow span {
    padding-left: 8%; }

.text_green {
  color: #2c8b23; }

.x-mask .x-mask-inner {
  background-color: black !important;
  -webkit-border-radius: 9px;
  -moz-border-radius: 9px;
  border-radius: 9px;
  opacity: 0.7;
  color: #B8B8B8;
  text-align: center;
  font-size: .9em;
  font-weight: bold; }
.x-mask .x-mask-message {
  color: #FFF !important;
  position: absolute;
  bottom: 30%;
  left: 10%; }
.x-mask.x-has-message .x-loading-spinner-outer {
  max-height: 50em;
  height: 5.5em;
  max-width: 50em;
  width: 5.5em; }

.x-loading-spinner {
  font-size: 150%;
  height: 1em;
  width: 1em; }

.x-list-emptytext {
  position: absolute;
  top: 3%;
  height: 30%;
  width: 100%; }

.header_wrap_grey {
  height: 50px;
  padding-top: 9px; }

.searchBtn {
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
  background: url(../images/search-icon.png) no-repeat #e7e7e7 !important;
  padding: 10px;
  background: url(../images/search-icon@2x.png) no-repeat #e7e7e7 !important;
  background-size: 35px auto !important; }

.searchInfoBtn {
  background: url(../images/icon_info.png) no-repeat;
  background-size: 24px auto !important;
  background-position: center 3px !important;
  background: url(../images/icon_info@2x.png) no-repeat;
  background-size: 24px auto; }

.green-cyan-bg {
  background-color: #0e9f80;
  height: 60px; }
  .green-cyan-bg .x-toolbar-dark {
    background: transparent; }
  .green-cyan-bg .x-body {
    position: unset; }
  .green-cyan-bg .x-button-pressing {
    background: none;
    background-color: transparent !important; }
  .green-cyan-bg .x-button-label:active {
    background-color: #3cbe9f; }

.input_wrap_vl {
  border: 1px solid #9c9c9c !important; }

.label.budgetAmount {
  font-size: 14px; }
.label.budgetName {
  font-size: 14px; }

.selectbox_vl_2 {
  margin-top: 7px !important; }

.border3sides {
  border: 1px solid #b6babd;
  border-top: 0;
  margin-top: -8px; }

.tablestrc_wrap_vl {
  border: 1px solid #cccccc;
  border-bottom: 0; }

.tablestrc_wrap_1_vl {
  background-color: #eeeeee; }
  .tablestrc_wrap_1_vl span {
    border-bottom: 0;
    font-weight: bold; }

.tablestrc_vl {
  display: table;
  width: 100%; }
  .tablestrc_vl span {
    display: table-cell;
    float: none;
    text-align: center;
    vertical-align: middle;
    line-height: 14px;
    border-right: 1px solid #cccccc;
    border-bottom: 1px solid #cccccc;
    padding: 1%;
    width: 30%;
    word-wrap: break-word; }

.changedates_dd_rt {
  background: url(../images/aro_rt_bk.png) no-repeat 90% 13px;
  background-color: #cccccc !important;
  color: #3c3e57;
  padding-top: 8px;
  padding-bottom: 8px; }

.changedates_dd_dn {
  background-color: #cccccc !important;
  color: #3c3e57;
  padding-bottom: 5px;
  padding-right: 25px;
  position: relative;
  background-image: none;
  padding-top: 8px;
  padding-bottom: 8px; }
  .changedates_dd_dn:after {
    content: "";
    color: #2c2f3b; }
  .changedates_dd_dn.x-button-pressing:after {
    color: #fff; }

.lineheight40 {
  padding-top: 20px; }

.desktop_sidebar {
  background: url(../images/sidebarbg.png) repeat;
  padding: 20px 15px; }

.desktop_sidebar_img {
  background: url(../images/sidebar_img.png) no-repeat;
  height: 100%;
  background-size: 100% auto; }

.desktop_container {
  width: 1160px;
  margin: 0 auto;
  height: 100%; }

.bordergrey {
  border: 1px solid #929292; }

.bordergrey_lt {
  border: 1px solid #cccccc; }

.bordergrey-left-right-top {
  border-left: 1px solid #929292;
  border-right: 1px solid #929292;
  border-top: 1px solid #929292; }

.bordergrey-bottom {
  border-bottom: 1px solid #929292; }

.height50 {
  height: 50px; }

.btn_bottom {
  bottom: 10px;
  left: 2.3%;
  padding-left: 0;
  padding-right: 0;
  position: absolute;
  text-align: center;
  width: 95.7% !important; }

.btn_bottom_wrap {
  position: relative;
  padding-bottom: 56px; }

.x-ie .x-button {
  height: auto !important; }
.x-ie input::-ms-clear {
  display: none; }

x-phone .claimListheader .x-title {
  padding: 7px 5px 5px; }
x-phone .green-bg-gredient .x-title {
  padding: 7px 5px 5px; }
x-phone .green-cyan-bg .x-title {
  padding: 7px 5px 5px; }

.customCalendarContainer {
  background-color: #acdee7;
  padding: 5px 5px 5px 10px;
  margin-bottom: 10px;
  height: 59px; }

.customCalendarDayColor {
  color: #888888; }

.accordionlistContainer {
  background: #474660; }

.min-height157 {
  min-height: 157px; }

.min-height162 {
  min-height: 162px; }

.veiwHomeTransparentContainer {
  background: rgba(0, 0, 0, 0.5); }

.text-align-justify {
  text-align: justify; }

.fliterClaimLabelToggleBtn {
  margin-right: 2%;
  margin-top: 3px; }

.height100 {
  height: 100%; }

.greyborder_vl {
  border-bottom: solid 1px #c9c7c8; }

.expenditureType input {
  height: 46px !important; }
.expenditureType div {
  height: 46px !important; }

.expenditureType_1 input {
  height: 46px !important; }
.expenditureType_1 div {
  height: 46px !important; }

.expenseList .x-innerhtml {
  padding: 5px; }
.expenseList .x-list-item-tpl {
  background: #fff; }
.expenseList .expenseDate {
  color: #B0B0B0; }
.expenseList .expdetail {
  color: black; }

.expenseName {
  display: inline-block;
  width: 70%; }

.salectedDate {
  border: 0 none;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
  background: none;
  background-color: #3cbe9f;
  width: 100%;
  vertical-align: top;
  color: #fff; }

.margin-bottom-20 {
  margin-bottom: 20px; }

.x-chart-watermark {
  display: none !important; }

.pad-t10-b10 {
  padding-top: 10px !important;
  padding-bottom: 10px !important; }

.not_av_msg {
  background-color: #e7e7e7;
  margin-top: 20px;
  border: solid #848484 1px; }

.not_pro_av_msg {
  background-color: #e7e7e7;
  border: solid #fff 1px;
  padding: 10px;
  text-align: center;
  font-weight: normal; }

.animationspac {
  margin-top: 10px; }
  .animationspac span.greenColor {
    top: 0 !important; }

.valignMiddle {
  align-items: center; }

#salarypacakingfeedata img {
  max-width: 100%; }

.bg#ACDEE7 {
  background-color: #ACDEE7; }

.x-list-normal .x-list-item .x-dock-horizontal {
  border: none; }

.smart_menu ul {
  text-align: left;
  margin: 0;
  padding: 0;
  list-style: none;
  width: 100%;
  background-color: #5a5b77;
  border-top: 4px solid #fff;
  display: inline-block; }
  .smart_menu ul li {
    display: inline-block;
    position: relative;
    padding: 15px 14px;
    cursor: pointer;
    transition: all 0.2s;
    color: #fff;
    font-size: 14px;
    border-right: 4px solid #3c3e57;
    vertical-align: middle; }
    .smart_menu ul li#home {
      background-image: url(../images/icon_home.png);
      background-position: center center; }
    .smart_menu ul li#expressOnlineClaims {
      background-image: url(../images/home_cat_icon2.png); }
    .smart_menu ul li#personalDetails {
      background-image: url(../images/home_cat_icon3.png); }
    .smart_menu ul li#whatCanIpack {
      background-image: url(../images/home_cat_icon6.png); }
    .smart_menu ul li.vleasing {
      background-image: url(../images/home_cat_icon7.png); }
    .smart_menu ul li:last-child {
      border: 0; }
    .smart_menu ul li:hover {
      background-color: #0e9f80 !important;
      color: #fff; }
      .smart_menu ul li:hover ul {
        display: block;
        opacity: 1;
        visibility: visible; }
    .smart_menu ul li ul {
      padding: 0;
      position: absolute;
      z-index: 5;
      top: 46px;
      left: 0;
      -webkit-box-shadow: none;
      -moz-box-shadow: none;
      box-shadow: none;
      display: none;
      opacity: 0;
      visibility: hidden;
      border: 0;
      width: 210px; }
      .smart_menu ul li ul li {
        background-color: #0e9f80;
        display: block;
        color: #fff;
        border: 0;
        border-bottom: 1px solid #fff; }
        .smart_menu ul li ul li:hover {
          background-color: #0a8f72 !important; }

#animateId_TH .lightblue {
  background: #acdee7;
  top: 0 !important;
  position: absolute;
  z-index: 3; }

#animateId_NVL .darkgreen {
  background: #0e9f80;
  top: 0 !important;
  position: absolute;
  z-index: 3; }

#vehicleClaim .height-35 {
  min-height: 47px !important; }

#vehicleLeasing .height-35 {
  min-height: 47px !important; }

.noactive .x-button:active {
  background-color: #acacac !important; }

.class_active:active {
  background-color: #c3c3c3; }
  .class_active:active .claimTypeButton_n {
    background-color: #c3c3c3 !important; }

.claimStepOneNextButtonWrap .claimStepOneNextButton {
  background-position: 97.7778% center; }

#claimStepsButtonWrapper .x-button-pressing {
  background-color: #4F2E7F !important; }

.txt-normal .x-button-label {
  font-weight: normal !important; }

.searchlistbackbtn .x-button-label {
  line-height: 25px; }

.salaryfeepackagingtop .x-button-label {
  line-height: 20px; }

.dataWrapper_p table {
  width: 80%; }

.txtSearchField_p .x-clear-icon {
  margin-top: -14px; }

#cappedClaimSubTxt h3 {
  font-weight: normal;
  color: black; }

.claim-type-txt h3 {
  font-size: 16px;
  color: black; }

.down_arrow .arrow {
  background: url(../images/aro_img_down.png) no-repeat 98% 0 !important;
  width: 12px;
  height: 12px; }

.fieldHeight input {
  -webkit-border-radius: none !important;
  -moz-border-radius: none !important;
  border-radius: none !important;
  font-style: italic;
  font-family: helveticalight;
  line-height: 30px; }

#filterSection .fieldHeight input {
  font-style: normal; }

.tabletSpList .x-list-item-tpl {
  padding: 0.7em 1.8em !important; }

.selectLabelCls span {
  font: 12px helveticalight !important;
  padding-top: 0;
  font-weight: normal !important; }

.selectLabelClsD span {
  font-size: 0.9em !important;
  padding-top: 0;
  font-weight: normal !important;
  color: #606060;
  font: 12px helveticalight !important; }

.x-list-paging .x-list-paging-msg {
  color: #5a5b77; }

#CappedClaimStepOnePageId .x-scroll-scroller {
  width: inherit !important; }

#ExpenseProvider .x-input-el {
  padding-top: 10px; }

.bgE7E7E7wrap .x-input-el {
  padding-top: 10px; }

.bluetxtwrap h3 {
  font-size: 20px;
  color: #4f2e7f !important; }

#cappedClaimFormFieldWrapper .x-form-fieldset {
  margin-top: 0;
  margin-bottom: 0; }

.holder span {
  display: none; }

#viewHome .x-toolbar.x-docked-top {
  border: 0;
  min-height: 80px; }

#claimStepsTwoButtonWrapper .x-button-pressing {
  background-color: #4F2E7F !important; }

.vehicle_claim_list .x-button-label {
  font-weight: normal; }

.x-toolbar-dark .newlogoutbtn .x-button-pressing {
  background-color: transparent !important; }
.x-toolbar-dark .newlogoutbtn .x-button {
  background-color: transparent !important;
  background: none !important;
  border: 0 !important; }
.x-toolbar-dark .newlogoutbtn .x-button:hover {
  background-color: transparent !important; }

.placeholder_car img {
  width: 90%;
  height: auto; }

.x-select-overlay .x-list-label {
  white-space: normal !important; }

.x-field-input input {
  text-overflow: ellipsis; }

.trackMyClaimAdminMsg .x-toolbar-dark {
  text-align: center;
  background: #bdd600;
  background: linear-gradient(to bottom, #bdd600 0, #78bc00 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='$color_rio_grande', endColorstr='$color_lima', GradientType=0 ); }

.transcleDetail .vborder .bgwhiteparentButton {
  background: transparent;
  border: solid 2px #CDCDCD;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0; }

.hidearrow .fa-chevron-right:after {
  content: ''; }

.bgLightGreyVehicale .button_ltgrey_vl {
  padding: 13px 15px; }

.vlabel x-form-label {
  padding: 3px 15px;
  font-size: 16px; }

.container_vl_wrap, .container_vl_wrap_1 {
  width: 70%;
  margin-left: auto;
  margin-right: auto; }

.searchlistbackbtn {
  width: 10%;
  font-size: 14px;
  background: transparent;
  border: none;
  font-weight: normal; }

.x-desktop .container_vl {
  padding: 30px;
  padding-bottom: 0; }
  .x-desktop .container_vl .x-scroll-scroller-vertical {
    padding-right: 12px !important; }
    .x-desktop .container_vl .x-scroll-scroller-vertical .x-scroll-scroller-vertical {
      padding-right: 0 !important; }
  .x-desktop .container_vl .x-button-label {
    margin-top: 0; }
  .x-desktop .container_vl .selectbox_vl .expenditureType_1 input {
    padding-top: 6px; }
  .x-desktop .container_vl .selectbox_vl .expenditureType_1 div span {
    padding-top: 6px; }
  .x-desktop .container_vl .searchlistbackbtn .x-button-label {
    padding-top: 4px; }
.x-desktop .container_vl_wrap_grey {
  padding-left: 5%;
  padding-right: 5%; }
.x-desktop #homeContainer .container_vl .x-field-input .x-clear-icon {
  top: 28px; }

#homeContainer .container_vl .x-field-input .x-clear-icon {
  background: none;
  background-color: #cccccc;
  width: 25px;
  height: 25px;
  color: #676767;
  -webkit-border-radius: 100%;
  -moz-border-radius: 100%;
  border-radius: 100%;
  text-align: center;
  padding-top: 2px;
  box-sizing: border-box;
  right: 3px;
  top: 26px;
  font-size: 17px; }

.container_vl_wrap_1 {
  width: 72%; }

.container_vl_wrap_grey {
  background-color: #e7e7e7;
  width: 100%;
  padding: 0 15%; }

.container_vl {
  color: #5a5b77; }
  .container_vl .x-button-pressing {
    background: none;
    background-color: #3cbe9f !important;
    color: #fff; }
  .container_vl .icon-sign {
    background: none;
    padding: 0 0 0 20px;
    color: #777777;
    font-size: 21px;
    box-sizing: border-box;
    font-weight: normal; }
    .container_vl .icon-sign:before {
      content: "\f155";
      padding-top: 14px; }
  .container_vl .cal-arrow-right, .container_vl .cal-arrow-down {
    position: relative; }
  .container_vl .cal-arrow-right:after {
    content: "";
    right: -4px;
    color: #5a5b77;
    font-size: 14px; }
  .container_vl .cal-arrow-down:after {
    content: "";
    right: -4px;
    color: #5a5b77;
    font-size: 14px; }
  .container_vl .selectbox_vl .expenditureType div {
    height: 40px !important; }
  .container_vl .selectbox_vl .expenditureType_1 div {
    height: 40px !important;
    padding-top: 0;
    padding-bottom: 0; }
    .container_vl .selectbox_vl .expenditureType_1 div.x-form-label {
      background-color: #3cbe9f;
      -webkit-border-radius: 0;
      -moz-border-radius: 0;
      border-radius: 0;
      border-top: 0;
      color: #fff; }
    .container_vl .selectbox_vl .expenditureType_1 div span {
      font-size: 14px;
      font-weight: normal;
      padding: 8px;
      line-height: 27px;
      display: block;
      text-shadow: none; }
  .container_vl .selectbox_vl .x-field {
    min-height: auto; }
  .container_vl .expenselist_vl .x-list-item-tpl {
    border-top: 0 !important;
    background-color: #e7e7e7 !important;
    margin-bottom: 10px; }
  .container_vl .expenselist_vl .x-item-selected {
    background: none !important;
    background-color: #3cbe9f !important; }
  .container_vl .expenselist_vl .x-item-pressed {
    background: none !important;
    background-color: #3cbe9f !important; }
    .container_vl .expenselist_vl .x-item-pressed .expenseName {
      color: #FFF !important; }
    .container_vl .expenselist_vl .x-item-pressed .expenseAmount {
      color: #FFF !important; }
    .container_vl .expenselist_vl .x-item-pressed .expenseDate {
      color: #FFF !important; }
  .container_vl .expenselist_vl_wrap .x-list {
    background-color: #fff; }
    .container_vl .expenselist_vl_wrap .x-list .x-list-disclosure {
      background: none !important;
      height: 100% !important;
      padding: 0 !important;
      margin: 0 !important;
      text-align: center; }
      .container_vl .expenselist_vl_wrap .x-list .x-list-disclosure:before {
        content: "";
        font-size: inherit;
        color: #3c3e57;
        position: absolute;
        top: 20%; }
    .container_vl .expenselist_vl_wrap .x-list .x-item-selected .x-list-disclosure:before {
      color: #FFF !important; }
    .container_vl .expenselist_vl_wrap .x-list .x-item-pressed .x-list-disclosure:before {
      color: #FFF !important; }
    .container_vl .expenselist_vl_wrap .x-list .x-list-item.x-list-item-tpl .x-innerhtml {
      padding: 10px;
      line-height: 15px;
      font-size: 13px;
      color: #5a5b77 !important; }
  .container_vl .expenselist_vl_wrap .expenseAmount {
    width: 24%;
    margin-top: -4px; }
  .container_vl .expenselist_vl_wrap .expenseAmountTransaction {
    float: right; }
  .container_vl .expenselist_vl_wrap .x-item-selected .expenseName {
    color: #FFF !important; }
  .container_vl .expenselist_vl_wrap .x-item-selected .expenseAmount {
    color: #FFF !important; }
  .container_vl .expenselist_vl_wrap .x-item-selected .expenseDate {
    color: #FFF !important; }
  .container_vl label.budgetName {
    font-size: 14px; }
  .container_vl label.budgetAmount {
    font-size: 14px; }
  .container_vl .x-button-label {
    line-height: normal;
    display: table;
    vertical-align: middle;
    width: 100%; }
  .container_vl .image_browse_wrapper {
    background-color: #2e797f !important;
    background-image: url(../images/invoice_btn_vl@2x.png); }
  .container_vl .customCalendarContainer {
    height: 42px; }
  .container_vl .calendar-icon-cust {
    height: 32px; }
  .container_vl .customCalendarDayColor {
    padding-top: 0 !important; }
  .container_vl .changedates_dd_rt {
    background: url(../images/aro_rt_bk@2x.png) no-repeat 95% 7px !important;
    background-size: 12px auto !important; }
  .container_vl .x-button.x-button-pressing:after {
    background: none; }
  .container_vl .searchlistbackbtn .x-button-label {
    margin-top: 0;
    padding-top: 8px; }
  .container_vl .x-field .x-input-el {
    font-size: 16px;
    text-overflow: ellipsis; }
  .container_vl .x-layout-box.x-horizontal > .x-layout-box-item.x-flexed {
    word-wrap: break-word;
    text-align: left; }
  .container_vl .x-horizontal.x-align-stretch .txt-right {
    text-align: right !important; }
  .container_vl #transactionsFromCalendar .margin-5-10 {
    margin-top: 0 !important;
    padding-top: 0 !important; }
  .container_vl #transactionsToCalendar .margin-5-10 {
    margin-top: 0 !important;
    padding-top: 0 !important; }
  .container_vl #vehiclesExpenditureToCalendar .margin-5-10 {
    margin-top: 0 !important;
    padding-top: 0 !important; }
  .container_vl #daysUnavailableDropOffCalendar .margin-5-10 {
    margin-top: 0 !important;
    padding-top: 0 !important;
    margin-left: 0 !important;
    padding-left: 0 !important; }
  .container_vl #vehiclesExpenditureFromCalendar .margin-5-10 {
    margin-top: 0 !important; }
  .container_vl #daysUnavailablePickUpCalendar .margin-5-10 {
    margin-left: 0 !important;
    padding-left: 0 !important; }
  .container_vl .x-field-select .x-component-outer:after {
    background-color: transparent !important; }

.button_grey_vl_2 {
  background: none;
  background-color: #cccccc !important;
  border: 1px solid #b6babd;
  color: #3c3e57;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
  text-align: left;
  width: 100%; }
  .button_grey_vl_2 span {
    margin-top: 5px; }
    .button_grey_vl_2 span span {
      margin-top: 0; }

.button_greyblue_vl {
  background: none;
  background-color: #5a5b77 !important;
  width: 100%;
  vertical-align: top;
  text-transform: capitalize; }
  .button_greyblue_vl span {
    margin-top: 2px; }

.button_white_vl {
  background: none;
  background-color: #fff !important;
  -webkit-box-shadow: 1px 1px 2px #B7B7B7;
  -moz-box-shadow: 1px 1px 2px #B7B7B7;
  box-shadow: 1px 1px 2px #B7B7B7;
  color: #5a5b77;
  width: 100%; }

.button_ltgrey_vl {
  background: none;
  border: 0 none;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
  background-color: #e7e7e7;
  width: 100%;
  vertical-align: top;
  color: #5a5b77;
  text-transform: capitalize; }

.shadow_vl {
  -webkit-box-shadow: 1px 1px 2px #B7B7B7;
  -moz-box-shadow: 1px 1px 2px #B7B7B7;
  box-shadow: 1px 1px 2px #B7B7B7; }

.container_vl .snap_shot .remove_img:after {
  background-color: #0e9f80; }

/*# sourceMappingURL=style.css.map */
