@font-face {
    font-family: 'helveticaneueltstd-bd';
    src: url('../fonts/helveticaneueltstd-bd.eot');
    src: url('../fonts/helveticaneueltstd-bd.eot') format('embedded-opentype'),
         url('../fonts/helveticaneueltstd-bd.woff2') format('woff2'),
         url('../fonts/helveticaneueltstd-bd.woff') format('woff'),
         url('../fonts/helveticaneueltstd-bd.ttf') format('truetype'),
         url('../fonts/helveticaneueltstd-bd.svg#helveticaneueltstd-bd') format('svg');
}
@font-face {
    font-family: 'helveticaneueltstd-roman';
    src: url('../fonts/helveticaneueltstd-roman.eot');
    src: url('../fonts/helveticaneueltstd-roman.eot') format('embedded-opentype'),
         url('../fonts/helveticaneueltstd-roman.woff2') format('woff2'),
         url('../fonts/helveticaneueltstd-roman.woff') format('woff'),
         url('../fonts/helveticaneueltstd-roman.ttf') format('truetype'),
         url('../fonts/helveticaneueltstd-roman.svg#helveticaneueltstd-roman') format('svg');
}
body{
	background-color:#FFF;
	font:14px helveticaneueltstd-roman;
	color:#636363;
}
a, a > *, button {
	text-decoration: none;
	-webkit-transition: background-color .2s ease, border .2s ease, color .2s ease, opacity .2s ease-in-out;
	-moz-transition: background-color .2s ease, border .2s ease, color .2s ease, opacity .2s ease-in-out;
	-ms-transition: background-color .2s ease, border .2s ease, color .2s ease, opacity .2s ease-in-out;
	-o-transition: background-color .2s ease, border .2s ease, color .2s ease, opacity .2s ease-in-out;
	transition: background-color .2s ease, border .2s ease, color .2s ease, opacity .2s ease-in-out;
	-moz-border-radius:5px;
	-webkit-border-radius:5px;
	border-radius:5px;
}
a:focus,
input[type="file"]:focus,
input[type="radio"]:focus,
input[type="checkbox"]:focus,
.btn:focus,
.btn:active:focus,
.btn.active:focus {
	outline:none;
}
a:hover, a:focus {
    text-decoration: none;
	color:#4e2583;
}
.btn:hover, .btn:focus{
	color:#fff;
}
/*--------general----------*/
.nogutter{
	padding:0;
}
.nogutterleft{
	padding-left:0;
}
.nogutterright{
	padding-right:0;
}
.headertop{
	background-color:#1fabf6;
	padding:5px 0;
}
ul, li{
	padding:0;
	margin:0;
}
h1, h2, h3, h4, h5, h6{
	margin:0;
}
h1, h2{
	padding:0;
	color:#fff;
	font:28px helveticaneueltstd-bd;
}
h2{
	color:#4e2583;
	font-size:17px;
}
h1.title{
	color:#21abf3;
	padding-bottom:10px;
}
.container_site{
	max-width:950px;
	width:100%;
	margin:0 auto;
	position:relative;
}
.padtop10{
	padding-top:10px;
}
.padtop15{
	padding-top:15px;
}
.padbtm10{
	padding-bottom:10px;
}
.padtop50{
	padding-top:50px;
}
.margintop40{
	margin-top:40px;
}
.margintop7{
	margin-top:7px;
}
/*-------------custom select box css starts--------------*/
.bootstrap-select {
  /*width: 220px\9; IE8 and below*/
  width: 220px \0;
  /*IE9 and below*/
}
.bootstrap-select > .btn {
  width: 100%;
  padding-right:42px;
}
.card_month .bootstrap-select > .btn {
	padding-right:35px;
}
.error .bootstrap-select .btn {
  border: 1px solid #b94a48;
}
.control-group.error .bootstrap-select .dropdown-toggle {
  border-color: #b94a48;
}
.bootstrap-select.fit-width {
  width: auto !important;
}
.bootstrap-select:not([class*="col-"]):not([class*="form-control"]):not(.input-group-btn) {
  width:100%;
}
.bootstrap-select .btn:focus {
  outline: none !important;
  outline: 5px auto -webkit-focus-ring-color !important;
  outline-offset: -2px;
}
.bootstrap-select.form-control {
  margin-bottom: 0;
  padding: 0;
  border: none;
}
.bootstrap-select.form-control:not([class*="col-"]) {
  width: 100%;
}
.bootstrap-select.btn-group:not(.input-group-btn),
.bootstrap-select.btn-group[class*="col-"] {
  float: none;
  display: inline-block;
  margin-left: 0;
}
.bootstrap-select.btn-group.dropdown-menu-right,
.bootstrap-select.btn-group[class*="col-"].dropdown-menu-right,
.row-fluid .bootstrap-select.btn-group[class*="col-"].dropdown-menu-right {
  float: right;
}
.form-search .bootstrap-select.btn-group,
.form-inline .bootstrap-select.btn-group,
.form-horizontal .bootstrap-select.btn-group,
.form-group .bootstrap-select.btn-group {
  margin-bottom: 0;
}
.form-group-lg .bootstrap-select.btn-group.form-control,
.form-group-sm .bootstrap-select.btn-group.form-control {
  padding: 0;
}
.form-inline .bootstrap-select.btn-group .form-control {
  width: 100%;
}
.input-append .bootstrap-select.btn-group {
  margin-left: -1px;
}
.input-prepend .bootstrap-select.btn-group {
  margin-right: -1px;
}
.bootstrap-select.btn-group > .disabled {
  cursor: not-allowed;
}
.bootstrap-select.btn-group > .disabled:focus {
  outline: none !important;
}
.bootstrap-select.btn-group .btn .filter-option {
  display: inline-block;
  overflow: hidden;
  width: 100%;
  text-align: left;
}
.bootstrap-select.btn-group[class*="col-"] .btn {
  width: 100%;
}
.bootstrap-select.btn-group .dropdown-menu {
  min-width: 100%;
  z-index: 1035;
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-border-radius:0;
  -moz-border-radius:0;
  border-radius:0;
  border:0;
}
.bootstrap-select.btn-group .dropdown-menu.inner {
  position: static;
  border: 0;
  padding: 0;
  margin: 0;
  border-radius: 0;
  -webkit-box-shadow: none;
          box-shadow: none;
}
.bootstrap-select.btn-group .dropdown-menu li {
  position: relative;
}
.bootstrap-select.btn-group .dropdown-menu li:not(.disabled) a:hover small,
.bootstrap-select.btn-group .dropdown-menu li:not(.disabled) a:focus small,
.bootstrap-select.btn-group .dropdown-menu li.active:not(.disabled) a small {
  color: #64b1d8;
  color: rgba(100, 177, 216, 0.4);
}
.bootstrap-select.btn-group .dropdown-menu li.disabled a {
  cursor: not-allowed;
}
.bootstrap-select.btn-group .dropdown-menu li a {
  cursor: pointer;
}
.bootstrap-select.btn-group .dropdown-menu li a.opt {
  position: relative;
  padding-left: 2.25em;
}
.bootstrap-select.btn-group .dropdown-menu li a span.check-mark {
  display: none;
}
.bootstrap-select.show-menu-arrow .dropdown-toggle:before {
  content: '';
  border-left: 7px solid transparent;
  border-right: 7px solid transparent;
  border-bottom-width: 7px;
  border-bottom-style: solid;
  border-bottom-color: #cccccc;
  border-bottom-color: rgba(204, 204, 204, 0.2);
  position: absolute;
  bottom: -4px;
  left: 9px;
  display: none;
}
.bootstrap-select.show-menu-arrow .dropdown-toggle:after {
  content: '';
  border-left: 6px solid transparent;
  border-right: 6px solid transparent;
  border-bottom: 6px solid white;
  position: absolute;
  bottom: -4px;
  left: 10px;
  display: none;
}
.bootstrap-select.show-menu-arrow.dropup .dropdown-toggle:before {
  bottom: auto;
  top: -3px;
  border-bottom: 0;
  border-top-width: 7px;
  border-top-style: solid;
  border-top-color: #cccccc;
  border-top-color: rgba(204, 204, 204, 0.2);
}
.bootstrap-select.show-menu-arrow.dropup .dropdown-toggle:after {
  bottom: auto;
  top: -3px;
  border-top: 6px solid white;
  border-bottom: 0;
}
.bootstrap-select.show-menu-arrow.pull-right .dropdown-toggle:before {
  right: 12px;
  left: auto;
}
.bootstrap-select.show-menu-arrow.pull-right .dropdown-toggle:after {
  right: 13px;
  left: auto;
}
.bootstrap-select.show-menu-arrow.open > .dropdown-toggle:before,
.bootstrap-select.show-menu-arrow.open > .dropdown-toggle:after {
  display: block;
}

.mobile-device {
  position: absolute;
  top: 0;
  left: 0;
  display: block !important;
  width: 100%;
  height: 100% !important;
  opacity: 0;
}
.bootstrap-select .btn-default{
	border-radius:0;
	border:1px solid #e1e1e1;
	width:100%;
	margin-top:7px;
	color:#858585;
	padding-top:8px;
	padding-bottom:8px;
}
/*-----------custom select box css ends------------*/

/*--------header----------*/
.headertop{
	padding:5px 0;
}
ul.toplinks_site li{
	border-right:1px solid #fff;
	padding:0 14px;
	list-style-type:none;
	display:inline;
	position:relative;
}
ul.toplinks_site li:last-child{
	border-right:0;
	padding-right:0;
}
ul.toplinks_site li a{
	color:#fff;
	font-weight:bold;
}
ul.toplinks_site li a:hover{
	color:#000;
	text-decoration:none;
}
.toplinks_site .navbar-toggle{
	display:inline-block;
}
.collapse.in{
	display:block;
}
.toplinks_site .navbar-collapse.collapse{
	display: none !important;
	position:absolute;
	right:0;
	top:24px;
	z-index:5;
	width:280px;
}
.toplinks_site .collapsing {
	position:absolute;
	right:0;
	top:24px;
	z-index:1;	
}
.toplinks_site .col-xs-5{
	width:280px;
}
.toplinks_site .col-xs-5 .signin_content{
	background-color:#1fabf6;
	padding:20px;
}
.toplinks_site .col-xs-5 .signin_content input[type="text"],
.toplinks_site .col-xs-5 .signin_content input[type="password"]{
	height:36px;
	border:1px solid #e5e5e5;
	width:100%;
	margin-bottom:10px;
	padding:0 10px;
	border-radius:0;
}
.toplinks_site .col-xs-5 .signin_content .btn-orange{
	font-size:15px;
	text-align:center;
	font-weight:bold;
}
.toplinks_site .triangle_wrap{
	padding-right:24px;
}
.toplinks_site .triangle{
	width: 0;
	height: 0;
	border-style: solid;
	border-width: 0 10px 10px 10px;
	border-color: transparent transparent #1fabf6 transparent;
	content:" ";
	display:block;
	float:right;
}
.toplinks_site .navbar-collapse.collapse.in {
	display: block !important;
}
.toplinks_site .navbar-toggle{
	float:none;
	padding:0;
	margin:0;
	color:#fff;
	font-weight:bold;
}
.toplinks_site .navbar-toggle:hover{
	color:#000;
}
.headertop h6{
	font-size:12px;
	color:#fff;
	text-align:left;
	padding-top:3px;
}
span.call{
	font-size:13px;
	font-weight:bold;
}
.logo img{
	height:58px;
	width:172px;
}
.category_site{
	background:url(../images/category_banner.jpg) no-repeat center top;
	text-align:center;
	padding:80px 0 93px;
	height:396px;
}
/*--------menu---------*/
.navbar-default{
	background-color:transparent;
	border:0;
	margin-bottom:0;
}
.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:hover, .navbar-default .navbar-nav > .active > a:focus,
.navbar-default .navbar-nav > li > a{
	color:#4e2683;
	background-color:transparent;
	font-weight:bold;
}
p.greyfont{
	font:14px helveticaneueltstd-roman;
	color:#000;
	padding:0;
	margin:0;
}
.navbar-nav{
	float:right;
}
.nav > li > a{
	padding-left:25px;
	padding-right:25px;
}
.navbar-nav > li{
	margin-right:3px;
}
.navbar-nav > li:last-child{
	margin-right:0;
}
ul.dropdown-menu{
	padding:0;
	border:0;
	-webkit-box-shadow:none;
	-moz-box-shadow:none;
	box-shadow:none;
}
ul.dropdown-menu li{
	border-bottom:1px solid #d9d9d9;
	padding-top:7px;
	padding-bottom:7px;
}
ul.dropdown-menu li:last-child{
	border-bottom:0;
}
.dropdown-menu > li > a:hover, .dropdown-menu > li > a:focus{
	background-color:transparent;
}
.dropdown-menu  li:hover a, .dropdown-menu  li a:focus {
	color:#1fabf6;
}
li.dropdown{
	position:relative;
}
.navbar-default .navbar-nav > .open > a, .navbar-default .navbar-nav > .open > a:hover, .navbar-default .navbar-nav > .open > a:focus{
	background-color:transparent;
}
/*--------homepage----------*/
.banner_site{
	background:url(../images/banner.jpg) no-repeat center top #20abf3;
	border-top:3px solid #fff;
	border-bottom:4px solid #fff;
	min-height:396px;
	padding:20px 0 0;
}
.banner_site .col-sm-4 .col-lg-12{
	background-color:#fff;
	padding-top:15px;
	padding-bottom:15px;
	color:#858585;
	font-family:helveticaneueltstd-roman;
}
.banner_site .col-sm-4 .col-lg-12 h1{
	color:#24adf3;
	font:bold 17px helveticaneueltstd-roman;
}
.greybg, .greybg1{
	background-color:#eaeaea;
	padding:40px 0;
}
.greybg1{
	padding:20px 0;
}
.greybg h1, h5{
	color:#636363;
	font:16px helveticaneueltstd-roman; 
}
h5{
	padding-bottom:40px;
}
.greybg .col-xs-3 .col-xs-12{
	min-height:200px;
	border:1px solid #dddddd;
	background-color:#FFF;
	text-align:center;
	padding-top:40px;
	padding-bottom:10px;
}
h1.circle_heading{
	width:88px;
	height:88px;
	background-color:#4e2583;
	border-radius:100%;
	margin:0 auto;
	position:absolute;
	top:-50px;
	left:26%;
	right:26%;
}
.icon_tax, .icon_cart, .icon_fund, .icon_savings{
	background:url(../images/sprite_product.png) no-repeat;
	background-position:28px 10px;
	width:76px;
	height:88px;
}
.icon_cart{
	background-position:-38px 10px;
}
.icon_fund{
	background-position:-124px 10px;
}
.icon_savings{
	background-position:-212px 10px;
}
.greybg .col-xs-3 .col-xs-12 h2, .video_block h1{
	font:15px helveticaneueltstd-roman;
	color:#4e2683;
	padding:10px 0 7px;
}
.video_block h1{
	font-weight:bold;
}
.greybg .col-xs-3 .col-xs-12 p{
	padding-bottom:15px;
}
.carousel_site{
	padding-top:25px;
}
.video_block{
	padding:40px 0;
	text-align:center;
}
.video_block p{
	min-height:70px;
	padding:0 40px 5px;
}
.video_site{
	background:url(../images/video_placeholder.jpg) no-repeat;
	background-size:100% auto;
	height:167px;
}
.video_block .col-sm-6 .col-lg-12, .video_block .col-xs-12{
	border:1px solid #dbdada;
	min-height:342px;
	padding-bottom:20px;
}
.block_fb img{
	width:100%;
}
.ss_mobile .ss_mobile_content{
	text-align:center;
	padding-top:20px;
}
.border-left{
	border-left:1px solid #fff;
}
.btn-transparent {
    display: block;
    position: relative;
    z-index: 1;
	width:312px;
	height:40px;
	background-color: transparent;
	border:1px solid #fff;
	border-radius:0;
	color:#fff;
	padding-left:80px;
	padding-right:80px;
	font-size:20px;
	margin:10px auto 0 auto;
}
.btn-transparent:before  {
    background-color:#66478E;
    content: " ";
    display: block;
    left:0%;
    position: absolute;
    top: 0;
    -webkit-transition: width 0.3s ease-in 0s;
	-moz-transition: width 0.3s ease-in 0s
	-ms-transition: width 0.3s ease-in 0s;
	-o-transition: width 0.3s ease-in 0s;
	transition: width 0.3s ease-in 0s;
    width:0%;
    z-index: -1;height:38px;
}
.btn-transparent:hover:before  {
    left:0%;
	width: 100%;
}
.btn-orange, .btn-blue{
	background-color:#ff9a00;
	border-radius:0;
	color:#fff;
	font:19px helveticaneueltstd-roman;
	position:relative;
	text-align:left;
}
.btn-orange:after, .car_lease .btn-orange:after, .btn-blue:after{
	content: "\f105";
	margin-left:20px;
	font:24px FontAwesome;
	position:absolute;
	right:10px;
	top:10px;
}
.btn-blue:after{
	top:5px;
}
.btn-orange:hover, .btn-blue:hover{
	color:#fff;
	background-color:#FFAF39;
}
.btn-blue:hover{
	background-color:#008EDA;
}
.btn_block_md{
	width:70%;
}
.btn_block_sm{
	width:50%;
}
.car_lease .btn-orange:after{
	top:4px;
}
.btn-blue{
	background-color:#20abf3;
	font-size:15px;
	padding-top:7px;
	padding-bottom:7px;
}
.car_lease{
	color:#FFF;
	position:relative;
	z-index:2;
	height:100%;
}
.car_lease p{
	font:18px helveticaneueltstd-roman;
	padding-bottom:7px;
}
.car_lease h1{
	padding:10px 0 5px;
}
.car_lease .btn-orange{
	font:bold 15px helveticaneueltstd-roman;
	padding:6px 9px;
	min-width:159px;
}
.circle_offer{
	background-color:#4e2583;
	border-radius:100%;
	padding:16px 9px;
	width:160px;
	height:160px;
	position:absolute;
	bottom:211px;
	right:0;
	text-align:center;
	z-index:1;
	color:#fff;
	font-family:helveticaneueltstd-roman;
	z-index:-1;
}
.car_lease_front{
	position: relative;
	left:0;
	top:-62px;
	margin-bottom:-62px;
	z-index:3;
	text-align:right;
	width:100%;
}
.car_lease button{
	position: relative;
	z-index:4;
}
.circle_offer p{
	margin:0;
	padding:0;
}
.circle_offer .style1{
	font-size:17px;
}
.circle_offer .style2{
	font-size:15px;
}
.circle_offer .style3{
	font:38px helveticaneueltstd-bd;
}
.circle_offer .style4{
	font-size:14px;
}
.caret{
	border:0;
	color:#c3c3c3;
	line-height:0 !important;
}

/*--------footer----------*/
footer{
	background-color:#2b2e3c;
	padding:20px 0;
}
footer h6{
	font:bold 12px helveticaneueltstd-roman;
	color:#fff;
}
footer li{
	list-style-type:none;
	display:inline;
	border-left:1px solid #FFF;
	padding:0 10px;
}
	
ul.footerlinks_site li{
	list-style-type:none;
	margin-top:10px;
	float:left;
	width:17%;
	margin-right:3%;
	border:0;
	padding:0;
}
ul.footerlinks_site  li:last-child{
	margin-right:0;
}
ul.footerlinks_site  li li{
	display:block;
	width:100%;
}
ul.footerlinks_site li a, footer li a, .copyright_site{
	font:12px helveticaneueltstd-roman;
	color:#fff;
}
ul.footerlinks_site li a:hover, footer li a:hover{
	color:#359EF4;
	text-decoration:none;
}
.footer_row1{
	min-height:160px;
}
.footer_row2{
	border-top:1px solid #FFF;
	margin-top:20px;
	padding-top:10px;
	min-height:80px;
	color:#fff;
}
.footer_row1 .col-sm-10{
	width:87.3333%;
}
.footer_row1 .col-sm-2{
	width:12.6667%;
	text-align:right;
}
.footer_row1 .block_fb{
	display:none;
}
.img_award{
	position:relative;
	top:-26px;
}
.copyright_site, .footerlinks2_site{
	float:left;
}
.copyright_site{
	margin-right:10px;
	margin-top:2px;
}
a.logo_footer{
	background:url(../images/logo_footer.jpg) no-repeat;
	width:115px;
	height:39px;
	float:right;
	display:block;
}
/*-------collapsible footer menu--------*/
footer .panel{
	background-color:transparent;
	border:0;
	border-bottom:1px solid #636469;
}
footer .panel li{
	border:0;
}
footer .panel-group li{
	display:block;
	padding:0 0 5px 20px;
	position:relative;
}
footer .panel-group li:after{
	content: "\f054";
	display: inline-block;
	font: normal normal normal 14px/1 FontAwesome;
	font-size: inherit;
	text-rendering: auto;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	position:absolute;
	top:13px;
	right:10px;
}
footer .panel-group li li:after{
	content:" ";
}
footer .panel-default > .panel-heading{
	background-color:transparent;
	padding-left:0;
}
footer .panel-default > .panel-heading + .panel-collapse > .panel-body{
	border:0;
}
footer a > .panel-title  {
	font-size:14px;
	color:#cfcfcf;
}
footer a:hover > .panel-title  {
	color:#359ef4;
}
footer .panel-body{
	padding:0 0 10px;
}
.footerlinks_tab{
	display:none;
}
footer .panel-group .panel{
	border-radius:0;
}
/*------jcarousel css--------*/
.jcarousel-wrapper {
    margin: 20px auto;
    position: relative;
}
.jcarousel-wrapper h2{
	padding-top:31px;
}

/** Carousel **/

.jcarousel {
    position: relative;
    overflow: hidden;
    width:90%;
	margin:0 auto;
	padding-top:51px;
}
.jcarousel ul {
    width: 20000em;
    position: relative;
    list-style: none;
    margin: 0;
    padding: 0;
}
.jcarousel li {
    width: 200px;
    float: left;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
	position:relative;
	text-align:center;
}
.jcarousel li .col-xs-12{
	background-color:#fff;
	border:1px solid #dddddd;
	padding-top:20px;
	padding-bottom:20px;
}
.jcarousel li p{
	padding-bottom:20px;
	min-height:93px;
	overflow:hidden;
}
.jcarousel img {
    display: block;
    max-width: 100%;
    height: auto !important;
}

/** Carousel Controls **/

.jcarousel-control-prev,
.jcarousel-control-next {
    position: absolute;
    top:58%;
    margin-top: -15px;
    width: 30px;
    height: 30px;
    text-align: center;
    color: #8a8a8a;
    text-decoration: none;
    font: 24px/27px Arial, sans-serif;
	font-size:28px !important;
}

.jcarousel-control-prev {
    left: 15px;
}

.jcarousel-control-next {
    right: 15px;
}

/** Carousel Pagination **/

.jcarousel-pagination {
    position: absolute;
    bottom: -40px;
    left: 50%;
    -webkit-transform: translate(-50%, 0);
    -ms-transform: translate(-50%, 0);
    transform: translate(-50%, 0);
    margin: 0;
	display:none;
}

.jcarousel-pagination a {
    text-decoration: none;
    display: inline-block;
    font-size: 11px;
    height: 10px;
    width: 10px;
    line-height: 10px;
    background: #fff;
    color: #4E443C;
    border-radius: 10px;
    text-indent: -9999px;
    margin-right: 7px;
    -webkit-box-shadow: 0 0 2px #4E443C;
    -moz-box-shadow: 0 0 2px #4E443C;
    box-shadow: 0 0 2px #4E443C;
}

.jcarousel-pagination a.active {
    background: #4E443C;
    color: #fff;
    opacity: 1;

    -webkit-box-shadow: 0 0 2px #F0EFE7;
    -moz-box-shadow: 0 0 2px #F0EFE7;
    box-shadow: 0 0 2px #F0EFE7;
}

/*------dashboard page------*/
.dashboard_site{
	padding-bottom:20px;
}
.dashboard_site h4, .dashboard_site .col-sm-10{
	color:#878787;
	font-size:16px;
	font-weight:bold;
}
.dashboard_site h4.col-sm-2:after{
	content:":";
	display:block;
	position:absolute;
	top:0;
	right:0;
}
.dashboard_site .col-sm-10{
	padding-left:40px;
	font-weight: normal;
	padding-bottom:20px;
	word-wrap:break-word;
}
.dashboard_banner img{
	width:100%;
}
.dashboard_banner{
	background-color:#634091;
	margin-bottom:20px;
	overflow:hidden;
}
.dashboard_banner img {
	height: 164px;
	width: auto;
}

/*---------------media querries for responsive view--------------*/
@media (max-width: 991px) {
	.video_block .block_fb{
		display:none;
	}
	.video_block .col-lg-12{
		width:90%;
		margin:0 auto;
		float:none;
	}
}


@media (max-width: 1024px) {
	/*--------main navigation-------*/
	.navbar-toggle {
		display: block;
		margin-right:0;
	}
	.navbar-collapse.collapse{
		display:none !important;
	}
	.navbar-collapse.collapse.in{
		display:block !important;
	}
	.navbar-header{
		float:right;
	}
	.nav > li{
		display:block;
		float:none;
	}
	.navbar .navbar-collapse.collapse,
	.navbar .navbar-collapse.nogutter.collapsing{
		position:absolute;
		z-index:4;
		background-color:#fff;
		top:67px;
		right:10px;
		width:100%;
	}
	.navbar-nav{
		width:100%;
		margin:0;
		text-align:left;
	}
	.navbar-nav li{
		border-bottom:1px solid #4e2683;
	}
	.navbar-nav .dropdown-menu{
		position:relative;
		float:none;
	}
	.navbar-nav > li{
		margin-right:0;
	}
	.navbar-default .navbar-collapse, .navbar-default .navbar-form{
		border:0;
	}
	.navbar-default .navbar-toggle{
		background-color:#c3c3c3;
		border:0;
		border-radius:0;
		margin-top:12px;
	}
	.navbar-default .navbar-toggle .icon-bar{
		background-color:#fff;
		box-shadow:1px 1px 2px #aeaeae;
		height:3px;
	}
	.navbar-default .navbar-nav .open .dropdown-menu > li > a{
		color:#333;
		padding:3px 25px;
	}
	.dropdown-menu > li > a{
		padding:3px 25px;
	}
	/*-------car lease section homepage-------*/
	.circle_offer{
		height:140px;
		width:140px;
		bottom:53%;
		right:-19px;
	}
	.circle_offer .style2{
		font-size:14px;
	}
	.circle_offer .style4{
		font-size:13px;
	}
	.car_lease p{
		font-size:17px;
		pading-bottom:0;
		margin-bottom:0;
	}
	.car_lease_front img{
		width:510px;
	}
	.car_lease_front{
		top:-22px;
		margin-bottom:-22px;
		height:100%;
	}
	.btn-orange, .btn-blue{
		font-size:15px;
	}
	.btn-orange:after{
		font-size:19px;
	}
	/*---------footer section----------*/
	.footerlinks_desktop{
		display:none;
	}
	.footerlinks_tab, .footer_row1 .block_fb{
		display:block;
	}
	a.logo_footer{
		background:url(../images/logo_footer@2x.jpg) no-repeat;
		background-size:115px auto;
	}
	/*-------jcarousel----------*/
	.jcarousel-wrapper h2{
		min-height:87px;
	}
}
@media (max-width: 767px) {
	h1, h2{
		font-size:22px;
	}
	.banner_site{
		background:url(../images/banner_mobile.jpg) no-repeat center top #20abf3;
	}
	.container_site{
		text-align:center;
	}
	/*--------car lease section homepage----------*/
	.car_lease p{
		font-size:16px;
		line-height:18px;
	}
	.car_lease_front{
		margin-bottom:0;
		top:0;
		padding-top:63px;
	}
	.car_lease_front img{
		width:100%;
	}
	.car_lease .btn-orange,
	.banner_site .col-sm-4 .col-lg-12 span, .banner_site .col-sm-4 .col-lg-12 h1,
	.banner_site .col-sm-4 .col-lg-12 .btn-group{
		display:none;
	}
	.car_lease h1{
		font-size:22px;
	}
	.circle_offer .style1{
		font-size:15px;
	}
	.circle_offer .style2, .circle_offer .style4{
		font-size:13px;
	}
	.circle_offer .style3{
		font:29px helveticaneueltstd-bd;
	}
	.circle_offer{
		top:auto;
		bottom:42%;
		right:auto;
		left: 15%;
		right:auto;

		width:150px;
		height:150px;
	}
	.btn-orange, .btn-blue{
		font-size:19px;
	}
	.banner_site .col-sm-4 .col-lg-12{
		background-color:transparent;
	}
	
	.btn-transparent:after{
		display: inline-block;
		font: normal normal normal 24px FontAwesome;
		font-size: inherit;
		text-rendering: auto;
		-webkit-font-smoothing: antialiased;
		-moz-osx-font-smoothing: grayscale;
		content:"\f054";
		color:#b3a1ca;
		position:absolute;
		right:20px;
		top:10px;
	}
	.category_site{
		background:url(../images/category_banner_mobile.jpg) no-repeat center top;
	}
	.category_site h1{
		width:70%;
		text-align:center;
		margin:0 auto;
	}
	.video_block .col-sm-6{
		padding-bottom:10px;
	}
	footer{
		padding-bottom:40px;
	}
	.footer_row1 .block_fb{
		display:none;
	}
	.footerlinks2_site{
		position:absolute;
		top:77px;
		width:100%;
		left:auto;
		right:auto;
	}
	footer li:first-child{
		border-left:0;
	}
	.footer_row2{
		border:0;
		margin-top:0;
		padding-top:0;
	}
	.copyright_site{
		padding-top:12px;
	}
	/*-------jcarousel---------*/
	.panel-group{
		text-align:left;
	}
	.dashboard_site{
		text-align:left;
	}
	.dashboard_site h4.col-sm-2:after{
		content:" ";
	}
	.dashboard_site .col-sm-10{
		padding-left:15px;
	}
	/*--------DASHBOARD PAGE---------*/
	.dashboard_banner img {
		height:100px;
	}
	
}
@media (max-width: 480px) {
	span.call{
		display:block;
		color:#fff;
	}
	a.phone[href^=tel]:link { color:#f00; }
	ul.toplinks_site{
		padding-top:5px;
	}
	ul.toplinks_site li{
		padding:0 6px;
	}
	ul.toplinks_site li:first-child{
		padding-right:3px;
	}
	.toplinks_site .navbar-collapse.collapse,
	.toplinks_site .navbar-collapse.collapsing{
		top:30px;
		right:-80%;
	}
	.toplinks_site .triangle_wrap{
		padding-right:72px;
	}
	.btn-transparent{
		width:100%;
		min-width: inherit;
	}
	.ss_mobile img{
		max-width:80%;
	}
	.btn_block_md{
		width:80%;
	}
	.footer_row2{
		padding-top:0;
	}
	/*-------jcarousel---------*/
	.jcarousel-control-prev{
		left:0;
	}
	.jcarousel-control-next{
		right:0;
	}
	/*-------car lease section---------*/
	.circle_offer{
		height:130px;
		width:130px;
		padding:13px 21px;
		bottom:36%;
	}
	.car_lease_front{
		padding-top:113px;
	}
	.circle_offer .style1{
		font-size:14px;
	}
	.circle_offer .style2, .circle_offer .style4{
		font-size:12px;
	}
	.btn_block_sm{
		width:100%;
	}
	
	
}

@media (min-width: 1024px) {
	li.dropdown:hover ul.dropdown-menu{
		display:block;
	}

}