.region-login-popup{
  display: inline-block !important;
}
.region-login-popup .form-item{
 	margin-top: 0; 
	margin-bottom:0; 
}
.region-login-popup  .form-actions{
	margin-top: 0; 
	margin-bottom:0; 
}