/*   
  SmartWizard 2.0 plugin 
  jQuery Wizard control Plugin
  by Dipu
  
  http://www.techlaboratory.net
  http://tech-laboratory.blogspot.com
*/
.swMain {
  position:relative;
  display:block;
  margin:0;
  padding:0;
  border: 0px solid #CCC;
  overflow:visible;
  float:left;
  width:100%;/* */
}
.swMain .stepContainer {
  display:block;
  position: relative;
  margin: 0;
  padding:0;    
  border: 0px solid #CCC;    
  overflow:hidden;
  clear:right;
  height:300px;
}

.swMain .stepContainer div.content {
  display:block;
  position: absolute; 
  width:100%; 
  margin: 0;
  padding:0 0 0 20px;    
  color:#5A5655;   
  height:500px;
  text-align:left;
  overflow:auto;    
  z-index:88; 
  clear:both;
}

.swMain div.actionBar {
  display:block;
  position: relative; 
  margin:             3px 0 0 0;   
  border:             1px solid #fff;
  padding:            0;    
  color:              #5A5655;   
  height:90px;
/*  width:730px; 
  float:right; */  
  text-align:left;
  overflow:auto;    
  z-index:88; 

}

.swMain .stepContainer .StepTitle {
  display:block;
  position: relative;
  margin:0;   
  clear:both;
  text-align:left; 
  z-index:88;
  color: #21abf3;
  padding-bottom: 10px;
}
.swMain ul.anchor {
  position: relative;
  display:block;
  float:left;
  list-style: none;
  padding: 15px 20px 20px 20px;  
  border: 0px solid #CCCCCC;    
  background:#e8e8e8; /*#EEEEEE */
}
.swMain ul.anchor li{ 
  position: relative; 
  display:block;
  margin: 0;
  padding: 0; 
  padding-top:3px;
  padding-bottom: 3px;
  border: 0px solid #E0E0E0;      
  float: left;
  clear:both;
  width:100%;
  box-sizing:border-box;
}
/* Anchor Element Style */
.swMain ul.anchor li a {
  display:block;
  position:relative;
  float:left;
  margin:0;
  width:100%;
  text-decoration: none;
  outline-style:none;
  z-index:99;
}
.swMain ul.anchor li a .stepNumber{
  position:relative;
  float:left;
  text-align: center;
  padding:5px;
  padding-top:0;
  font-size:30px;
  color:#502880;
}
.swMain ul.anchor li a .stepNumber:before {
  content: "\f1db";
}
.swMain ul.anchor li a.done .stepNumber:before {
  content: "\f058";
}
.swMain ul.anchor li a .stepDesc{
  position:relative;
  display:block;
  float:left;
  text-align: left;
  padding:5px;
  width:70%;
}
.swMain ul.anchor li a .stepDesc small{
}
.swMain ul.anchor li a.selected{
  color:#636363;
  font-weight:bold;
}
.swMain ul.anchor li a.selected:hover {
}

.swMain ul.anchor li a.done { 
  position:relative;
  color:#636363;  
  z-index:99;
}
.swMain ul.anchor li a.done:hover {
}
.swMain ul.anchor li a.disabled {
  color:#CCCCCC;  
  cursor:text;   
}
.swMain ul.anchor li a.disabled:hover {
}

.swMain ul.anchor li a.error {
  color:#6c6c6c !important;  
  background: #f08f75 !important;
  border: 1px solid #fb3500 !important;      
}
.swMain ul.anchor li a.error:hover {
  color:#000 !important;       
}

.swMain .buttonNext {
  display:block;
  float:right;
  margin:5px 3px 0 3px;
  padding:5px;
  text-decoration: none;
  text-align: center;
  width:100px;
  color:#FFF;
  outline-style:none;
}
.swMain .buttonDisabled {
  color:#F8F8F8  !important;
  background-color: #CCCCCC !important;
  border: 1px solid #CCCCCC  !important;
  cursor:text;    
}
.swMain .buttonPrevious {
  display:block;
  float:right;
  margin:5px 3px 0 3px;
  padding:5px;
  text-decoration: none;
  text-align: center;
  width:100px;
  color:#FFF;
  outline-style:none;
  background-color:   #5A5655;
  border: 1px solid #5A5655;
  font-size:19px;
}
.swMain .buttonFinish {
  display:block;
  float:right;
  margin:5px 10px 0 3px;
  padding:5px;
  text-decoration: none;
  text-align: center;
  width:100px;
  color:#FFF;
  outline-style:none;
  background-color:   #5A5655;
  border: 1px solid #5A5655;
  font-size:19px;
}

/* Form Styles */

.txtBox {
  border:1px solid #CCCCCC;
  color:#5A5655;
  padding:2px;
  width:430px;
}
.txtBox:focus {
  border:1px solid #EA8511;
}

.swMain .loader {
  position:relative;  
  display:none;
  float:left;  
  margin: 2px 0 0 2px;
  padding:8px 10px 8px 40px;
  border: 1px solid #FFD700; 
  color:#5A5655;       
  background: #FFF url(../images/loader.gif) no-repeat 5px;  
  z-index:998;
}
.swMain .msgBox {
  position:relative;  
  display:none;
  float:left;
  margin: 4px 0 0 5px;
  padding:5px;
  border: 1px solid #FFD700; 
  background-color: #FFFFDD;  
  color:#5A5655;         
  z-index:999;
  min-width:200px;  
}
.swMain .msgBox .content {
  padding: 0px;
  float:left;
}
.swMain .msgBox .close {
  border: 1px solid #CCC;
  color: #CCC;
  display: block;
  float: right;
  margin: 0 0 0 5px;
  outline-style: none;
  padding: 0 2px 0 2px;
  position: relative;
  text-align: center;
  text-decoration: none;
}
.swMain .msgBox .close:hover{
  color: #EA8511;
  border: 1px solid #EA8511;  
}
.swMain button{
	min-width:200px;
}