div.ctools-modal-content .modal-header{
  background-color:#e0e0d8 !important;
  padding: .5em 0.25em .5em 1em !important;
  
}
div.ctools-modal-content a.close,div.ctools-modal-content .modal-title{
  color: black;
}
 