.6af9574abc5936bbcd64ca9c1baff1116bd72b56 {
	display: block;
}
.touch-calendar-view table {
	width: 100%;
	border-collapse: separate;
	table-layout: fixed;
	font-size: 120%;
	color: #3f4e5e;
	background-color: #FFF;
	border: solid 1px black
}
.touch-calendar-view table.week td {
	vertical-align: top
}
.touch-calendar-view table.day td.time-block {
	text-align: left;
	background-image: none;
	font-size: .7em;
	height: 30px
}
.touch-calendar-view td {
	position: relative;
	text-align: center;
	vertical-align: middle;
	font-size: .9em;
	background-color: white;
	background-image: -webkit-gradient(linear, 50% 0, 50% 100%, color-stop(0%, white), color-stop(10%, white), color-stop(65%, white), color-stop(100%, white));
	background-image: -webkit-linear-gradient(white, white 10%, white 65%, white);
	background-image: linear-gradient(white, white 10%, white 65%, white)
}
.touch-calendar-view td.today {
	color: #fff;
	text-shadow: #333 1px 1px 2px;
	-webkit-box-shadow: inset 0 0 8px #000;
	border: 1px solid black;
	background: #7188a8;
	background-color: #44566f;
	background-image: -webkit-gradient(linear, 50% 0, 50% 100%, color-stop(0%, #313d4f), color-stop(10%, #3a4a5f), color-stop(65%, #44566f), color-stop(100%, #455771));
	background-image: -webkit-linear-gradient(#313d4f, #3a4a5f 10%, #44566f 65%, #455771);
	background-image: linear-gradient(#313d4f, #3a4a5f 10%, #44566f 65%, #455771)
}
.touch-calendar-view td.unselectable {
	color: #89909a;
	background-color: #4b3f41
}
.touch-calendar-view td.selected {
	color: #fff;
	text-shadow: #333 1px 1px 0;
	border: 1px solid black;
	background: #1980e5;
	background-color: #4699eb;
	background-image: -webkit-gradient(linear, 50% 0, 50% 100%, color-stop(0%, #8bbff2), color-stop(50%, #5da6ed), color-stop(51%, #4699eb), color-stop(100%, #2f8de8));
	background-image: -webkit-linear-gradient(#8bbff2, #5da6ed 50%, #4699eb 51%, #2f8de8);
	background-image: linear-gradient(#8bbff2, #5da6ed 50%, #4699eb 51%, #2f8de8)
}
.touch-calendar-view td.today.selected {
	color: #fff;
	text-shadow: #333 1px 1px 2px;
	border: 1px solid black;
	background: #1980e5;
	background-color: #0f4d89;
	background-image: -webkit-gradient(linear, 50% 0, 50% 100%, color-stop(0%, #0a335b), color-stop(10%, #0c4072), color-stop(65%, #0f4d89), color-stop(100%, #0f4e8b));
	background-image: -webkit-linear-gradient(#0a335b, #0c4072 10%, #0f4d89 65%, #0f4e8b);
	background-image: linear-gradient(#0a335b, #0c4072 10%, #0f4d89 65%, #0f4e8b)
}
.touch-calendar-view td.prev-month, .touch-calendar-view td.next-month {
	color: #89909a
}
.touch-calendar-view td.prev-month.selected, .touch-calendar-view td.next-month.selected {
	color: #fff
}
.touch-calendar-view thead {
	background-color: white;
	background-image: -webkit-gradient(linear, 50% 0, 50% 100%, color-stop(0%, white), color-stop(2%, white), color-stop(100%, white));
	background-image: -webkit-linear-gradient(white, white 2%, white);
	background-image: linear-gradient(white, white 2%, white)
}
.touch-calendar-view thead th {
	font-size: 9px;
	vertical-align: bottom;
	padding-bottom: 3px;
	color: #3f4e5e;
	text-align: center;
	height: 42px;
	text-shadow: white 1px 1px 1px;
	font-weight: bold;
	border-bottom: 1px solid #a3a7af
}
.touch-calendar-view thead th:first-child {
	background: url(../images/larr.png) center 27% no-repeat;
	cursor: pointer
}
.touch-calendar-view thead th:last-child {
	background: url(../images/rarr.png) center 27% no-repeat;
	cursor: pointer
}
.touch-calendar-view thead th span {
	font-size: 15px;
	font-weight: bold;
	height: 24px;
	left: 14.5%;
	position: absolute;
	text-align: center;
	top: 6px;
	width: 71%;
	z-index: 999;
	text-shadow: white 1px 1px 1px
}
.touch-calendar-view thead th {
	background: 0;
	background-color: #acdee7;
	padding-bottom: 0;
	border-bottom: 0;
	height: 57px
}
.touch-calendar-view thead th:first-child, .touch-calendar-view thead th:last-child {
	background-color: #acdee7
}
.touch-calendar-view thead th span {
	text-shadow: none;
	font-weight: normal;
	top: 8px
}
.touch-calendar-view thead th p {
	padding: 5px 0;
	margin: 0;
	background-color: #e7e7e7;
	color: #000!important;
	font-weight: normal;
	font-size: 11px
}
.touch-calendar-view tbody td {
	background: 0;
	background-color: #d7d7d7;
	font-size: 12px;
	padding: 8px;
	color: #2f2f3b;
	font-weight: 600
}
.touch-calendar-view table {
	border: 0;
	background-color: #e7e7e7!important
}
.touch-calendar-view td.prev-month, .touch-calendar-view td.next-month {
	color: #818181
}
.touch-calendar-view td.today.selected, .touch-calendar-view td.today, .touch-calendar-view td.selected {
	background: url(../images/circle_blue.png) no-repeat center center #d7d7d7;
	border: 0;
	color: #2f2f3b;
	text-shadow: none;
	box-shadow: none
}
.touch-calendar-view td.selected {
	background: url(../images/circle_grey.png) no-repeat center center #d7d7d7
}
.calendar-icon-cust {
	background: url(../images/icon_calendar.png) no-repeat 0 center;
	height: 48px;
	padding: 5px 5px 10px
}
.x-tablet .calendar-icon-cust {
	padding-right: 0
}
.cal-arrow-down {
	margin-top: 10px
}
.cal-arrow-right {
	margin-top: 5px
}
.touch-calendar-view table tbody {
	padding-bottom: 20px
}
@media(-webkit-min-device-pixel-ratio:2), (min-resolution:192dpi) {
.touch-calendar-view thead th:first-child {
	background: url(../images/larr@2x.png) center 27% no-repeat #acdee7;
	background-size: 9px auto
}
.touch-calendar-view thead th:last-child {
	background: url(../images/rarr@2x.png) center 27% no-repeat #acdee7;
	background-size: 9px auto
}
.calendar-icon-cust {
	background: url(../images/icon_calendar@2x.png) no-repeat 0 center;
	background-size: 32px auto
}
}
